<div class="row">
  <div class="col-sm-12">
    <div class="element-wrapper form-wrapper">

      <div class="element-box">

        <form [formGroup]="organizationForm" id="formValidate">
          <h5 class="form-header">Create Organization</h5>

          <p class="form-desc">
            Enter your organization information.
          </p>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name">
            <mat-error *ngIf="name.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Purpose</mat-label>
            <textarea matInput  [formControl]="purpose"></textarea>
          </mat-form-field>

          <div class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">Failed to create organization.</span></div>

          <div class="form-buttons-w">
            <button mat-flat-button color="primary" [disabled]="!organizationForm.valid" type="submit" (click)="onCreate()">Confirm</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

