<div class="fade1"></div>
<div class="desktop-menu menu-top-w menu-activated-on-hover">
  <div class="menu-top-i os-container">
    <div class="logo-w">
      <div class="logo-element"></div>
    </div>
    <ul class="main-menu">
      <li class="active">
        <a href="#sectionIntro">Home</a>
      </li>
      <li>
        <a href="#sectionDemos">Demos</a>
      </li>
      <li>
        <a href="#sectionFeatures">Features</a>
      </li>
      <li>
        <a href="#sectionTestimonials">Reviews</a>
      </li>
    </ul>
    <ul class="small-menu">
      <li>
        <a href="#"><i class="os-icon os-icon-email-forward"></i><span>Contact</span></a>
      </li>
      <li class="separate">
        <a href="#">Login</a>
      </li>
      <li>
        <a class="highlight" href="https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin">Purchase</a>
      </li>
    </ul>
  </div>
  <div class="mobile-menu-w">
    <div class="mobile-menu-holder color-scheme-dark">
      <ul class="mobile-menu">
        <li class="active">
          <a href="#sectionIntro">Home</a>
        </li>
        <li>
          <a href="#sectionDemos">Demos</a>
        </li>
        <li>
          <a href="#sectionFeatures">Features</a>
        </li>
        <li>
          <a href="#sectionTestimonials">Reviews</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin">Purchase</a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-i">
      <div class="mobile-logo-w">
        <div class="logo-element"></div>
      </div>
      <div class="mobile-menu-trigger">
        <i class="os-icon os-icon-hamburger-menu-1"></i>
      </div>
    </div>
  </div>
</div>