<div class="col-sm-6 mx-auto">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label><b>Email or Phone</b></label>
      <input type="text" formControlName="username" placeholder="Email or Phone" name="username" required>

      <div *ngIf="errorExists" class="alert alert-danger">
        <strong>Error!</strong> Unable to send forgot password message.
      </div>

      <div *ngIf="messageSent" class="alert alert-success">
        <strong>Success!</strong> Forgot password message sent.
      </div>

      <!--suppress HtmlUnknownAttribute -->
      <button [disabled]="!forgotPasswordForm.valid" type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1" align="right">
      <div class="psw">Login <a href="#" routerLink="/login/sign-in" >now?</a></div>
    </div>
  </form>
</div>