/* 3f. Override bootstrap breadcrumbs styles */
.breadcrumb {
  list-style: none;
  margin: 0px;
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: transparent;
  letter-spacing: 0.7px;
}

.breadcrumb li {
  margin-bottom: 0px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.585rem;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.breadcrumb li a {
  color: #3E4B5B;
}

.breadcrumb li span {
  color: rgba(0, 0, 0, 0.4);
}

.breadcrumbs + .content-box {
  padding-top: 0px;
}
