/* 3e. Override bootstrap button styles */
.toggled-buttons .btn-toggled {
  border: 2px solid #047bf8;
  border: 2px solid transparent;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.72rem;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.3);
  margin: 5px 0px;
}

.toggled-buttons .btn-toggled.on, .toggled-buttons .btn-toggled:hover {
  border-color: #047bf8;
  color: #047bf8;
}

.toggled-buttons .btn-toggled + .btn-toggled {
  margin-left: 10px;
}

.toggled-buttons.solid .btn-toggled {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.81rem;
}

.toggled-buttons.solid .btn-toggled.on, .toggled-buttons.solid .btn-toggled:hover {
  background-color: #047bf8;
  color: #fff;
}

.btn-sm, .btn-group-sm > .btn, .all-wrapper .btn-group-sm > .fc-button {
  padding: 0.2rem 0.5rem;
  font-size: 0.675rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

.btn-white, .all-wrapper .fc-button {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.btn-white:hover, .all-wrapper .fc-button:hover {
  color: #333;
  background-color: #e6e5e5;
  border-color: #e0e0e0;
}

.btn-white:focus, .all-wrapper .fc-button:focus, .btn-white.focus, .all-wrapper .focus.fc-button {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.btn-white.disabled, .all-wrapper .disabled.fc-button, .btn-white:disabled, .all-wrapper .fc-button:disabled {
  background-color: #fff;
  border-color: #fff;
}

.btn-white:active, .all-wrapper .fc-button:active, .btn-white.active, .all-wrapper .active.fc-button,
.show > .btn-white.dropdown-toggle, .all-wrapper
.show > .dropdown-toggle.fc-button {
  color: #333;
  background-color: #e6e5e5;
  background-image: none;
  border-color: #e0e0e0;
}

.btn-grey {
  color: #464D6C;
  background-color: #E5E6EB;
  border-color: #E5E6EB;
}

.btn-grey:hover {
  color: #464D6C;
  background-color: #c8cad5;
  border-color: #c2c5d0;
}

.btn-grey:focus, .btn-grey.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(229, 230, 235, 0.5);
  box-shadow: 0 0 0 2px rgba(229, 230, 235, 0.5);
}

.btn-grey.disabled, .btn-grey:disabled {
  background-color: #E5E6EB;
  border-color: #E5E6EB;
}

.btn-grey:active, .btn-grey.active,
.show > .btn-grey.dropdown-toggle {
  color: #464D6C;
  background-color: #c8cad5;
  background-image: none;
  border-color: #c2c5d0;
}

.btn-white-gold {
  color: #CF8D0D;
  background-color: #fff;
  border-color: #fff;
}

.btn-white-gold:hover {
  color: #CF8D0D;
  background-color: #e6e5e5;
  border-color: #e0e0e0;
}

.btn-white-gold:focus, .btn-white-gold.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.btn-white-gold.disabled, .btn-white-gold:disabled {
  background-color: #fff;
  border-color: #fff;
}

.btn-white-gold:active, .btn-white-gold.active,
.show > .btn-white-gold.dropdown-toggle {
  color: #CF8D0D;
  background-color: #e6e5e5;
  background-image: none;
  border-color: #e0e0e0;
}

.btn-teal {
  color: #fff;
  background-color: #31C37F;
  border-color: transparent;
}

.btn-teal:hover {
  color: #fff;
  background-color: #279a64;
  border-color: transparent;
}

.btn-teal:focus, .btn-teal.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.btn-teal.disabled, .btn-teal:disabled {
  background-color: #31C37F;
  border-color: transparent;
}

.btn-teal:active, .btn-teal.active,
.show > .btn-teal.dropdown-toggle {
  color: #fff;
  background-color: #279a64;
  background-image: none;
  border-color: transparent;
}

.btn-link.btn-danger {
  color: #e65252;
}

.btn, .all-wrapper .fc-button {
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  outline: none;
  line-height: 1;
}

.btn.btn-secondary:focus, .all-wrapper .btn-secondary.fc-button:focus, .btn.btn-secondary.focus, .all-wrapper .btn-secondary.focus.fc-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn .os-icon, .all-wrapper .fc-button .os-icon {
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
}

.btn .os-icon + span, .all-wrapper .fc-button .os-icon + span {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.btn span + .os-icon, .all-wrapper .fc-button span + .os-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.btn.btn-sm, .btn-group-sm > .btn, .all-wrapper .btn-group-sm > .fc-button, .all-wrapper .btn-sm.fc-button {
  letter-spacing: 1px;
}

.btn.btn-sm .os-icon, .btn-group-sm > .btn .os-icon, .all-wrapper .btn-group-sm > .fc-button .os-icon, .all-wrapper .btn-sm.fc-button .os-icon {
  font-size: 14px;
}

.btn.btn-sm .os-icon + span, .btn-group-sm > .btn .os-icon + span, .all-wrapper .btn-group-sm > .fc-button .os-icon + span, .all-wrapper .btn-sm.fc-button .os-icon + span {
  margin-left: 0.5rem;
}

.btn.btn-sm span + .os-icon, .btn-group-sm > .btn span + .os-icon, .all-wrapper .btn-group-sm > .fc-button span + .os-icon, .all-wrapper .btn-sm.fc-button span + .os-icon {
  margin-left: 0.5rem;
}

.btn.btn-rounded, .all-wrapper .btn-rounded.fc-button {
  border-radius: 40px;
}

.btn.btn-upper, .all-wrapper .btn-upper.fc-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.btn.btn-underlined, .all-wrapper .btn-underlined.fc-button {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}

.btn.btn-underlined span, .all-wrapper .btn-underlined.fc-button span {
  border-bottom: 2px solid #047bf8;
}

.btn.btn-underlined i, .all-wrapper .btn-underlined.fc-button i {
  font-size: 0.63rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn.btn-underlined:hover, .all-wrapper .btn-underlined.fc-button:hover {
  color: #0362c6;
}

.btn.btn-underlined:hover span, .all-wrapper .btn-underlined.fc-button:hover span {
  border-color: #0362c6;
}

.btn.btn-underlined:hover i, .all-wrapper .btn-underlined.fc-button:hover i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.btn.btn-underlined.btn-gold, .all-wrapper .btn-underlined.btn-gold.fc-button {
  color: #BE8B1C;
}

.btn.btn-underlined.btn-gold span, .all-wrapper .btn-underlined.btn-gold.fc-button span {
  border-color: #BE8B1C;
}

.btn.btn-underlined.btn-gold:hover, .all-wrapper .btn-underlined.btn-gold.fc-button:hover {
  color: #926a15;
}

.btn.btn-underlined.btn-gold:hover span, .all-wrapper .btn-underlined.btn-gold.fc-button:hover span {
  border-color: #926a15;
}
