/* 3h. Override bootstrap modal styles */
.modal-content {
  -webkit-box-shadow: 0 25px 65px rgba(4, 111, 223, 0.5);
  box-shadow: 0 25px 65px rgba(4, 111, 223, 0.5);
}

.modal-footer.buttons-on-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.modal-header.faded {
  background-color: rgba(0, 0, 0, 0.05);
}

.modal-header.smaller {
  font-size: 0.99rem;
}

.modal-header span, .modal-header strong, .modal-header .avatar {
  display: inline-block;
  vertical-align: middle;
}

.modal-header span {
  color: #999;
  margin-right: 5px;
}

.modal-header .avatar {
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.modal-header .avatar + span {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  margin-left: 15px;
}

/* 3h. Override bootstrap popover styles */
.popover {
  font-size: 0.99rem;
  -webkit-box-shadow: 0 5px 50px rgba(4, 123, 248, 0.3);
  box-shadow: 0 5px 50px rgba(4, 123, 248, 0.3);
}

.popover-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: #fff;
}
