/* 3b. Override bootstrap table styles */
.table .user-with-avatar {
  white-space: nowrap;
}

.table .user-with-avatar img {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50px;
}

.table .user-with-avatar span {
  display: inline-block;
  vertical-align: middle;
}

.table .user-with-avatar img + span {
  margin-left: 10px;
}

.table th {
  font-weight: 500;
}

.table .smaller {
  font-size: 0.72rem;
}

.table .lighter {
  color: rgba(90, 99, 126, 0.49);
}

.table.table-editable td:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #047bf8;
  box-shadow: inset 0px 0px 0px 2px #047bf8;
}

.table.table-lightborder td {
  border-top-color: rgba(83, 101, 140, 0.08);
}

.table.table-lightfont td {
  font-weight: 300;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th img, .table td img {
  max-width: 100%;
}

.table thead th {
  border-bottom: 1px solid #999;
}

.table tfoot th {
  border-top: 1px solid #999;
}

.table tfoot th,
.table thead th {
  font-size: 0.63rem;
  text-transform: uppercase;
  border-top: none;
}

.table tbody + tbody {
  border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.table td.nowrap {
  white-space: nowrap;
}

.table .row-actions {
  text-align: center;
}

.table .row-actions .os-icon {
  font-size: 16px;
}

.table .row-actions a {
  margin-right: 0.8rem;
  color: #3E4B5B;
}

.table .row-actions a.danger {
  color: #9d1818;
}

.table .row-actions a:last-child {
  margin-right: 0px;
}

.table .cell-image-list {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.table .cell-image-list .cell-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  cursor: pointer;
}

.table .cell-image-list .cell-img:nth-child(1) {
  z-index: 5;
}

.table .cell-image-list .cell-img:nth-child(2) {
  z-index: 4;
}

.table .cell-image-list .cell-img:nth-child(3) {
  z-index: 3;
}

.table .cell-image-list .cell-img:nth-child(4) {
  z-index: 2;
}

.table .cell-image-list .cell-img:nth-child(5) {
  z-index: 1;
}

.table .cell-image-list .cell-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.table .cell-image-list .cell-img + .cell-img {
  margin-left: -15px;
}

.table .cell-image-list .cell-img + .cell-img:hover {
  -webkit-transform: translateX(5px) scale(1.1);
  transform: translateX(5px) scale(1.1);
}

.table .cell-image-list .cell-img-more {
  font-size: 0.63rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -70%;
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 4px;
  z-index: 7;
  white-space: nowrap;
}

@media (min-width: 1100px) {
  .table-responsive {
    overflow: visible;
  }
}

.table-lg td {
  padding: 1.2rem 1.5rem;
}

.table.table-v2 thead tr th, .table.table-v2 tfoot tr th {
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.05);
}

.table.table-v2 thead tr th:first-child, .table.table-v2 tfoot tr th:first-child {
  border-left: 1px solid #999;
}

.table.table-v2 thead tr th:last-child, .table.table-v2 tfoot tr th:last-child {
  border-right: 1px solid #999;
}

.table.table-v2 tbody tr td {
  border-color: #d1d8e6;
}

.controls-above-table {
  margin-bottom: 1rem;
}

.controls-above-table .btn, .controls-above-table .all-wrapper .fc-button, .all-wrapper .controls-above-table .fc-button {
  margin-right: 0.5rem;
}

.controls-above-table .form-control {
  margin-right: 1rem;
}

.controls-above-table .form-control:last-child {
  margin-right: 0px;
}

.controls-below-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.81rem;
}

.controls-below-table .table-records-info {
  color: rgba(0, 0, 0, 0.5);
}

.controls-below-table .table-records-pages ul {
  list-style: none;
}

.controls-below-table .table-records-pages ul li {
  display: inline-block;
  margin: 0px 10px;
}

.controls-below-table .table-records-pages ul li a.current {
  color: #3E4B5B;
}

.all-wrapper table.dataTable {
  border-collapse: collapse !important;
}

.table.table-padded {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table.table-padded thead tr th {
  border: none;
  font-size: 0.81rem;
  color: rgba(90, 99, 126, 0.49);
  letter-spacing: 1px;
  padding: 0.3rem 1.1rem;
}

.table.table-padded tbody tr {
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.table.table-padded tbody tr:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  -webkit-transform: translateY(-1px) scale(1.01);
  transform: translateY(-1px) scale(1.01);
}

.table.table-padded tbody td {
  padding: 0.9rem 1.1rem;
  background-color: #fff;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.table.table-padded tbody td.bolder {
  font-weight: 500;
  font-size: 0.99rem;
}

.table.table-padded tbody td img {
  display: inline-block;
  vertical-align: middle;
}

.table.table-padded tbody td img + span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.table.table-padded tbody td span + span {
  margin-left: 5px;
}

.table.table-padded tbody td .status-pill + span {
  margin-left: 10px;
}

.table.table-padded tbody td:first-child {
  border-radius: 4px 0px 0px 4px;
}

.table.table-padded tbody td:last-child {
  border-radius: 0px 4px 4px 0px;
  border-right: none;
}

.element-box .table:last-child, .invoice-w .table:last-child, .big-error-w .table:last-child {
  margin-bottom: 0;
}
