<div>
  <div *ngIf="activePane === 'home'" class="row">
    <div class="col-sm-12">
      <div class="element-wrapper form-wrapper">

        <div class="element-box">
          <form [formGroup]="assetTypeForm">
            <h5 class="form-header">
              {{ update ? "Update" : "New" }} Asset Type
            </h5>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Instance Of</mat-label>
              <mat-select [formControl]="instanceOf">
                <mat-option *ngFor="let instance of instances" [value]="instance.instanceId">{{instance.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="instanceOf.hasError('required')">
                Instance of is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Type Of</mat-label>
              <input matInput [formControl]="parent" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let assetType of assetTypes" [value]="assetType.name" (onSelectionChange)="onAssetTypeSelect(assetType)">{{assetType.name}}</mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="parent.hasError('required')">
                Type of is <strong>required</strong>, e.g Discrete Item.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [formControl]="name">
              <mat-error *ngIf="name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput  [formControl]="description"></textarea>
            </mat-form-field>

            <div class="spec">
              <fieldset *ngIf="instanceOf.value === '8bc5fa8a-84b6-4088-91d4-8a1cc84e7cff'">
                <legend><span>Asset Specification</span></legend>

                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
                  <div fxFlex="1 1 auto">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Brand</mat-label>
                      <input matInput [formControlName]="'brand'" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let brand of brands" [value]="brand.name" (onSelectionChange)="onBrandSelect(brand.brandId)">{{brand.name}}</mat-option>
                      </mat-autocomplete>
                      <mat-hint>Select Brand, e.g Troumaka.</mat-hint>
                    </mat-form-field>
                  </div>
                  <div fxFlex="0 0 auto">
                    <button mat-icon-button
                            matTooltip="Create new"
                            (click)="activePane = 'brand'"
                    ><mat-icon color="primary">add_circle_outline</mat-icon></button>
                  </div>
                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Model Number</mat-label>
                      <input matInput [formControl]="modelNumber">
                      <mat-error *ngIf="modelNumber.hasError('required')">
                        Model Number is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Standard Price</mat-label>
                      <input type="number" matInput [formControl]="standardPrice">
                      <mat-error *ngIf="standardPrice.hasError('required')">
                        Standard Price is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Effective Date</mat-label>
                      <input matInput [matDatepicker]="effPicker" [formControl]="effectiveDate">
                      <mat-datepicker-toggle matSuffix [for]="effPicker"></mat-datepicker-toggle>
                      <mat-datepicker #effPicker></mat-datepicker>
                      <mat-error *ngIf="effectiveDate.hasError('required')">
                        Effective Date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Total Sales Value</mat-label>
                      <input type="number" matInput [formControl]="totalSV">
                      <mat-error *ngIf="totalSV.hasError('required')">
                        Total Sales Value is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              </fieldset>

            </div>

            <mat-tab-group>
            <mat-tab label="Characteristics">
            <app-asset-characteristic-sec [parentForm]="assetTypeForm" [assignedChars]="assignedChars" (panel)="setPanel($event)" ></app-asset-characteristic-sec>
            </mat-tab>
            <mat-tab label="Names">
            <app-asset-name-sec [parentForm]="assetTypeForm" [assetNames]="assetNames" (panel)="setPanel($event)"></app-asset-name-sec>
            </mat-tab>
            <mat-tab label="Identifiers">
            <app-asset-identifier-sec [parentForm]="assetTypeForm" [assetIdentifiers]="assetIdentifiers" (panel)="setPanel($event)"></app-asset-identifier-sec>
            </mat-tab>
            <mat-tab label="Roles">
            <app-asset-role-sec [parentForm]="assetTypeForm" [assetRoles]="assetRoles" (panel)="setPanel($event)"></app-asset-role-sec>
            </mat-tab>
            </mat-tab-group>

            <div class="error-box-text">
              <span [hidden]="doNotDisplayFailureMessage" class="text-danger">{{update ? 'Update': 'New'}} Asset Type failed.</span>
            </div>
            <div class="form-buttons-w">
              <button mat-flat-button color="primary" [disabled]="!assetTypeForm.valid" type="submit" (click)=" update ? onUpdate() : onCreate()">{{ update ? "Update":"Create"}}</button>
              <button class="right-button-form" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <app-asset-characteristic-form *ngIf="activePane === 'char'" [trans]="true" (panel)="setPanel($event)"></app-asset-characteristic-form>
  <app-asset-identifier-type-form *ngIf="activePane === 'id'" [trans]="true" (panel)="setPanel($event)"></app-asset-identifier-type-form>
  <app-asset-name-type-form *ngIf="activePane === 'name'" [trans]="true" (panel)="setPanel($event)"></app-asset-name-type-form>
  <app-asset-role-type-form *ngIf="activePane === 'role'" [trans]="true" (panel)="setPanel($event)"></app-asset-role-type-form>
  <app-brand-form *ngIf="activePane === 'brand'" [trans]="true" (panel)="setPanel($event)"></app-brand-form>
</div>







