<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <h5 class="element-header">
            {{ update ? "Update" : "New" }} Asset Type
          </h5>

          <form [formGroup]="assetTypeForm">
            <h6 class="form-header">
              Asset Type
            </h6>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [formControl]="name">
              <mat-error *ngIf="name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput  [formControl]="description"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Instance Of</mat-label>
              <mat-select [formControl]="instanceOf">
                <mat-option *ngFor="let instance of instances" [value]="instance.instanceId">{{instance.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Sub Type Of</mat-label>
              <mat-icon matSuffix color="primary">add_circle_outline</mat-icon>
              <input matInput [formControl]="subTypeOf" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let assetType of assetTypes" [value]="assetType.name" (onSelectionChange)="onAssetTypeSelect(assetType)">{{assetType.name}}</mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="subTypeOf.hasError('required')">
                Sub Type Of is <strong>required</strong>
              </mat-error>
              <mat-hint>Select A Super Type. E.g Discrete Item.</mat-hint>
            </mat-form-field>

            <!--<app-asset-spec-form *ngIf="instanceOf.value === '2'" [parentForm]="" (onBrandSelect)="onBrandSelect($event)"></app-asset-spec-form>-->

            <div class="error-box-text">
              <span [hidden]="doNotDisplayFailureMessage" class="text-danger">{{update ? 'Update': 'New'}} Asset Type failed.</span>
            </div>

            <div class="form-buttons-w">
              <button mat-flat-button color="primary" [disabled]="!assetTypeForm.valid" type="submit" (click)=" update ? onUpdate() : onCreate()">{{ update ? "Update":"Create"}}</button>
              <button class="right-button-form" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
