<div class="content-i asset-container">

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="assetTypeForm" id="formValidate">
              <h5 class="form-header">
                {{ assetTypeExist ? "Edit" : "New" }} Asset Type Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{ assetTypeExist ? "update" : "create" }} asset type.</div>

              <div class="form-group">
                <label for="name">Name</label><input id="name" class="form-control" formControlName="name" placeholder="Name" required="required" type="text">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
              </div>

              <!--<div class="form-group" [class]="(assetTypeClassId.valid) ? 'ng2-completer-valid':'ng2-completer-invalid'">-->
                <!--<label for="asset-type-class">Asset Type Class</label>-->
                <!--<ng2-completer [datasource]="assetTypeClassIdDataService"-->
                               <!--[inputClass]="'form-control form-control-inline'"-->
                               <!--[minSearchLength]="0"-->
                               <!--[maxChars]="4"-->
                               <!--[inputClass]="'form-control'"-->
                               <!--[placeholder]="'Select an Asset Type Class'"-->
                               <!--[matchClass]="'match'"-->
                               <!--formControlName="assetTypeClassId"-->
                               <!--[autofocus]="true"-->
                               <!--[clearUnselected]="true"-->
                               <!--[fillHighlighted]="false"-->
                               <!--[openOnClick]="true"-->
                               <!--[textSearching]="false"-->
                               <!--(selected)="onAssetTypeClassIdSelect($event)"-->
                               <!--required-->
                               <!--id="asset-type-class">-->
                <!--</ng2-completer>-->
                <!--<div [hidden]="assetTypeClassId.valid || assetTypeClassId.pristine" class="alert alert-danger">Select an asset type class.</div>-->
              <!--</div>-->

              <div class="form-group">
                <label for="model-number">Model Number</label><input id="model-number" class="form-control" formControlName="modelNumber" placeholder="Model Number" type="text">
                <div [hidden]="modelNumber.valid || modelNumber.pristine" class="alert alert-danger">Invalid model number.</div>
              </div>

              <div class="form-group">
                <label for="material-code">Material Code</label><input id="material-code" class="form-control" formControlName="materialCode" placeholder="Material Code" type="text">
                <div [hidden]="materialCode.valid || materialCode.pristine" class="alert alert-danger">Invalid material code.</div>
              </div>

              <app-unit-of-measure (unitOfMeasureEvent)="setUnitOfMeasureId($event)" [initialUnitOfMeasureId]="unitOfMeasureId"></app-unit-of-measure>

              <div [formGroup]="valuesForm" class="sub-form">
                <div *ngFor="let assigned of assignedAttributes" class="form-group">
                  <div *ngIf="assigned.dataTypeId == '61ae91b0-e01f-414b-98c6-2e5da6b12ff0'; else normalInput" class="form-check">
                    <label [attr.for]="assigned.attribute?.name +'-check-box'" class="form-check-label"><input [id]="assigned.attribute?.name+'-check-box'" class="form-check-input" formControlName="{{assigned.attributeId}}"type="checkbox" [required]="assigned.required">{{assigned.attribute?.name}}</label>
                    <div [hidden]="assigned.attributeId +'.valid' || assigned.attributeId +'.pristine'" class="alert alert-danger">Select {{assigned.attribute?.name}}.</div>
                  </div>

                  <ng-template #normalInput>
                    <div class="form-group">
                      <label [attr.for]="assigned.attribute?.name+'-input'">{{assigned.attribute?.name}}</label><input [id]="assigned.attribute?.name+'-input'" class="form-control" formControlName="{{assigned.attributeId}}" placeholder="Enter Value" [type]="onType(assigned.dataTypeId)" [required]="assigned.required">
                      <div [hidden]="assigned.attributeId +'.valid' || assigned.attributeId +'.pristine'" class="alert alert-danger">Invalid {{assigned.attribute?.name}}.</div>
                    </div>
                  </ng-template>
                </div>
              </div>


              <div class="form-group">
                <label for="description">Description</label><input id="description" class="form-control" formControlName="description" placeholder="Description" type="text">
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
              </div>

            </form>

            <div class="form-buttons-w">
              <button class="btn btn-primary" [disabled]="!assetTypeForm.valid || !valuesForm.valid" (click)="assetTypeExist ?  onUpdate() : onCreate()" type="button">{{ assetTypeExist ? "Update": "Create"}}</button>
              <button class="btn btn-outline-danger right-button" type="cancel" (click)="cancel()">Cancel</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
