- content_box_file = '../apps/_content_bank.slim'
- menu_file = '../_partials/_menu_side_v2.slim'
- no_breadcrumbs = true
- all_solid_bg = true
- secondary_top_menu_banking = true
- menu_secondary_dark = true
- is_flying_menu = true

include ../_partials/_template.slim