- content_box_file = '../apps/_content_email.slim'
- menu_file = '../_partials/_menu_side_compact.slim'
- menu_dark = true
- no_padding = true
- no_breadcrumbs = true

include ../_partials/_template.slim