- content_box_file = '../apps/_content_support_index.slim'
- menu_file = '../_partials/_menu_side_compact.slim'
- no_breadcrumbs = true
- all_solid_bg = true
- secondary_top_menu_support = true
- menu_secondary_dark = true
- is_flying_menu = true
- full_screen = true

include ../_partials/_template.slim