- content_box_file = '../apps/_content_todo.slim'
- menu_file = '../_partials/_menu_side_compact.slim'
- menu_dark = false
- no_breadcrumbs = true
- secondary_top_menu = true
- no_padding = true

- extra_js_files = ['bower_components/dragula.js/dist/dragula.min.js']
- extra_css_files = ['bower_components/dragula.js/dist/dragula.min.css']

include ../_partials/_template.slim