<div class="content-w">

  <top-menu menuName="billings-menu"></top-menu>

  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper compact pt-4">
        <div class="element-actions">
          <a class="btn btn-primary btn-sm" href data-target="#billingModal1" data-toggle="modal" (click)="onBillingModalOpen('new')"><i class="os-icon os-icon-ui-22"></i><span>Add Account</span></a>
        </div>
        <h6 class="element-header">
          Financial Overview
        </h6>
        <div class="element-box-tp">
          <div class="row">

            <div class="col-lg-7 col-xxl-6">
              <!--START - BALANCES-->
              <div  *ngFor="let subscription of subscriptions" class="element-balances">
                <div class="balance">
                  <div class="balance-title">
                    {{ subscription.name }}
                  </div>
                  <div class="balance-value">
                    {{ subscription.cost }}
                  </div>
                  <div class="balance-link">
                    <a class="btn btn-link btn-underlined" href="#"><span>Unsubscribe</span></a>
                  </div>
                </div>
              </div>

              <div  *ngIf="subscriptions.length < 1" class="element-balances">
                <div class="balance">
                  <div class="balance-title">
                    No Billing
                  </div>
                </div>
              </div>
              <!--END - BALANCES-->
            </div>

            <div class="col-lg-5 col-xxl-6">
              <!--START - MESSAGE ALERT-->
              <div class="row">
                <div class="col-12">
                  <div class="element-balances">
                    <div class="balance">
                      <div class="balance-title">
                        Total Monthly Subscription
                      </div>
                      <div class="balance-value">
                        {{ totalBilling || '0' }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Payment Methods
                    </h6>
                    <div class="element-box">
                      <div class="table-responsive table-section">
                        <table class="table table-striped table-lightfont table-full-width">
                          <thead>
                          <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Ending</th>
                            <th class="text-center">Actions</th>
                          </tr>
                          </thead>
                          <tfoot>
                          <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Ending</th>
                            <th class="text-center">Actions</th>
                          </tr>
                          </tfoot>
                          <tbody>
                          <tr role="row" *ngFor="let creditCard of creditCards; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
                            <td>{{creditCard.type}}</td>
                            <td>{{creditCard.cardName}}</td>
                            <td>{{creditCard.ending}}</td>
                            <td class="row-actions">
                              <a href="#" data-target="#billingModal1" data-toggle="modal" (click)="onBillingModalOpen('edit', creditCard)"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(creditCard.creditCardId, creditCard.cardName + ' ' + creditCard.ending);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                            </td>
                          </tr>
                          <tr *ngIf="creditCards.length <= 0" class="odd">
                            <td valign="top" align="" colspan="9" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
                          </tr>
                          </tbody>
                        </table>
                        <app-delete-modal [name]="cardName" (delete)="onDelete($event)"></app-delete-modal>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!--END - MESSAGE ALERT-->
            </div>

          </div>
        </div>
      </div>

      <!--START - Transactions Table-->
      <div class="element-wrapper">
        <h6 class="element-header">
          Recent Transactions
        </h6>
        <div class="element-box-tp">
          <div class="table-responsive">
            <table class="table table-padded">
              <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Description
                </th>
                <th class="text-center">
                  Subscription
                </th>
                <th class="text-right">
                  Amount
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let billing of billings">
                <td>
                  <span>{{ billing.date }}</span>
                </td>
                <td>
                  <span>{{ billing.description }}</span>
                </td>
                <td class="text-center">
                  <span>{{ billing.name }}</span>
                </td>
                <td class="text-right bolder nowrap">
                  <span class="text-danger">- {{ billing.amount }} USD</span>
                </td>
              </tr>
              <tr *ngIf="billings.length < 1">
                <td  valign="top" align="" colspan="4" class="text-center">No Data</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden="true" class="onboarding-modal modal fade animated" id="billingModal1" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
      <div class="modal-content text-center">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
        <app-billing-modal (billingChanged)="onBillingChanges($event)" [modalType]="billingModalType" [importedCreditCard]="creditCard"></app-billing-modal>
      </div>
    </div>
  </div>

  <button hidden #openButton data-target="#primaryModal1" data-toggle="modal"></button>
  <div aria-hidden="true" aria-labelledby="primaryModalLabel" class="modal fade" id="primaryModal1" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="primaryModalLabel">
            Primary Payment
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button" #closeButton><span aria-hidden="true"> ×</span></button>
        </div>
        <div class="modal-body">
          <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{ creditCard.cardName + ' ' + creditCard.ending}} primary. Please try again.</div>
          <p>This make <strong>{{ creditCard.cardName + ' ' + creditCard.ending}}</strong> your primary payment method?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" type="button" (click)="onMakePrimary()">Yes</button>
          <button class="btn btn-outline-danger right-button" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
