<div class="content-i asset-container">

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="attributeForm" >
              <h5 class="form-header">
                {{attributeExist ? "Edit":"New"}} Attribute Form<button *ngIf="modalType" aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{attributeExist ? "Update":"Create"}} Attribute.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input id="name" class="form-control" formControlName="name" placeholder="Name" required="required">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="format">Format</label><input id="format" class="form-control" formControlName="format" placeholder="Format">
                  <div [hidden]="format.valid || format.pristine" class="alert alert-danger">Invalid format.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="date-type">Data Type</label><br/>
                  <select id="date-type" class="form-control" formControlName="dataType" name="dataType" required="required">
                    <option value="" disabled selected>Select a Data Type</option>
                    <option *ngFor="let dataType of dataTypes" [value]="dataType.dataTypeId">{{dataType.name}}</option>
                  </select>
                  <div [hidden]="dataType.valid || dataType.pristine" class="alert alert-danger">Invalid Data Type.</div>
                </div>
              </fieldset>

              <app-unit-of-measure (unitOfMeasureEvent)="setUnitOfMeasureId($event)" [initialUnitOfMeasureId]="unitOfMeasureId"></app-unit-of-measure>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="maximum-value">Maximum Value</label><input id="maximum-value" class="form-control" formControlName="maximumValue" placeholder="Maximum Value" type="number">
                  <div [hidden]="maximumValue.valid || maximumValue.pristine" class="alert alert-danger">Invalid Maximum Value.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="minimum-value">Minimum Value</label><input id="minimum-value" class="form-control" formControlName="minimumValue" placeholder="Minimum Value" type="number">
                  <div [hidden]="minimumValue.valid || minimumValue.pristine" class="alert alert-danger">Invalid Minimum Value.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary" [hidden]="attributeExist" [disabled]="!attributeForm.valid" type="submit" (click)="onCreate()">Create</button>
                <button class="btn btn-primary" [hidden]="!attributeExist" [disabled]="!attributeForm.valid" type="submit" (click)="onUpdate()">Update</button>
                <button class="btn btn-outline-danger right-button" *ngIf="!modalType" type="cancel" (click)="cancel()">Cancel</button>
                <button class="btn btn-outline-danger right-button" *ngIf="modalType" type="cancel" data-dismiss="modal">Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
