<div class="content-i asset-container">

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="accessRoleForm" (ngSubmit)="onCreate()" id="formValidate">
              <h5 class="form-header">
                Edit Access Role
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit access role.</div>

              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label"><input class="form-check-input" formControlName="prohibitionIndicator" type="checkbox">Prohibition Indicator</label>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required="required" type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Enter Access Role Type">Access Role Type</label>
                  <ng2-completer [datasource]="accessRoleTypeDataService"
                                 [inputClass]="'form-control form-control-inline'"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Access Role Type'"
                                 [matchClass]="'match'"
                                 formControlName="accessRoleTypeId"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onAccessRoleTypeSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <div class="row">
                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <div class="form-group">
                      <label for="effective date"> Effective Date</label>
                      <div class="date-input">
                        <input class="single-daterange form-control" formControlName="effectiveDate" type="text">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="col-sm-6">
                  <fieldset class="form-group">
                    <div class="form-group">
                      <label for="until date">Until Date</label>
                      <div class="date-input">
                        <input class="single-daterange form-control"  formControlName="untilDate" type="text">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><input class="form-control" formControlName="description" placeholder="Description" type="text">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!accessRoleForm.valid" type="submit"> Submit</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
