.app-dropdown {
  width: 320px;
}

.small-padding {
  padding-left: 2px;
  padding-right: 2px;
}

.icon-w {
  font-size: 30px;
}

.no-left-right-padding {
  padding-left: 0;
  padding-right: 0;
}

.break-sub-menu {
  display: none;
}

@media (max-width: 860px) {
  .break-sub-menu {
    display: block;
  }
}

/*
troumaca overrides etc.
*/

.top-menu-secondary  {
  border-radius: 0;
}

.top-menu-secondary .logo-w.menu-size {
  width: auto !important;
}

.top-menu-secondary > ul {
  margin-left: 20px;
  letter-spacing: 0px;
  font-size: 14px;
}

.break-sub-menu > ul {
  margin: 0;
}

.top-menu-controls {
  margin-left: auto;
}

.logo-w {
  display: block;
}

.element-box {
  box-shadow: none;
}

@media (max-width: 860px) {
  .top-menu-secondary > ul:not(.show-ul) {
    display: none;
  }
}

@media (max-width: 767px) {
  .top-menu-secondary.with-overflow .top-menu-controls {
    display: flex;
  }
  .top-menu-secondary.with-overflow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .logo-name {
    display: none !important;
  }
  .top-menu-secondary > ul {
    font-size: 12px;
  }
  .top-menu-secondary > ul a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
