.top-menu {
  height: 118px;
  padding-left: 120px;
  padding-right: 56px;
  background: rgba(196,196,196, 0.1);
}

.top-menu__span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-right: 11px;
  opacity: 1;
}

.top-menu__icon {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #2C4948;
}

.top-menu__right {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.top-menu__img {
  width: 35px;
  height: 38px;
  border-radius: 50%;
}

.top-menu__ellipsis {
  font-size: 26px;
  color: #2C4948;
  opacity: 0.5;
}


@media only screen and (max-width: 599px) {
  .top-menu {
    padding-left: 25px;
    background: #FFFFFF;
  }
}
