<div class="content-i">

  <asset-top-menu></asset-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="assetForm" (ngSubmit)="onSubmit()" id="formValidate">
              <h5 class="form-header">
                New Asset Form
              </h5>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Asset Kind</label><br/>
                  <select class="form-control" formControlName="assetKind" name="assetKind">
                    <option value="" disabled selected>Select an Asset Kind</option>
                    <option *ngFor="let assetKind of assetKinds" [value]="assetKind.assetKindId">{{assetKind.name}}</option>
                  </select>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Asset Type</label>
                  <ng2-completer [datasource]="assetTypeDataService"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Asset Type'"
                                 [matchClass]="'match'"
                                 formControlName="assetType"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onAssetTypeSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <fieldset *ngIf="isDiscreteItem()" class="form-group">
                <div class="form-group">
                  <label for="">Serial Number</label><input class="form-control" formControlName="serialNumber"  data-error="Your email address is invalid" placeholder="Serial Number" required="required" type="text">
                  <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>
              </fieldset>

              <fieldset *ngIf="isInventory()" class="form-group">
                <div class="form-group">
                  <label for="">Quantity</label><input class="form-control" formControlName="quantity" data-error="Your email address is invalid" placeholder="Quantity" required="required" type="number">
                  <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>
              </fieldset>

              <fieldset *ngIf="isInventory()" class="form-group">
                <div class="form-group">
                  <label for="">Unit Of Measure</label>
                  <ng2-completer [datasource]="unitOfMeasureDataService"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Unit Of Measure'"
                                 [matchClass]="'match'"
                                 formControlName="unitOfMeasure"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onUnitOfMeasureSelect($event)">
                  </ng2-completer>

                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Assignee</label>
                  <ng2-completer [datasource]="personDataService"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Person'"
                                 [matchClass]="'match'"
                                 formControlName="person"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onPersonSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Site</label>
                  <ng2-completer [datasource]="siteDataService"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Site'"
                                 [matchClass]="'match'"
                                 formControlName="site"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onPhysicalSiteSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!enableSubmit()" (click)="onCreate()" type="submit"> Submit</button>
                <button class="btn btn-white" type="cancel" (click)="onReset()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
