<div class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
      <div class="logo-w">
        <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
      </div>

      <h4 class="auth-header">
        Phone Number Verification
      </h4>

      <form [formGroup]="phoneVerificationForm" (ngSubmit)="onSubmit()">
        <p>
           A text message with the verification code <br/>
           was just sent to you.
        </p>

        <div class="form-group">
          <label for="">Enter Verification Code</label><input class="form-control" formControlName="confirmationCode" placeholder="Enter the 6-digit code" required type="text">
        </div>
        <h6 id="heading-message">
          {{message}}
        </h6>
        <div *ngIf="errorExists" class="alert alert-danger">
          <strong>Error!</strong> Make sure you enter the text message code sent to your phone number.
          <a href="#" (click)="sendConfirmationCode();false">Click here </a> for an another text message.
        </div>

        <div *ngIf="textMessageSuccess" class="alert alert-success">
          <strong>Success!</strong> text Message has been sent.
          If you didn't get it in 5 minutes, Please try again.
        </div>

        <div *ngIf="sendConfirmationCodeConfirmed" class="alert alert-info">
          <strong>Confirmed!</strong> This account is confirmed.
          Please login.
        </div>

        <div *ngIf="textMessageFailure2" class="alert alert-danger">
          <strong>Error!</strong> But it seems this session has expired.
          <a href="#" (click)="sendConfirmationCode();false">Click here</a> for a new session
        </div>

        <div *ngIf="textMessageFailure" class="alert alert-danger">
          <strong>Error!</strong> Sorry this session has expired.<br />
           Please enter the code of the new one.
        </div>

        <div *ngIf="noEntry" class="alert alert-danger">
          <strong>Error!</strong> database error, please try again or register.
        </div>

        <div class="buttons-w">
          <div>
            <button class="btn btn-white" id="button1" routerLink="/authentication/register">Change Number</button>
            <button [disabled]="!phoneVerificationForm.valid" id="button2" class="btn btn-primary" type="submit">Verify</button>
          </div>
          <div class="sendPhoneCode">
            <a href="#" (click)="sendConfirmationCode();false">Didn't get the text message?</a>
          </div>
        </div>
        </form>

    </div>
  </div>
</div>
