<div class="auth-box-w">
  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>
  <h4 class="auth-header">
    Login
  </h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <mat-icon matPrefix color="primary">email</mat-icon>
      <input matInput [formControl]="username">
      <mat-error *ngIf="username.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix color="primary">fingerprint</mat-icon>
      <input matInput [formControl]="password" type="password">
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox color="primary" [formControl]="rememberMe">Remember Me</mat-checkbox>

    <div class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">Failed to login.</span></div>

    <div class="buttons-w">
      <a mat-button color="accent" [routerLink]="forgotPasswordRoute">Forget Password</a>
      <button class="right-button" mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>
