/* container */

.img-sec {
  background-image: url("../../css/images/login.png");
}


/* elements */
.title--login {
  margin-bottom: 80px;
  margin-left: 6px;
  margin-top: 0;
}

.button--big--google {
  margin-bottom: 25px;
}

.button--big--login {
  margin-top: 29px;
}

.or {
  border-bottom: 1px solid #F5F5F5;
  line-height: 0.1em;
}

.or__text {
  background:#fff;
  padding: 0 13px;
}

.form {
  margin-top: 25px;
}

.forget {
  font-size: 13px;
  line-height: 14px;
  color: #24CCEA;
  padding-left: 6px;
  text-decoration: none;
}

.img-sec__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 104px;
  margin-left: 68px;
  margin-right: 70px;
}

/*input[matInput] .mat-form-field-flex {*/
/*  background-color: #F0F7FB;*/
/*}*/

/* modal */

::ng-deep .backdrop {
  background: #004777;
  opacity: 0.9;
}

::ng-deep .modal > .mat-dialog-container {
  width: 717px;
  min-height: 400px;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 9px;
  padding: 0;
  overflow-x: hidden;
}


::ng-deep .modal.modal-white > .mat-dialog-container {
  background-color: #FFFFFF;
}

::ng-deep .modal.modal-verify > .mat-dialog-container {
  background-color: #FFFFFF;
  background-image: url("../../css/images/verification.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
/* media queries */

/*@media only screen and (max-width: 959px) {*/
/*  :host {*/
/*    width: 412px;;*/
/*  }*/
/*}*/
@media only screen and (max-width: 599px) {
  /*:host {*/
  /*  width: 100%;*/
  /*  min-height: 100vh;*/
  /*  margin-top: 0;*/
  /*}*/

  ::ng-deep .backdrop {
    background: none;
    opacity: 0.9 !important;
  }

  ::ng-deep .modal > .mat-dialog-container {
    width: 100vh;
    min-height: 100vh;
    border-radius: 0;
  }
}


