:host, .auth-main2 {
  display: block;
  min-height: 612px;
}
/* container */
.img-sec {
  background-image: url("../../css/images/login.svg");
}


/* elements */
.title--login {
  margin-bottom: 80px;
  margin-left: 6px;
  margin-top: 0;
}

.button--big--google {
  margin-bottom: 25px;
}

.button--big--login {
  margin-top: 29px;
}

.or {
  border-bottom: 1px solid #F5F5F5;
  line-height: 0.1em;
}

.or__text {
  background:#fff;
  padding: 0 13px;
}

.form {
  margin-top: 25px;
}

.forget {
  line-height: 14px;
  color: #24CCEA;
  padding-left: 6px;
  text-decoration: none;
}

.img-sec__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 104px;
  margin-left: 68px;
  margin-right: 70px;
}


/* modal */

::ng-deep .backdrop {
  background: #004777;
  opacity: 0.9 !important;
}

::ng-deep .modal > .mat-dialog-container {
  width: 717px;
  min-height: 400px;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 9px;
  padding: 0;
  overflow-x: hidden;
}


::ng-deep .modal.modal-white > .mat-dialog-container {
  background-color: #FFFFFF;
}

::ng-deep .modal.modal-verify > .mat-dialog-container {
  background-color: #FFFFFF;
  background-image: url("../../css/images/verification.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (max-width: 599px) {

  ::ng-deep .backdrop {
    background: none;
    opacity: 0.9 !important;
  }

  ::ng-deep .modal > .mat-dialog-container {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
  }
}
