<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="siteEmailForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                New Email Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to create site email.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid street name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="domainName">Domain Name</label><input class="form-control" formControlName="domainName" placeholder="Domain Name" required type="text">
                  <div [hidden]="domainName.valid || domainName.pristine" class="alert alert-danger">Invalid domain name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="emailAddress">Email Address</label><input class="form-control" formControlName="emailAddress" placeholder="Email Address" required type="text">
                  <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger">Invalid email address.</div>
                </div>
              </fieldset>
              
              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!siteEmailForm.valid" type="submit"> Create</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
