/*
  Troumaca overrides etc.
*/

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media (max-width: 399px) {
  .auth-box-w form {
    padding: 20px 40px 60px;
  }
}

.sendPhoneCode {
  margin-top: 2rem;
  text-align: center;
}

#heading-message {
  margin-bottom: 3rem;
}

#button1 {
  margin-right: 0 !important;
}

#button2 {
  float: right;
}

