<div class="auth-box-w">

  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>

  <h4 class="auth-header">
    User Confirmation
  </h4>

  <form [formGroup]="phoneVerificationForm" (ngSubmit)="onSubmit()">
    <p class="lead">
      Enter the confirmation code we sent to {{username || 'your phone number or email address'}}.
    </p>

    <div *ngIf="showSuccessMessage" class="alert alert-success">
      <strong>Success!</strong> {{ message || ''}}
    </div>

    <div *ngIf="showErrorMessage" class="alert alert-danger">
      <strong>Error!</strong> {{ message || ''}}.
    </div>

    <div class="form-group">
      <label for="confirmation-code">Enter Confirmation Code:</label><input id="confirmation-code" class="form-control" formControlName="confirmationCode" placeholder="Enter the 6-digit code" required type="text">
    </div>

    <div class="buttons-w">
        <button class="btn btn-outline-secondary" routerLink="/authentication/register">Change Number</button>
        <button [disabled]="!phoneVerificationForm.valid" id="button2" class="btn btn-primary" type="submit">Verify</button>
    </div>
    <div class="sendCode">
      <a href="#" (click)="sendConfirmationCode();false">Didn't get the text message?</a>
    </div>
  </form>

</div>

