<div class="auth-box-w">

  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>

  <h4 class="auth-header">
    New User Confirmation
  </h4>

  <form [formGroup]="phoneVerificationForm" (ngSubmit)="onSubmit()">
    <p class="lead">
      Enter the confirmation code we sent to your username.
    </p>

    <div class="form-group">
      <label for="confirmation code">Enter Confirmation Code:</label><input class="form-control" formControlName="confirmationCode" placeholder="Enter the 6-digit code" required type="text">
    </div>

    <div *ngIf="confirmationSuccessful" class="alert alert-info">
      <strong>Confirmed!</strong> Your account has been confirmed.
      Please login.
    </div>

    <div *ngIf="confirmationSuccess" class="alert alert-danger">
      <strong>Error!</strong> But it seems this session has expired.
      A new session will be generated.
      Please Enter the code for that one.
    </div>

    <div *ngIf="textMessageSuccess" class="alert alert-success">
      <strong>Success!</strong> confirmation code has been sent.
      If you didn't get it in 5 minutes, Please try again.
    </div>

    <div *ngIf="errorExists" class="alert alert-danger">
      <strong>Error!</strong> Confirmation Code does not match or has been expired. Please try again or generate a new one below.
    </div>

    <div *ngIf="noEntry" class="alert alert-danger">
      <strong>Error!</strong> Email has been verify or something went wrong. Please try again.
    </div>

    <div class="buttons-w">
      <div>
        <button class="mr-2 mb-2 btn btn-outline-success" id="button1" routerLink="/authentication/register">Change Number</button>
        <button [disabled]="!phoneVerificationForm.valid" id="button2" class="btn btn-primary" type="submit">Verify</button>
      </div>
      <div class="sendPhoneCode">
        <a href="#" (click)="sendConfirmationCode();false">Didn't get the text message?</a>
      </div>
    </div>
  </form>

</div>

