- content_box_file = '../apps/_content_pipeline.slim'
- menu_file = '../_partials/_menu_side_compact.slim'
- menu_dark = true
- menu_secondary_dark = true
- no_breadcrumbs = true
- secondary_top_menu = true
- extra_js_files = ['bower_components/dragula.js/dist/dragula.min.js']
- extra_css_files = ['bower_components/dragula.js/dist/dragula.min.css']

include ../_partials/_template.slim