<div class="content-i asset-container">

  <!--<attribute-top-menu></attribute-top-menu> -->

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="attributeEditForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                Edit Attribute Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit attribute.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required="required">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="format">Format</label><input class="form-control" formControlName="format" placeholder="Format">
                  <div [hidden]="format.valid || format.pristine" class="alert alert-danger">Invalid format.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="date type">Data Type</label><br/>
                  <select class="form-control" formControlName="dataType" name="dataType" required="required">
                    <option value="" disabled selected>Select a Data Type</option>
                    <option *ngFor="let dataType of dataTypes" [value]="dataType.dataTypeId">{{dataType.name}}</option>
                  </select>
                  <div [hidden]="dataType.valid || dataType.pristine" class="alert alert-danger">Invalid Data Type.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="unit of measurement">Unit Of Measurement</label>
                  <ng2-completer [datasource]="unitOfMeasureIdDataService"
                                 [inputClass]="'form-control form-control-inline'"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Select an Unit of Measurement'"
                                 [matchClass]="'match'"
                                 formControlName="unitOfMeasureId"
                                 [autofocus]="true"
                                 [fillHighlighted]="false"
                                 [clearUnselected]="true"
                                 [openOnClick]="true"
                                 [textSearching]="false"
                                 (selected)="onUnitOfMeasureIdSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="maximum value">Maximum Value</label><input class="form-control" formControlName="maximumValue" placeholder="Maximum Value" type="number">
                  <div [hidden]="maximumValue.valid || maximumValue.pristine" class="alert alert-danger">Invalid Maximum Value.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="minimum value">Minimum Value</label><input class="form-control" formControlName="minimumValue" placeholder="Minimum Value" type="number">
                  <div [hidden]="minimumValue.valid || minimumValue.pristine" class="alert alert-danger">Invalid Minimum Value.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!attributeEditForm.valid" type="submit"> Save</button>
                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
