<div class="content-i asset-container">

  <!--<attribute-top-menu></attribute-top-menu> -->

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="attributeForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                New Attribute Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to create attribute.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required="required">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="format">Format</label><input class="form-control" formControlName="format" placeholder="Format">
                  <div [hidden]="format.valid || format.pristine" class="alert alert-danger">Invalid format.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="date type">Data Type</label><br/>
                  <select class="form-control" formControlName="dataType" name="dataType" required="required">
                    <option value="" disabled selected>Select a Data Type</option>
                    <option *ngFor="let dataType of dataTypes" [value]="dataType">{{dataType.name}}</option>
                  </select>
                  <div [hidden]="dataType.valid || dataType.pristine" class="alert alert-danger">Invalid Data Type.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="unit of measure">Unit Of Measure</label><input class="form-control" formControlName="unitOfMeasureId" placeholder="Unit of Measure">
                  <div [hidden]="unitOfMeasureId.valid || unitOfMeasureId.pristine" class="alert alert-danger">Invalid Unit Of Measure.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="maximum value">Maximum Value</label><input class="form-control" formControlName="maximumValue" placeholder="Maximum Value" type="number">
                  <div [hidden]="maximumValue.valid || maximumValue.pristine" class="alert alert-danger">Invalid Maximum Value.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="minimum value">Minimum Value</label><input class="form-control" formControlName="minimumValue" placeholder="Minimum Value" type="number">
                  <div [hidden]="minimumValue.valid || minimumValue.pristine" class="alert alert-danger">Invalid Minimum Value.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!attributeForm.valid" type="submit"> Create</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
