<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-5">
        <div class="user-profile compact">
          <app-photo [type]="'organization'" [organizationName]="organizationName"></app-photo>
          <!--<div class="up-contents">-->
            <!--<div class="m-b">-->
              <!--<div class="row m-b">-->
                <!--<div class="col-sm-6 b-r b-b">-->
                  <!--<div class="el-tablo centered padded-v">-->
                    <!--<div class="value">-->
                      <!--4-->
                    <!--</div>-->
                    <!--<div class="label">-->
                      <!--Organizations-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 b-b">-->
                  <!--<div class="el-tablo centered padded-v">-->
                    <!--<div class="value">-->
                      <!--3-->
                    <!--</div>-->
                    <!--<div class="label">-->
                      <!--Pending Requests-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <!-- START OF USER ACTIVITY -->
        <div class="element-wrapper">
          <div class="element-box">
            <h6 class="element-header">
              Company Activities
            </h6>
            <div class="timed-activities compact">
              <div class="timed-activities compact">
                <div class="timed-activity">
                  <div class="ta-date">
                    <span>No Data Found</span>
                  </div>
                </div>
              <!--<div class="timed-activity">-->
                <!--<div class="ta-date">-->
                  <!--<span>Assets</span>-->
                <!--</div>-->
                <!--<div class="ta-record-w">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="timed-activity">-->
                <!--<div class="ta-date">-->
                  <!--<span>Request Orders</span>-->
                <!--</div>-->
                <!--<div class="ta-record-w">-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- END OF USER ACTIVITY -->
      </div>

<!-- END OF Profile SECTION -->


      <div class="col-sm-7">
        <app-organization-form [profile]="true" (organizationCreated)="emitOrganizationCratedEvent($event)" (organizationNameEvent)="setOrganization($event)" [stepper]="stepper"></app-organization-form>
      </div>

    </div>
  </div>
</div>
