<div class="row">
  <div class="col-sm-5">
    <div class="user-profile compact">
      <app-photo [type]="'organization'" [organizationName]="organization.name"></app-photo>
      <div class="up-controls">
        <div class="row">
          <div class="col-sm-6">
            <div class="value-pair">
              <div class="label">
                Status:
              </div>
              <div class="value badge badge-pill badge-success">
                {{ organization.status || "Unknown"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="up-contents">
        <div class="m-b">
          <div class="row m-b">
            <div class="col-sm-6 b-r b-b">
              <div class="el-tablo centered padded-v">
                <div class="value">
                  {{company.users}}
                </div>
                <div class="label">
                  Users
                </div>
              </div>
            </div>
            <div class="col-sm-6 b-b">
              <div class="el-tablo centered padded-v">
                <div class="value">
                  {{ company.assets}}
                </div>
                <div class="label">
                  Assets
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- START OF USER ACTIVITY -->
    <div class="element-wrapper">
      <div class="element-box">
        <h6 class="element-header">
          Company Activities
        </h6>
        <div class="timed-activities compact">
          <div class="timed-activity" *ngFor="let act of company.activities">
            <div class="ta-date">
              <span>{{act.date | date:'mediumDate'}}</span>
            </div>
            <div class="ta-record-w">
              <div class="ta-record" *ngFor="let acts of act.acts">
                <div class="ta-timestamp">
                  <strong>{{ acts.date | date:'shortTime' }}</strong>
                </div>
                <div class="ta-activity">
                  {{ acts.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF USER ACTIVITY -->
  </div>
  <!-- END OF Profile SECTION -->


  <div class="col-sm-7">
    <div class="element-wrapper">
      <div class="element-box">
        <form [formGroup]="organizationForm">
          <h5 class="form-header">Organization Info<i *ngIf="activePane === 'left'" class="os-icon os-icon-pencil-2 float-right blue-icon" (click)="setActivePane('right')"></i></h5>

          <div class="slider-container">
            <div class="parent-slider" [@slide]="activePane">
              <div class="child-slider">
                <div class="card-front-elements">
                  <div class="row">
                    <div class="col-sm-3">
                      <span class="front-card-header">Name</span>
                    </div>
                    <div class="col-sm-9">
                      <span class="front-card-text">{{organization.name}}</span>
                    </div>
                  </div>
                </div>
                <div class="card-front-elements">
                  <div class="row">
                    <div class="col-sm-3">
                      <span class="front-card-header">Purpose</span>
                    </div>
                    <div class="col-sm-9">
                      <span class="front-card-text">{{organization.purpose}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="child-slider">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput [formControl]="name">
                  <mat-error *ngIf="name.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Purpose</mat-label>
                  <textarea matInput  [formControl]="purpose"></textarea>
                </mat-form-field>

                <div  class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">Failed to update organization</span></div>

                <div class="form-buttons-w">
                  <button  mat-flat-button color="primary" [disabled]="!organizationForm.valid" type="submit" (click)="onUpdate()">Update</button>
                  <button class="right-button-form" mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>


        </form>
      </div>

      <div class="element-box">
        <app-contact-info [contactInfo]="company.organization.contactInfo" type="organization"></app-contact-info>
      </div>

      <div class="element-box">
        <app-address [address]="company.organization.address" type="organization"></app-address>
      </div>

    </div>
  </div>

</div>

