.lsm2 {
  height: 100%;
  width: 100%;
}

.lsm2.relative {
  position: relative;
}

.lsm2-white {
  background: #FFFFFF;
  padding: 10px 30px 20px 39px;
}

.lsm-header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-left: 3px;
}

.lsm-header-span {
  display: block;
  margin-top: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #4DD0F0;
  margin-left: 5px;
}

.search {
  margin-top: 32px;
  width: 349px;
}


::ng-deep .mat-tab-group {
  font-family: 'Comfortaa', cursive !important;
}

::ng-deep .mat-tab-labels {
  background: #FFFFFF;
}

::ng-deep .mat-tab-label {
  font-family: 'Comfortaa', cursive !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  color: #004777;
  opacity: 1;
}

::ng-deep .mat-ink-bar {
  background-color: #004777 !important;
  opacity: 1;
}

.select-types {
  padding: 35px 37px;
  max-width: 100%;
}

.select-types-heading {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 0;
}

.select-fields-margin {
  margin-bottom: 15px;
}

.select-types-list {
  padding: 0;
  list-style-type: none;
  display: block;
  height: 79px;
  overflow-y: auto;
}

.select-types-list.selected {
  overflow-y: auto;
  overflow-x: visible;
}

/*select-fields.selected {*/
/*  position: relative;*/
/*}*/

.select-type-i {
  border-radius: 20px;
  height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(37,207,232, 0.2);
  margin-bottom: 17px;
  max-width: 200px;
}

.select-type-i.selected {
  /*position: relative;*/
  padding: 0;
  background: #004777;
}

.select-type-i.selected .select-type-i__icons {
  color: #FFFFFF;
  opacity: 0.8;
}

.select-type-i.selected .select-type-i-s {
  color: #FFFFFF;
}

.select-type-edit {
  margin-left: 15px;
}

.select-type-i-edit {
  color: #23C7EF;
  font-size: 14px;
}

.select-type-i-cancel {
  margin-left: 5px;
  font-size: 36px;
  color: #FFFFFF;
  transform: rotate(-45deg);
}

.select-type-i-s {
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #000000;
}

.mat-dialog-content {
  padding: 0;
  margin: 0;
}

.attribute-ending {
  width: 204px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.4;
  margin: 0 auto 18px;
}

.select-type-i__icons {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7E8589;
  opacity: 0.8;
}

.button--white--attribute {
  width: 219px;
}

.button--primary--attribute {
  width: 171px;
}

.select-type-i-container {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.char-box-overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.char-box-overlay.selected {
  display: block;
}

.char-box {
  display: block;
  position: fixed;
  transform: translateX(-50%);
  width: 293px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 9999;
}

.char-opt {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.3;
  text-align: center;
  margin-top: 19px;
}

.char-form {
  margin: 11px 25px 9px 14px;
}

.blue-checkbox-label.char {
  margin-left: 5px;
  margin-right: 10px;
  color: #566E6D;
  margin-bottom: 15px;
}

.pre-filled-container {
  height: 56px;
}

.pre-filled-input-div {
  margin-bottom: 5px;
}

.tool-tip {
  margin-top: 3px;
}

.tool-tip--head {
  margin-left: 6px;
  margin-right: 12px;
  margin-bottom: 16px;
}

.tool-tip--header {
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
}

.tool-tip--span {
  width: 21px;
  height: 21px;
  background: rgba(44,73,72, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
}

.blue-checkbox-label__details {
  margin-left: -1px;
  margin-top: 9px;
  display: block;
  color: #000000;
  opacity: 0.4;
}

.fc-input-tool-tip {
  font-family: 'Comfortaa', cursive !important;
  width: 100%;
  height: 85px;
  resize: none;
  padding: 24px 15px 10px 18px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #E9F9FD;
}

.fc-input-tool-tip:focus {
  border: 0.75px solid #004777;
}

.fc-input-tool-tip::placeholder {
  line-height: 14px;
  letter-spacing: 0.01em;
  opacity: 0.4;
}

@media only screen and (max-width: 599px) {
  .search {
    width: 100%;
  }
}
