<div class="lsm2 relative"
     gdRows="180px auto"
>
  <div class="lsm2-white">
    <div fxLayoutAlign="space-between center">
      <span class="lsm-header-text">Select Characteristics</span>
      <button mat-dialog-close class="modal__close" (click)="closeModal()">+</button>
    </div>
    <form class="search">
      <div class="sf-div">
        <label class="fc-label--hidden" for="search"></label>
        <input id="search" class="sf-input sf-input2" [formControl]="search" placeholder="Search Characteristics" />
        <fa-icon class="sf__icon sf__icon2" [icon]="['fas', 'search']"></fa-icon>
      </div>
    </form>
  </div>
  <div>
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab label="All" class="select-fields">
        <div class="select-types">

          <div class="select-fields select-fields-margin selected">
            <h3 class="select-types-heading">Selected</h3>
            <ul class="select-types-list selected"
                fxLayout="row wrap"
                fxLayoutGap="7px"
                [formGroup]="selectForm"
            >
              <li
                formArrayName="items"
                *ngFor="let item of selectForm.get('items')['controls']; let i = index;"
                class="select-type-i selected"
              >
                <div [formGroupName]="i"
                     class="select-type-i-container"
                     fxLayoutAlign="center center"
                     fxLayoutGap="8px"
                >
                  <fa-icon [icon]="getIcon(item['controls']['assetCharacteristicTypeId']['value'])" class="select-type-i__icons"></fa-icon>
                  <span class="select-type-i-s">{{item['controls']['name']['value']}}</span>
                  <div class="select-type-edit" (click)="editChar($event, item['controls']['assetCharacteristicId']['value'])">
                    <fa-icon [icon]="['fas', 'pencil-alt']" class="select-type-i-edit" ></fa-icon>
                  </div>
                  <span class="select-type-i-cancel" (click)="removeSelectedAttr(item['controls']['assetCharacteristicId']['value'], i)">+</span>

                  <div
                    [ngClass]="{'char-box-overlay': true, 'selected': charBox(item['controls']['assetCharacteristicId']['value'])}"
                    (click)="charBoxOverlay()"
                  >
                    <div
                      class="char-box"
                      [ngStyle]="{'top.px': offsetTop, 'left.px': offsetLeft}"
                      (click)="$event.stopPropagation()"
                    >
                      <h4 class="char-opt">Characteristic Options</h4>

                      <div class="char-form">

                        <label class="blue-checkbox-label char " for="required{{i}}">Required
                          <span class="blue-checkbox-label__details">User must fill the form</span>
                          <input class="blue-checkbox" type="checkbox" id="required{{i}}" formControlName="required" />
                          <span class="blue-checkbox__shadow"></span>
                        </label>

                        <label class="blue-checkbox-label char" for="pre-filled{{i}}">Pre-filled
                          <span class="blue-checkbox-label__details">Fill the content for all</span>
                          <input class="blue-checkbox" type="checkbox" id="pre-filled{{i}}" formControlName="preFilled" (change)="preFilledChange($event, item['controls']['preFilledValue'], item['controls']['assetCharacteristicTypeId']['value'])"/>
                          <span class="blue-checkbox__shadow"></span>
                        </label>

                        <ng-container *ngIf="item['controls']['assetCharacteristicTypeId']['value'] !== '3'" >

                          <div
                            [ngSwitch]="item['controls']['assetCharacteristicTypeId']['value']"
                            class="pre-filled-input-div"
                          >

                            <div class="f-c-no-padding f-c-no-padding-content" *ngSwitchCase="'2'">
                              <label class="fc-label--hidden" for="number{{i}}">Value</label>
                              <input class="fc-input" id="number{{i}}" formControlName="preFilledValue" placeholder="Value" type="number">
                            </div>

                            <ng-select
                              *ngSwitchCase="'4'"
                              class="custom"
                              formControlName="preFilledValue"
                              placeholder="Select default"
                              [items]="item['controls']['list']['value']"
                            >
                            </ng-select>

                            <ng-select
                              *ngSwitchCase="'5'"
                              class="custom multi"
                              formControlName="preFilledValue"
                              multiple="true"
                              placeholder="Select defaults"
                              [items]="item['controls']['list']['value']"
                            >
                            </ng-select>

                            <div class="f-c-no-padding f-c-no-padding-content" *ngSwitchCase="'6'">
                              <label class="fc-label--hidden" for="date{{i}}">Date</label>
                              <input [matDatepicker]="picker" class="fc-input fc-input-icon--left" id="date{{i}}" formControlName="preFilledValue" placeholder="{{item['controls']['format']['value'] }}">
                              <mat-datepicker-toggle  [for]="picker" class="icon-left">
                                <fa-icon matDatepickerToggleIcon [icon]="['fas', 'calendar']" class="icon-left--blue"></fa-icon>
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </div>


                            <div class="f-c-no-padding f-c-no-padding-content fc-dropdown" *ngSwitchCase="'7'">
                              <label class="fc-label--hidden" for="person{{i}}">person</label>
                              <input class="fc-input fc-input-icon--left" id="person{{i}}" formControlName="preFilledValue" placeholder="Person" autocomplete="off">
                              <fa-icon [icon]="['fas', 'user']" class="icon-left--blue--others"></fa-icon>
                              <div class="input-dropdown" *ngIf="people?.length > 0">
                                <ul class="input-dropdown-list">
                                  <li *ngFor="let person of people; let i = index" class="input-dropdown-list__item"  (click)="setPersonValue(item['controls']['preFilledValue'],item['controls']['partyId'], person)"><a>{{person.firstName}}</a></li>
                                </ul>
                              </div>
                            </div>

                            <div class="f-c-no-padding f-c-no-padding-content"  *ngSwitchCase="'8'">
                              <label class="fc-label--hidden" for="link{{i}}">Text</label>
                              <input class="fc-input" id="link{{i}}" formControlName="preFilledValue" placeholder="{{item['controls']['type']['value'] | titlecase }}">
                            </div>

                            <div class="f-c-no-padding f-c-no-padding-content fc-dropdown" *ngSwitchCase="'9'">
                              <label class="fc-label--hidden" for="location{{i}}">location</label>
                              <input class="fc-input fc-input-icon--left" id="location{{i}}" formControlName="preFilledValue" placeholder="{{item['controls']['type']['value']}}">
                              <fa-icon [icon]="['fas', 'map-marker-alt']" class="icon-left--blue--others"></fa-icon>
                              <div class="input-dropdown" *ngIf="sites?.length > 0">
                                <ul class="input-dropdown-list">
                                  <li *ngFor="let site of sites; let i = index" class="input-dropdown-list__item"  (click)="setSiteValue(item['controls']['preFilledValue'],item['controls']['partyId'], site)"><a>{{site.name}}</a></li>
                                </ul>
                              </div>
                            </div>

                            <div class="f-c-no-padding f-c-no-padding-content"  *ngSwitchDefault>
                              <label class="fc-label--hidden" for="text{{i}}">Text</label>
                              <input class="fc-input" id="text{{i}}" formControlName="preFilledValue" placeholder="Text">
                            </div>

                          </div>

                        </ng-container>

                        <div class="tool-tip">
                          <div class="tool-tip--head" fxLayout="row" fxLayoutAlign="space-between center">
                            <label class="tool-tip--header" for="tool-tip">Tool Tip Information</label>
                            <span class="tool-tip--span">i</span>
                          </div>
                          <textarea class="fc-input fc-input-tool-tip" id="tool-tip"
                                    placeholder="Add info for information about the characteristics"
                                    formControlName="description"
                          ></textarea>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>

          <div class="select-fields select-fields-margin">
            <h3 class="select-types-heading">Recent</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes; index as i; trackBy: trackByFn"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (click)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

          <div class="select-fields">
            <h3 class="select-types-heading">Recommended</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes; index as i; trackBy: trackByFn"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (click)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Yours">
<!--        <div class="select-types"-->
<!--             gdRows="repeat(2, auto)"-->
<!--             gdAlignRows="space-between"-->
<!--        >-->
<!--          <div>-->
<!--            <h3 class="select-types-heading">Recent</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--          <div>-->
<!--            <h3 class="select-types-heading">Recommended</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--        </div>-->
      </mat-tab>
      <mat-tab label="Company">
<!--        <div class="select-types"-->
<!--             gdRows="repeat(2, auto)"-->
<!--             gdAlignRows="space-between"-->
<!--        >-->
<!--          <div>-->
<!--            <h3 class="select-types-heading">Recent</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--          <div>-->
<!--            <h3 class="select-types-heading">Recommended</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--        </div>-->
      </mat-tab>
      <mat-tab label="Community">
<!--        <div class="select-types"-->
<!--             gdRows="repeat(2, auto)"-->
<!--             gdAlignRows="space-between"-->
<!--        >-->
<!--          <div>-->
<!--            <h3 class="select-types-heading">Recent</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--          <div>-->
<!--            <h3 class="select-types-heading">Recommended</h3>-->
<!--            <ul class="select-types-list"-->
<!--                fxLayout="row wrap"-->
<!--                fxLayoutGap="7px"-->
<!--            >-->
<!--              <li-->
<!--                *ngFor="let attribute of attributes"-->
<!--                class="select-type-i"-->
<!--                fxLayoutAlign="center center"-->
<!--                fxLayoutGap="8px"-->
<!--                (dblclick)="attributeSelect(attribute)"-->
<!--              >-->
<!--                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>-->
<!--                <span class="select-type-i-s">{{attribute.name}}</span>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>-->

<!--        </div>-->
      </mat-tab>
    </mat-tab-group>
    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="24px"
    >
      <button class="button button--white button--white--attribute" (click)="openCreateNew()">Add a characteristic</button>
      <button class="button button--primary button--primary--attribute" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>
