<div class="lsm2"
     gdRows="180px auto 103px"
>
  <div class="lsm2-white">
    <div fxLayoutAlign="space-between center">
      <span class="lsm-header-text">Select Attribute</span>
      <button mat-dialog-close class="modal__close" (click)="closeModal()">+</button>
    </div>
    <span class="lsm-header-span">what is type?</span>
    <form class="search">
      <div class="sf-div">
        <input class="sf-input sf-input2" [formControl]="search" placeholder="Search Attributes" />
        <fa-icon class="sf__icon sf__icon2" [icon]="faSearch"></fa-icon>
      </div>
    </form>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="All" (click)="tabClick('all')">
        <div class="select-types"
             gdRows="repeat(2, auto)"
             gdAlignRows="space-between"
        >
          <div>
            <h3 class="select-types-heading">Recent</h3>
                      <ul class="select-types-list"
                          fxLayout="row wrap"
                          fxLayoutGap="7px"
                      >
                        <li
                          *ngFor="let attribute of attributes"
                          class="select-type-i"
                          fxLayoutAlign="center center"
                          fxLayoutGap="8px"
                          (dblclick)="attributeSelect(attribute)"
                        >
                          <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                          <span class="select-type-i-s">{{attribute.name}}</span>
                        </li>

                      </ul>
          </div>

          <div>
            <h3 class="select-types-heading">Recommended</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Yours">
        <div class="select-types"
             gdRows="repeat(2, auto)"
             gdAlignRows="space-between"
        >
          <div>
            <h3 class="select-types-heading">Recent</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

          <div>
            <h3 class="select-types-heading">Recommended</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Company">
        <div class="select-types"
             gdRows="repeat(2, auto)"
             gdAlignRows="space-between"
        >
          <div>
            <h3 class="select-types-heading">Recent</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

          <div>
            <h3 class="select-types-heading">Recommended</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Community">
        <div class="select-types"
             gdRows="repeat(2, auto)"
             gdAlignRows="space-between"
        >
          <div>
            <h3 class="select-types-heading">Recent</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

          <div>
            <h3 class="select-types-heading">Recommended</h3>
            <ul class="select-types-list"
                fxLayout="row wrap"
                fxLayoutGap="7px"
            >
              <li
                *ngFor="let attribute of attributes"
                class="select-type-i"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                (dblclick)="attributeSelect(attribute)"
              >
                <fa-icon [icon]="getIcon(attribute.assetCharacteristicTypeId)" class="select-type-i__icons"></fa-icon>
                <span class="select-type-i-s">{{attribute.name}}</span>
              </li>

            </ul>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div>
    <p class="attribute-ending">Can’t find a suitable attributes? Create one!</p>
    <button class="button button--primary button--primary--attribute" (click)="openCreateNew()">Create new Attributes</button>
  </div>
</div>
