<div fxLayoutAlign="space-between">
  <div class="form-container" fxFlex="1 0 auto">
    <div class="form-sec">
      <h2 class="title title--sign-up">
        Sign Up
      </h2>
      <form [formGroup]="registrationForm" class="form">

        <div>
          <label class="input-label" for="firstName">First Name</label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput [formControl]="firstName" id="firstName" required>
            <mat-error *ngIf="firstName.hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label class="input-label" for="lastName">Last Name</label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput [formControl]="lastName" id="lastName" required>
            <mat-error *ngIf="lastName.hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="secondImg">
          <label class="input-label" for="companyName">Company Name</label>
          <mat-form-field class="input-field" appearance="outline" id="companyName">
            <input matInput [formControl]="companyName" [required]="secondImg">
            <mat-error *ngIf="companyName.hasError('required')">
              Company name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label  class="input-label" for="username">{{ email ? 'Email': 'Mobile Number'}}</label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput [formControl]="username" id="username" required>
            <mat-error *ngIf="username.hasError('validateEmail') && !username.hasError('required')">
              {{ email ? 'e.g "someone@mail.com"': 'e.g "15417543010"'}}.
            </mat-error>
            <mat-error *ngIf="username.hasError('required')">
              {{ email ? 'email': 'mobile number'}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label  class="input-label" for="password">Create Password</label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput [formControl]="password"  id="password" type="password">
            <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
              At least eight characters: 1 upper case letter, numeric, and special character.
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <label  class="input-label" for="confirmPassword">Retype Password</label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput [formControl]="confirmPass" id="confirmPassword" type="password">
            <mat-error *ngIf="confirmPass.hasError('password') && !confirmPass.hasError('required')">
              Password does not match.
            </mat-error>
            <mat-error *ngIf="confirmPass.hasError('required')">
              Retype your password.
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-flat-button class="button button--primary button--big button--big--login" type="submit" [disabled]="!registrationForm.valid" (click)="onCreate()">Sign Up</button>
      </form>
      <div class="ending">Already have an account? <a class="ending__link" href [routerLink]="loginRoute">Login now</a></div>
      <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="error" (onHide)="hideError($event)"></app-error>
    </div>
  </div>
  <div [ngClass]="{'img-sec': true, 'img-sec1': !secondImg, 'img-sec2': secondImg}" fxHide.lt-md>
    <h2 [ngClass]="{'img-sec-header': true, 'black-text': !secondImg}">Manage Assets <br>
      {{ secondImg ? 'across your organization.': 'anyway you want.'}}</h2>
    <p [ngClass]="{'img-sec__text': true, 'black-text': !secondImg}" >{{ secondImg ? 'Makes asset management a breeze for all levels.': 'Use Troumaka for anything from collection of personal assets, complex company and asset management.'}}</p>
  </div>
</div>
