<div class="auth-main2" fxLayoutAlign="space-between">
  <div class="form-container" fxFlex="1 0 auto">
    <div class="form-sec">
      <h2 class="title title--sign-up">
        Sign Up
      </h2>
      <form [formGroup]="registrationForm" class="form">

        <div fxLayout="row" fxLayoutGap="16px">

          <div class="form-control">
            <label class="fc-label" for="firstName">First Name</label>
            <input class="fc-input" [formControl]="firstName" id="firstName" required>
            <div class="fc-error" *ngIf="firstName.hasError('required') && !firstName.pristine">
              <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon><strong>required</strong>
            </div>
          </div>

          <div class="form-control">
            <label class="fc-label" for="lastName">Last Name</label>
            <input class="fc-input" [formControl]="lastName" id="lastName" required>
            <div class="fc-error" *ngIf="lastName.hasError('required') && !lastName.pristine">
              <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon><strong>required</strong>
            </div>
          </div>

        </div>

        <div *ngIf="secondImg" class="form-control">
          <label class="fc-label"  for="companyName">Company Name</label>
          <input class="fc-input" [formControl]="companyName"  id="companyName" [required]="secondImg">
          <div class="fc-error" *ngIf="companyName.hasError('required') && !companyName.pristine">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Company name is <strong>required</strong>
          </div>
        </div>

        <div class="form-control">
          <label  class="fc-label" for="username">{{ email ? 'Email': 'Mobile Number'}}</label>
          <input class="fc-input" [formControl]="username" id="username" required>
          <div class="fc-error" *ngIf="username.hasError('validateEmail') && (!username.hasError('required') && !username.pristine)">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>{{ email ? 'e.g "someone@mail.com"': 'e.g "15417543010"'}}
          </div>
          <div class="fc-error" *ngIf="username.hasError('required') && !username.pristine">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>{{ email ? 'email': 'mobile number'}} is <strong>required</strong>
          </div>
        </div>

        <div class="form-control fc--password">
          <label class="fc-label"  for="password">Create Password</label>
          <input class="fc-input" [formControl]="password"  id="password" type="password">
          <div class="fc-error" *ngIf="password.hasError('password') && (!password.hasError('required') && !password.pristine)">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>At least eight characters: 1 upper case letter, numeric, and special character.
          </div>
          <div class="fc-error" *ngIf="password.hasError('required') && !password.pristine">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Password is <strong>required</strong>
          </div>
        </div>

        <div class="form-control">
          <label class="fc-label" for="confirmPassword">Retype Password</label>
          <input class="fc-input" [formControl]="confirmPass" id="confirmPassword" type="password">
          <div class="fc-error" *ngIf="confirmPass.hasError('password') && (!confirmPass.hasError('required') && !confirmPass.pristine)">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Password does not match.
          </div>
          <div class="fc-error" *ngIf="confirmPass.hasError('required') && !confirmPass.pristine">
            <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Retype your password.
          </div>
        </div>

        <button class="button button--primary button--big button--big--login" type="submit" [disabled]="!registrationForm.valid || loading" (click)="onCreate()">
          <svg *ngIf="loading" class="spinner">
            <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2"></circle>
          </svg>
          <span *ngIf="!loading">Sign Up</span>
        </button>
      </form>
      <div class="ending">Already have an account? <a class="ending__link" href [routerLink]="loginRoute">Login now</a></div>
      <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="error" (onHide)="hideError($event)"></app-error>
    </div>
  </div>
  <div class="img-sec" fxHide.lt-md>
    <h2 class="img-sec-header">Manage Assets <br>
      {{ secondImg ? 'across your organization.': 'anyway you want.'}}</h2>
    <p class="img-sec__text">{{ secondImg ? 'Makes asset management a breeze for all levels.': 'Use Troumaka for anything from collection of personal assets, complex company and asset management.'}}</p>
  </div>
</div>
