<div class="content-i asset-container">

  <asset-type-class-top-menu></asset-type-class-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Assets Listing
      </h6>
      <div class="element-box">

        <search></search>

        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
              <tr>
                <th class="name">{{headerNames[0]}}</th>
                <th>{{headerNames[1]}}</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="description">{{headerNames[0]}}</th>
                <th>{{headerNames[1]}}</th>
              </tr>
            </tfoot>
            <tbody>
              <tr role="row" *ngFor="let assetTypeClass of assetTypeClasses.assetTypeClasses; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
                <td class="name">{{assetTypeClass.name}}</td>
                <td >{{assetTypeClass.description}}</td>
                </tr>
              <tr *ngIf="assetTypeClasses.length <= 0" class="odd">
                <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
              </tr>
            </tbody>
          </table>
          <!--<pre>{{assetTypeClasses | json}}</pre>-->
          <paging [page]="assetTypeClasses.page" (requestPage)="onRequestPage($event)"></paging>
        </div>
      </div>
    </div>
  </div>
</div>
