  <div class="up-head-w" [ngStyle]="{'background-image': 'url(' + defaultOrganizationImage + ')'}">
    <div class="up-social">
      <input #fileid type="file" (change)="onUpload($event)" accept="image/*"  hidden/>
      <a (click)="fileid.click()"><i class="os-icon os-icon-pencil-2"></i></a>
    </div>
    <div class="up-main-info">
      <div class="user-avatar-w">
        <div [hidden]="type === 'organization'" class="user-avatar">
          <img alt="Image of user" [src]="photo.userImage || defaultUserImage">
        </div>
      </div>
      <h2 class="up-header" *ngIf="organizationName || firstName">
        {{type === 'organization' ? organizationName : firstName + ' ' + lastName}}
      </h2>
      <h6 class="up-sub-header">
      </h6>
    </div>
    <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>
  </div>
