:host {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

/* LAYOUT */
.auth-grid {
  min-height: 100%;
}

.auth-main {
  display: block;
  width: 826px;
  min-height: 612px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 68px;
  padding: 0;
}

/* REUSED COMPONENTS*/

/* input */

::ng-deep .fc--password {
  min-height: 104px;
}

::ng-deep .fc-input {
  background: #F0F7FB;
}

::ng-deep .fc-input.ng-valid {
  background: #E9F9FD;
}

::ng-deep .fc-input.ng-invalid {
  background: #FFE4E3;
}

::ng-deep .fc-input.ng-pristine {
  background: #F0F7FB;
}


/* end of input */

/* button */

::ng-deep .button {
  font-size: 18px;
}
::ng-deep .button--big {
  width: 100%;
}

::ng-deep .button--primary--medium {
  width: 243px;
}

::ng-deep .button--primary--small {
  width: 145px;
}

::ng-deep .button--big--google {
  background: #DB4437;
}

::ng-deep .icon--google {
  margin-right: 14px;
  width: 16px;
  height: 21px;
}

@media only screen and (max-width: 959px) {
  .auth-main {
    width: 412px;
  }
}

@media only screen and (max-width: 599px) {
  .auth-grid {
    position: relative;
    background: #FFFFFF;
  }
  .auth-main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    background: none;
  }
}
