@import "auth.input.css";
@import "auth.button.css";
@import "auth.basic.css";
:host {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

/* LAYOUT */
.container {
  min-height: 100%;
}

.main {
  display: block;
  width: 826px;
  min-height: 612px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 68px;
  padding: 0;
}

@media only screen and (max-width: 959px) {

  .main {
    width: 412px;
  }

}

@media only screen and (max-width: 599px) {
  .container {
    position: relative;
    background: #FFFFFF;
  }

  .main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    background: none;
  }

}
