<div class="content-i asset-container">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="assetTypeClassForm" id="formValidate">
              <h5 class="form-header">
                {{assetTypeClassExist ? "Edit":"New"}} Asset Type Class Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{assetTypeClassExist ? "Update":"Create"}} Asset Type Class.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input id="name" class="form-control" formControlName="name" placeholder="Name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><input id="description" class="form-control" formControlName="description" placeholder="Description" type="text">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="row">
                <!-- START OF AVAILABLE ATTRIBUTES-->
                <div class="col-sm-6">
                  <h6 class="text-center">
                    Available Attributes <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" href="javascript:void(0);" (click)="onModalOpen('new')" data-target="#attributeModal1" data-toggle="modal">New</a></object>
                  </h6>
                  <div class="table-responsive table-section">
                    <table class="table table-striped table-lightfont table-full-width">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>data Type</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>data Type</th>
                        <th>Actions</th>
                      </tr>
                      </tfoot>
                      <tbody>
                      <tr class="clickable-tr" role="row" *ngFor="let attribute of availableAttributes.attributes; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven" (dblclick)="onAvailableDoubleClick(attribute.attributeId, attribute.name, attribute.dataTypeName)">
                        <td>{{attribute.name}}</td>
                        <td>{{attribute.dataTypeName}}</td>
                        <td class="row-actions">
                          <a data-toggle="modal" data-target="#attributeModal1" (click)="onModalOpen('edit', attribute.attributeId)" href="#"><i class="os-icon os-icon-ui-49"></i></a><a data-target="#DeleteModal1" data-toggle="modal" class="danger" (click)="onOpenDeleteModal(attribute.attributeId, attribute.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                        </td>
                      </tr>
                      <tr *ngIf="availableAttributes.attributes.length <= 0" class="odd">
                        <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No Available Attributes</td>
                      </tr>
                      </tbody>
                    </table>
                    <paging [page]="availableAttributes.page" (requestPage)="onAvailableRequestPage($event)"></paging>
                  </div>
                </div>
                <!-- END OF AVAILABLE ATTRIBUTES-->

                <!-- START OF ASSIGNED ATTRIBUTES -->
                <div class="col-sm-6">
                  <h6 class="text-center">
                    Assigned Attributes
                  </h6>
                  <div class="table-responsive table-section">
                    <table class="table table-striped table-lightfont table-full-width">
                      <thead>
                      <tr>
                        <th>Required</th>
                        <th>Name</th>
                        <th>data Type</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                        <th>Required</th>
                        <th>Name</th>
                        <th>data Type</th>
                      </tr>
                      </tfoot>
                      <tbody>
                      <tr class="clickable-tr" role="row" *ngFor="let attribute of getSlice(); let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven" (dblclick)="onAssignedDoubleClick(attribute.attributeId)">
                        <td class="text-center">
                          <input class="form-control" type="checkbox" (change)="attribute.required = attribute.required ? false: true" [checked]="attribute.required">
                        </td>
                        <td>{{attribute.attributeName}}</td>
                        <td>{{attribute.dataTypeName}}</td>
                      </tr>
                      <tr *ngIf="assignedAttributes.length <= 0" class="odd">
                        <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No Assigned Attributes</td>
                      </tr>
                      </tbody>
                    </table>
                    <paging [page]="getAssignedPage" (requestPage)="onAssignedRequestPage($event)"></paging>
                  </div>
                </div>
                <!-- END OF ASSIGNED ATTRIBUTES -->
              </div>

              <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="attributeModal1" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <app-attribute-form [attributeId]="attributeId" [modalType]="modalType" (closeModal)="doCloseModal($event)"> </app-attribute-form>
                  <button class="btn btn-outline-danger" hidden data-dismiss="modal" #modelClose>don't click</button>
                </div>
              </div>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [hidden]="assetTypeClassExist" [disabled]="!assetTypeClassForm.valid" type="submit" (click)="onCreate()">Create</button>
                <button class="btn btn-primary button1" [hidden]="!assetTypeClassExist" [disabled]="!assetTypeClassForm.valid" type="submit" (click)="onUpdate()">Update</button>

                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>

        <app-delete-modal [name]="attributeName" (delete)="onDelete($event)"></app-delete-modal>

      </div>
    </div>
  </div>
</div>
