<div class="modal-panel">
  <div fxLayoutAlign="space-between">
    <h2 mat-dialog-title class="title title--bold" fxFlexAlign="center">New Password saved!</h2>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       class="content">
    <p class="confirm-desc">
      You can now use your new password on the <br> login screen.
    </p>
    <div class="img"></div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="flex-end">
    <button class="button button--primary button--primary--medium" mat-dialog-close>Let’s Go!</button>
  </div>
</div>

