<fieldset [formGroup]="parentForm">
  <legend><span>Asset Specification</span></legend>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Search Brand</mat-label>
    <mat-icon matSuffix color="primary">add_circle_outline</mat-icon>
    <input matInput [formControlName]="'brand'" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let brand of brands" [value]="brand.name" (onSelectionChange)="onBrandSelect.emit(brand.brandId)">{{brand.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Model Number</mat-label>
        <input matInput [formControlName]="'modelNumber'">
        <mat-error *ngIf="parentForm.controls['modelNumber'].hasError('required')">
          Model Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Standard Price</mat-label>
        <input type="number" matInput [formControlName]="'standardPrice'">
        <mat-error *ngIf="parentForm.controls['standardPrice'].hasError('required')">
          Standard Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Effective Date</mat-label>
        <input matInput [matDatepicker]="effPicker" [formControlName]="'effectiveDate'">
        <mat-datepicker-toggle matSuffix [for]="effPicker"></mat-datepicker-toggle>
        <mat-datepicker #effPicker></mat-datepicker>
        <mat-error *ngIf="parentForm.controls['effectiveDate'].hasError('required')">
          Effective Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Total Sales Value</mat-label>
        <input type="number" matInput [formControlName]="'totalSV'">
        <mat-error *ngIf="parentForm.controls['totalSV'].hasError('required')">
          Total Sales Value is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</fieldset>
