<form class="lsm2"
      [formGroup]="assetTypeForm"
>
  <div class="lsm2-white">
    <div fxLayoutAlign="start center">
      <span class="lsm-header-text">Create Type</span>
      <div class="color-container">
        <div class="red-header-circle"
             [style.background-color]="color"
             (click)="togglePop()"
        ></div>
        <div [ngClass]="{'color-modal': true, 'show': showColors}" >
          <span class="color-modal__text">Select colors</span>
          <ul class="color-list"
              gdColumns="repeat(3, 41px)"
              gdRows="repeat(2, 41px)"
              gdGap="30px 23px"
          >
            <li *ngFor="let color of colors"
                class="color-list__item"
                [style.background-color]="color"
                (click)="onSelectedColor(color)"
            ></li>
          </ul>
        </div>
      </div>
      <button mat-dialog-close class="modal__close">+</button>
    </div>
    <form class="lsm2-form">
      <div class="form-control">
        <label class="fc-label" for="name">Type name</label>
        <input class="fc-input" [formControl]="name" id="name" required>
        <div class="fc-error" *ngIf="name.hasError('required') && !name.pristine">
          <fa-icon class="fc-error__icon" [icon]="['fas', 'exclamation-triangle']"></fa-icon>Username is <strong>required</strong>
        </div>
      </div>
      <p class="lsm2-input-hint">Name your type to easily find them</p>
      <mat-expansion-panel class="lsm2-options" hideToggle #expansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-description fxLayout="column" fxLayoutAlign="start center">
            <div class="lsm2-options-text">advanced options</div>
            <fa-icon [icon]="['fas', 'chevron-down']" *ngIf="!expansionPanel.expanded"></fa-icon>
            <fa-icon [icon]="['fas', 'chevron-up']" *ngIf="expansionPanel.expanded"></fa-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-control f-c-no-padding">
          <label class="fc-label" for="description">Description</label>
          <input class="fc-input fc-input--white" [formControl]="description" id="description" placeholder="Add a short description" />
        </div>
        <div class="type-setting">
          <div class="type-setting-head"><span class="type-setting-head__text">Type Settings</span></div>
          <ul class="type-setting-list" fxLayout="column" fxLayoutGap="18px">
            <li class="type-setting-list__item">
              <label class="blue-checkbox-label" for="share">Share to community
                <input class="blue-checkbox" type="checkbox" id="share" [formControl]="share"/>
                <span class="blue-checkbox__shadow"></span>
              </label>
            </li>
            <li class="type-setting-list__item">
              <label class="blue-checkbox-label" for="can't">User can’t add characteristic
                <input class="blue-checkbox" type="checkbox" id="can't" [formControl]="use"/>
                <span class="blue-checkbox__shadow"></span>
              </label>
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </form>
  </div>
  <div class="modal-body">
    <ul class="attribute-list"
        fxLayout="column"
        fxLayoutGap="27px"
    >
      <li
        formArrayName="items"
        *ngFor="let item of assetTypeForm.get('items')['controls']; let i = index;"
          class="attribute-list-item"
      >
        <div class="form-control"
             [formGroupName]="i"
        >
          <div fxLayoutAlign="space-between"
               class="fc-select-label-div"
          >
            <label class="fc-label fc-label__no-margin" for="{{item['controls']['assetCharacteristicId']['value']}}">{{item['controls']['name']['value']}}</label>
            <fa-icon class="fc-ellipse-v-icon" [icon]="['fas', 'ellipsis-v']"></fa-icon>
          </div>
          <input class="fc-input" formControlName="preFilledValue" id="{{item['controls']['assetCharacteristicId']['value']}}" [required]="item['controls']['required']['value']">
          <div class="fc-error" *ngIf="item['controls']['preFilledValue']['hasError']('required') && !item['controls']['preFilledValue']['pristine']">
            <fa-icon class="fc-error__icon" [icon]="['fas', 'exclamation-triangle']"></fa-icon>{{item['controls']['name']['value']}} is <strong>required</strong>
          </div>
        </div>
      </li>
    </ul>
    <div class="attribute-sec" fxLayout="column"  fxLayoutAlign="start center">
      <button class="button button--white button--white--attribute" (click)="newAttributeModal()">Add characteristics</button>
      <span class="lsm2-content-q">what is this?</span>
    </div>
  </div>
  <div fxLayoutAlign="center">
    <button class="button button--primary button--primary--normal" [disabled]="!assetTypeForm.valid" (click)="onSubmit()">Save Type</button>
  </div>
</form>
