<form class="lsm2"
      [formGroup]="assetTypeForm"
>
  <div class="lsm2-white">
    <div fxLayoutAlign="start center">
      <span class="lsm-header-text">Create Type</span>
      <div class="color-container">
        <div class="red-header-circle"
             [style.background-color]="color"
             (click)="togglePop()"
        ></div>
        <div [ngClass]="{'color-modal': true, 'show': showColors}" >
          <span class="color-modal__text">Select colors</span>
          <ul class="color-list"
              gdColumns="repeat(3, 41px)"
              gdRows="repeat(2, 41px)"
              gdGap="30px 23px"
          >
            <li *ngFor="let color of colors"
                class="color-list__item"
                [style.background-color]="color"
                (click)="onSelectedColor(color)"
            ></li>
          </ul>
        </div>
      </div>
      <button mat-dialog-close class="modal__close">+</button>
    </div>
    <form class="lsm2-form">
      <div class="form-control">
        <label class="fc-label" for="name">Type name</label>
        <input class="fc-input" [formControl]="name" id="name" required>
        <div class="fc-error" *ngIf="name.hasError('required') && !name.pristine">
          <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Username is <strong>required</strong>
        </div>
      </div>
      <p class="lsm2-input-hint">Name your type to easily find them</p>
      <mat-expansion-panel class="lsm2-options" hideToggle #expansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-description fxLayout="column" fxLayoutAlign="start center">
            <div class="lsm2-options-text">advanced options</div>
            <fa-icon [icon]="faChevronDown" *ngIf="!expansionPanel.expanded"></fa-icon>
            <fa-icon [icon]="faChevronUp" *ngIf="expansionPanel.expanded"></fa-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-control f-c-no-padding">
          <label class="fc-label" for="description">Description</label>
          <input class="fc-input fc-input--white" [formControl]="description" id="description" placeholder="Add a short description" />
        </div>
        <div class="type-setting">
          <div class="type-setting-head"><span class="type-setting-head__text">Type Settings</span></div>
          <ul class="type-setting-list" fxLayout="column" fxLayoutGap="18px">
            <li class="type-setting-list__item">
              <label class="blue-checkbox-label" for="share">Share to community
                <input class="blue-checkbox" type="checkbox" id="share" [formControl]="share"/>
                <span class="blue-checkbox__shadow"></span>
              </label>
            </li>
            <li class="type-setting-list__item">
              <label class="blue-checkbox-label" for="can't">User can’t add characteristic
                <input class="blue-checkbox" type="checkbox" id="can't" [formControl]="use"/>
                <span class="blue-checkbox__shadow"></span>
              </label>
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </form>
  </div>
  <div mat-dialog-content>
    <ul class="attribute-list" *ngIf="attributes.length >= 1"
        gdColumns="repeat(2, 50%)"
        gdGap="12px 12px"
    >
      <li *ngFor="let attribute of attributes" class="attribute-list-item" fxLayoutAlign="start center">
        <fa-icon class="icon-tag" [icon]="faTag"></fa-icon>
        <span class="attribute-item-label">{{attribute.name}}</span>
        <fa-icon class="attribute-label-icon" [icon]="getIcon(attribute.assetCharacteristicTypeId)"></fa-icon>
        <span class="attribute-type-name">select</span>
        <a class="attribute-item-edit">edit</a>
      </li>
    </ul>
    <div class="attribute-sec" fxLayout="column"  fxLayoutAlign="start center">
      <button class="button button--white button--white--attribute" (click)="newAttributeModal()">Add an characteristic</button>
      <span class="lsm2-content-q">what is this?</span>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="center">
    <button class="button button--primary button--primary--normal" [disabled]="!assetTypeForm.valid" (click)="onSubmit()">Save Type</button>
  </div>
</form>
