.red-header-circle {
  margin-left: 15px;
  width: 18px;
  height: 18px;
  background: #F2CBCB;
  border-radius: 50%;
}

.modal__close {
  margin-left: auto;
}

.lsm2 {
  min-height: 100%;
}
.lsm2-white {
  background: #FFFFFF;
  padding: 32px 30px 25px 39px;
}

.lsm2-form {
  margin-top: 56px;
}

.lsm2-input-hint {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #2C4948;
  opacity: 0.5;
  margin-top: 9px;
  margin-left: 4px;
}

/* options */
.lsm2-options {
  margin-top: 25px;
  box-shadow: none;
}

.lsm2-options-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #119CB7;
  opacity: 0.88;
  margin-bottom: 5px;
}

.lsm-header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-left: 3px;
}

.lsm-header-span {
  display: block;
  margin-top: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #4DD0F0;
  margin-left: 5px;
}

.search {
  margin-top: 32px;
}


::ng-deep .mat-tab-group {
  font-family: 'Comfortaa', cursive !important;
}

::ng-deep .mat-tab-labels {
  background: #FFFFFF;
}

::ng-deep .mat-tab-label {
  font-family: 'Comfortaa', cursive !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  color: #004777;
  opacity: 1;
}

::ng-deep .mat-ink-bar {
  background-color: #004777 !important;
  opacity: 1;
}

.select-types {
  padding: 35px 166px 35px 37px;
  min-height: 378px;
}

.select-types-span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-left: 5px;
  margin-bottom: 15px;
}

.select-types-list {
  margin: 0 0 19px 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.select-types-list:not(last-child) {
  margin-right: 7px;
}

.select-type-i {
  border-radius: 20px;
  height: 31px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(37,207,232, 0.2);
}


.select-type-i-s {
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #000000;
}

.mat-dialog-content {
  padding: 52px 0 0;
  margin: 0;
}

.lsm2-content-q {
  margin-top: 15px;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #24CCEC;
}

.input-div {
  margin-bottom: 35px;
}

/* panel */
.lsm2-options .mat-expansion-panel-header:hover {
  background: none;
}

::ng-deep .mat-expansion-panel-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

::ng-deep .mat-expansion-panel-content {
  font-family: 'Comfortaa', cursive !important;
}

.type-setting-head {
  text-align: center;
  font-size: 13px;
  line-height: 0.1em;
  letter-spacing: 0.01em;
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.type-setting-head__text {
  background: #fff;
  padding: 0 50px;
}

.type-setting-list {
  margin: 24px 15px 0 0;
  padding: 0;
  list-style-type: none;
}

.type-setting-list__item__span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
}

::ng-deep .mat-checkbox-frame {
  border: 1px solid #23C7EF !important;
  border-radius: 6px;
}


