<div class="content-i webSite-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Web Site Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" [routerLink]="routerLinkCreateWebSite" href="#">New</a></object>
      </h6>
      <div class="element-box">

         <!--<search></search> -->


        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
            <tr>
              <th>Name</th>
              <th>Uniform Resource Identifier</th>
              <th>description</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Uniform Resource Identifier</th>
              <th>description</th>
              <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            <tr role="row" *ngFor="let webSite of webSites.webSites; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
              <td>{{webSite.name}}</td>
              <td>{{webSite.uniformResourceIdentifier}}</td>
              <td>{{webSite.description}}</td>
              <td class="row-actions">
                <a [routerLink]="['/sites/web-sites', webSite.siteId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(webSite.siteId, webSite.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
              </td>
            </tr>
            <tr *ngIf="webSites.webSites.length <= 0" class="odd">
              <td valign="top" align="" colspan="4" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
            </tr>
            </tbody>
          </table>
          <app-delete-modal [name]="webSiteName" (delete)="onDelete($event)"></app-delete-modal>
          <paging [page]="webSites.page" (requestPage)="onRequestPage($event)"></paging>
        </div>

      </div>
    </div>
  </div>
</div>
