/*
  Troumaca overrides etc.
*/
.log-button-container {
  position: relative;
  min-height: 150px;
}

.log-buttons {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding: 40px;
}

.front-buttons {
  font-size: 1.2rem;
  font-weight: 400;
}

#login {
  float: left;
}

#register {
  float: right;
}

a[mat-button] {
  text-decoration: none;
}

.auth-header {
  text-align: center;
  padding-left: 0px;
}

.auth-header:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
