/*
  Troumaca overrides etc.
*/
.log-button-container {
  position: relative;
  min-height: 150px;
}

.log-buttons {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding: 40px;
}

.front-buttons {
  font-size: 1.2rem;
  font-weight: 400;
}

#login {
  float: left;
}

#register {
  float: right;
}

