/*
  Troumaca overrides etc.
*/




/*.login-register-container {*/
  /*padding: 40px;*/
  /*margin-top: 50px;*/
  /*margin-bottom: 20px;*/

/*}*/
.log-button-container {
  position: relative;
  min-height: 150px;
}

.log-buttons {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding: 40px;
}

.btn-link {
  font-size: 1.2rem;
}

#login {
  float: left;
}

#register {
  float: right;
}

