<div class="auth-box-w wider centered">
  <div class="logo-w">
    <a href="index.html"><img alt="" src="/images/logo-big.png"></a>
  </div>
  <h4 class="auth-header">
    Welcome To Troumaka
  </h4>
  <div class="log-button-container">
    <div class="log-buttons">
      <button mat-button class="front-buttons" id="login" color="primary" [routerLink]="loginRoute">Log In</button>
      <button mat-button class="front-buttons" id="register"  color="primary" [routerLink]="registerRoute">Register</button>
    </div>
  </div>
</div>

