<div class="auth-box-w wider centered">
  <div class="logo-w">
    <a href="index.html"><img alt="" src="/images/logo-big.png"></a>
  </div>
  <h4 class="auth-header">
    Welcome To Troumaka
  </h4>
  <div class="log-button-container">
    <div class="log-buttons">
      <a class="front-buttons" id="login" mat-button color="primary" routerLink="/authentication/login">Login</a>
      <a class="front-buttons" id="register" mat-button color="primary" routerLink="/authentication/register">Register</a>
    </div>
  </div>
</div>

