.mat-dialog-content {
  padding: 0;
}

.img {
  width: 183px;
  height: 180px;
}

.content {
  margin-top: 51px;
  margin-left: 78px;
  margin-right: 7px;
}

.card {
  width: 160px;
  height: 144px;
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 11px;
  padding-left: 17px;
  list-style: none;
}

.card.selected {
  background: #004777;
  color: #FFFFFF;
}

.card__icon--check {
  display: block;
  float: right;
  font-size: 17px;
  color: #23C7EF;
  opacity: 0.8;
}

.card__icon {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #004777;
}

.card.selected .card__icon {
  color: #FFFFFF;
}

.card__header {
  font-size: 14px;
  line-height: 16px;
  color: #004777;
}

.card.selected .card__header {
  color: #FFFFFF;
}

.card__desc {
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  opacity: 0.7;
}

