<div class="modal-panel">
  <div fxLayoutAlign="space-between">
    <div fxFlexAlign="center" fxLayout="row no-wrap" fxLayoutGap="13px">
      <button class="panel__back" *ngIf="data && data['forgetPassword']" (click)="onPrevious.emit(true)" fxFlexAlign="center"><fa-icon [icon]="faArrowLeft" ></fa-icon></button>
      <h2 mat-dialog-title class="title title--bold" fxFlexAlign="center">Verification Code</h2>
    </div>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       class="content">
    <p class="confirm-desc">
      Success! We have sent the code to <br>
      <span class="confirm-desc__username">{{ this.data['username']}}</span><br>
      <br>
      Please input the code below.
    </p>
    <form [formGroup]="confirmationForm" class="form">

      <div class="form-control">
        <label class="fc-label" for="code">Verification Code</label>
        <input class="fc-input" [formControl]="confirmationCode"  id="code" required>
        <div class="fc-error" *ngIf="confirmationCode.errors && (!confirmationCode.hasError('required') && !confirmationCode.pristine)">
          <fa-icon class="fc-error__icon"[icon]="faExclamationTriangle"></fa-icon> Must be six characters.
        </div>
        <div class="fc-error" *ngIf="confirmationCode.hasError('required') && !confirmationCode.pristine">
          <fa-icon class="fc-error__icon"[icon]="faExclamationTriangle"></fa-icon>Code  is <strong>required</strong>
        </div>
      </div>

      <a class="resend-code" href (click)="sendConfirmationCode();false">Resend code in 60 sec.</a>

    </form>
  </div>
<!--  <div mat-dialog-actions fxLayoutAlign="flex-end">-->
<!--    <button [disabled]="!confirmationForm.valid" mat-flat-button class="button button&#45;&#45;primary button&#45;&#45;primary&#45;&#45;small" (click)="onSubmit()">Next</button>-->
<!--  </div>-->
  <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="message" (onHide)="hideError($event)"></app-error>
  <app-success [hidden]="doNotDisplaySuccessMessage" [successMessage]="success"></app-success>
</div>

