<div class="modal-panel">
  <div fxLayoutAlign="space-between">
    <div fxFlexAlign="center" fxLayout="row no-wrap" fxLayoutGap="13px">
      <button class="panel__back" *ngIf="data && data['forgetPassword']" (click)="onPrevious.emit(true)" fxFlexAlign="center"><fa-icon [icon]="faArrowLeft" ></fa-icon></button>
      <h2 mat-dialog-title class="title title--bold" fxFlexAlign="center">Verification Code</h2>
    </div>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       class="content">
    <p class="confirm-desc">
      Success! We have sent the code to <br>
      <span class="confirm-desc__username">{{ this.data['username']}}</span><br>
      <br>
      Please input the code below.
    </p>
    <form [formGroup]="confirmationForm" class="form">

      <div>
        <label class="input-label" for="code">Verification Code</label>
        <mat-form-field class="input-field" appearance="outline">
          <input matInput [formControl]="confirmationCode"  id="code" required>
          <mat-error *ngIf="confirmationCode.errors && !confirmationCode.hasError('required')">
            Must be six characters.
          </mat-error>
          <mat-error *ngIf="confirmationCode.hasError('required')">
            Code  is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <a class="resend-code" href (click)="sendConfirmationCode();false">Resend code in 60 sec.</a>

    </form>
  </div>
<!--  <div mat-dialog-actions fxLayoutAlign="flex-end">-->
<!--    <button [disabled]="!confirmationForm.valid" mat-flat-button class="button button&#45;&#45;primary button&#45;&#45;primary&#45;&#45;small" (click)="onSubmit()">Next</button>-->
<!--  </div>-->
  <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="message" (onHide)="hideError($event)"></app-error>
  <app-success [hidden]="doNotDisplaySuccessMessage" [successMessage]="success"></app-success>
</div>

