<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="siteStreetAddressForm">
              <h5 class="form-header">
               {{streetAddressExist ? "Edit": "New"}} Street Address Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{streetAddressExist ? "Update": "Create"}} Street Address.</div>

              <fieldset class="form-group">
                <div class="form-group row">
                  <label for="building-type" class="col-sm-4 col-form-label">Building Type</label>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-check">
                          <label for="suite" class="form-check-label"><input id="suite" class="form-check-input" formControlName="suiteOrApartment" type="radio" value="Suite" required>Suite</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-check">
                          <label for="apartment" class="form-check-label"><input id="apartment" class="form-check-input" formControlName="suiteOrApartment" type="radio" value="Apartment">Apartment</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div [hidden]="suiteOrApartment.valid || suiteOrApartment.pristine" class="alert alert-danger">Please Select Suite or Apartment.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid street name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Floor">Floor</label><input class="form-control" formControlName="floor" placeholder="Floor" required type="text">
                  <div [hidden]="floor.valid || floor.pristine" class="alert alert-danger">Invalid floor.</div>
                </div>
              </fieldset>

              <fieldset *ngIf="suiteOrApartment" class="form-group">
                <div class="form-group">
                  <label for="Suite or Apartment Number">{{suiteOrApartment.value}} Number</label><input class="form-control" formControlName="suiteOrApartmentNumber" placeholder="Suite Or Apartment Number" required type="number">
                  <div [hidden]="suiteOrApartmentNumber.valid || suiteOrApartmentNumber.pristine" class="alert alert-danger">Invalid {{suiteOrApartment.value}} Number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Street Number">Street Number</label><input class="form-control" formControlName="streetNumber" placeholder="Street number" type="number">
                  <div [hidden]="streetNumber.valid || streetNumber.pristine" class="alert alert-danger">Invalid street number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Street">Street</label><input class="form-control" formControlName="street" required placeholder="Street">
                  <div [hidden]="street.valid || street.pristine" class="alert alert-danger">The street is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="City">City</label><input class="form-control" formControlName="city" required placeholder="City">
                  <div [hidden]="city.valid || city.pristine" class="alert alert-danger">The city is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="State or Province">State or Province</label><input class="form-control" formControlName="stateOrProvince" required placeholder="State or Province">
                  <div [hidden]="stateOrProvince.valid || stateOrProvince.pristine" class="alert alert-danger">The state or province is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="postal Code">Postal Code</label><input class="form-control" formControlName="postalCode" required placeholder="Postal Code">
                  <div [hidden]="postalCode.valid || postalCode.pristine" class="alert alert-danger">The postal code  is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="country">Country</label><input class="form-control" formControlName="country" required placeholder="Country">
                  <div [hidden]="country.valid || country.pristine" class="alert alert-danger">The country is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [hidden]="streetAddressExist" [disabled]="!siteStreetAddressForm.valid" type="submit" (click)="onCreate()"> Save</button>
                <button class="btn btn-primary button1" [hidden]="!streetAddressExist" [disabled]="!siteStreetAddressForm.valid" type="submit" (click)="onUpdate()"> Save</button>
                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
