<div class="modal-panel">
  <div fxLayoutAlign="space-between">
    <h2 mat-dialog-title class="title title--bold" fxFlexAlign="center">Create new Password</h2>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       class="content">
    <p class="confirm-desc">
      Please create a new password.
    </p>
    <form [formGroup]="forgetPasswordForm" class="form">

      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Create new Password</mat-label>
        <input matInput [formControl]="password" type="password">
        <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
          At least eight characters: 1 upper case letter, numeric, and special character.
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Verify new Password</mat-label>
        <input matInput [formControl]="confirmPass" type="password">
        <mat-error *ngIf="confirmPass.hasError('password') && !confirmPass.hasError('required')">
          Password does not match.
        </mat-error>
        <mat-error *ngIf="confirmPass.hasError('required')">
          Retype your password.
        </mat-error>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="flex-end">
    <button [disabled]="!forgetPasswordForm.valid" mat-flat-button class="button button--primary button--primary--medium" (click)="onPassword()">Save Password</button>
  </div>
  <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="message" (onHide)="hideError($event)"></app-error>
</div>

