.menu-side-w .logo-w {
  text-align: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-w .logo-w a {
  display: inline-block;
}

.menu-side-w .logo-w .logo {
  display: inline-block;
}

.menu-side-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-side-w .logo-w span {
  vertical-align: middle;
  display: inline-block;
  color: #334152;
  margin-left: 1rem;
}

.menu-side-w.color-scheme-dark .logo-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-w.color-scheme-dark .logo-w span {
  color: #fff;
}

.menu-side-compact-w .logo-w {
  text-align: center;
  padding: 19px 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-compact-w .logo-w a {
  display: inline-block;
}

.menu-side-compact-w .logo-w .logo {
  display: inline-block;
}

.menu-side-compact-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-side-compact-w .logo-w span {
  vertical-align: middle;
  display: block;
  color: #334152;
  margin-top: 10px;
}

.menu-side-compact-w.color-scheme-dark .logo-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-top-w .menu-top-i .logo-w {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  text-align: center;
  padding: 0rem 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-top-w .menu-top-i .logo-w a {
  display: inline-block;
  white-space: nowrap;
}

.menu-top-w .menu-top-i .logo-w .logo {
  display: inline-block;
}

.menu-top-w .menu-top-i .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-top-w .menu-top-i .logo-w span {
  vertical-align: middle;
  display: inline-block;
  color: #334152;
  margin-left: 1rem;
}

.menu-top-image-w .top-part-w .logo-w {
  text-align: center;
  padding: 1rem 2rem;
}

.menu-top-image-w .top-part-w .logo-w a {
  display: inline-block;
}

.menu-top-image-w .top-part-w .logo-w .logo {
  display: inline-block;
}

.menu-top-image-w .top-part-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-top-image-w .top-part-w .logo-w span {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  margin-left: 1rem;
}

.auth-box-w .logo-w {
  text-align: center;
  padding: 20%;
}

/* #3.  Screen size <= 1350px */
@media (max-width: 1350px) {
  .menu-side-w .logo-w {
    padding: 1.5rem 1rem;
  }
  .menu-top-w .menu-top-i .logo-w {
    padding: 0rem 1rem;
    width: 50px;
  }
  .menu-top-w .menu-top-i ul.main-menu {
    padding-left: 0px;
  }
}