<form>
  <ul class="form-style-1">
    <li>
      <span style="font-size:20px;">Create New - Person</span>
    </li>
    <li>
      <label>Full Name: <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First"/>
    </li>
    <li>
      <label>Parent Organization: </label><input type="text" name="field1" class="field-divided" placeholder="Parent"/>
    </li>
    <li>
      <label>Purpose:</label>
      <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
      <input type="submit" value="Submit" />
    </li>
  </ul>
</form>