<div class="content-w">
  <app-user-me *ngIf="userResponse" (userCreated)="doUserCreated($event)" [userResponse]="userResponse" [stepper]="true"></app-user-me>
  <mat-horizontal-stepper *ngIf="!userResponse" id="mat-stepper" [linear]="true" #stepper>
    <mat-step [completed]="organizationCompleted">
      <ng-template matStepLabel> ORGANIZATION</ng-template>

      <div class="os-tabs-w mx-4 controls">
        <div class="os-tabs-controls">
          <ul class="nav nav-tabs upper">
            <li class="nav-item">
              <a aria-expanded="false" *ngIf="!createdOrganization" class="nav-link" data-toggle="tab" (click)="toggleTab(0)"> Request Access</a>
              <a aria-expanded="false" *ngIf="createdOrganization" class="nav-link disabled" data-toggle="tab"> Request Access</a>
            </li>
            <li class="nav-item">
              <a aria-expanded="false" *ngIf="!requestAccessed" class="nav-link" data-toggle="tab" (click)="toggleTab(1)"> Create</a>
              <a aria-expanded="false" *ngIf="requestAccessed" class="nav-link disabled" data-toggle="tab"> Create</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="tab === 0" class="content-i"  id="request-access-form">
        <div class="content-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="element-wrapper">
                <div class="element-box">
                  <form [formGroup]="requestAccessForm">
                    <h5 class="form-header">
                      Request Access Form
                    </h5>

                    <div class="alert alert-info add-margin" role="alert">
                      <strong>Not apart of an organization?</strong> Please use the Create tab above to create and customize your own organization.
                    </div>

                    <fieldset class="form-group">
                      <div class="form-group" [class]="(selectedOrganization.name === organizationId.value) ? 'ng2-completer-valid':'ng2-completer-invalid'">
                        <label for="organization"> Join An Organization</label>
                        <ng2-completer id="organization"
                                       [datasource]="organizationDataService"
                                       [minSearchLength]="0"
                                       [maxChars]="4"
                                       [inputClass]="'form-control'"
                                       [placeholder]="'Select An Organization'"
                                       [matchClass]="'match'"
                                       formControlName="organizationId"
                                       [autofocus]="true"
                                       [clearUnselected]="true"
                                       [fillHighlighted]="false"
                                       [openOnClick]="true"
                                       [textSearching]="false"
                                       (selected)="onOrganizationSelect($event)"
                                       required>
                        </ng2-completer>
                        <div [hidden]="selectedOrganization.name === organizationId.value || organizationId.pristine" class="alert alert-danger">Select an Organization.</div>
                      </div>
                    </fieldset>
                    <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to Send Request. Please try again</div>

                    <div class="form-buttons-w">
                      <button class="btn btn-primary button-margin" [disabled]="selectedOrganization.name !== organizationId.value" type="submit" (click)="onNext()"> Next</button>
                      <button class="btn btn-outline-secondary" type="submit" (click)="onCancel()"> Cancel Request</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <app-organization-company *ngIf="tab === 1" (organizationCreated)="doOrganizationCreated();nextStep($event, 1)" [stepper]="true"></app-organization-company>


      <!--<ngb-tabset active>-->
        <!--<ngb-tab title="Request Access">-->
          <!--<ng-template ngbTabContent>-->
            <!--<div class="content-i" id="request-access-form">-->
              <!--<div class="content-box">-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-12">-->
                    <!--<div class="element-wrapper">-->
                      <!--<div class="element-box">-->
                        <!--<form [formGroup]="requestAccessForm">-->
                          <!--<h5 class="form-header">-->
                            <!--Request Access Form-->
                          <!--</h5>-->

                          <!--<div class="alert alert-info add-margin" role="alert">-->
                            <!--<strong>Not apart of an organization?</strong> Please use the Create tab above to create and customize your own organization.-->
                          <!--</div>-->

                          <!--<fieldset class="form-group">-->
                            <!--<div class="form-group" [class]="(selectedOrganization.name === organizationId.value) ? 'ng2-completer-valid':'ng2-completer-invalid'">-->
                              <!--<label for="organization"> Join An Organization</label>-->
                              <!--<ng2-completer id="organization"-->
                                             <!--[datasource]="organizationDataService"-->
                                             <!--[minSearchLength]="0"-->
                                             <!--[maxChars]="4"-->
                                             <!--[inputClass]="'form-control'"-->
                                             <!--[placeholder]="'Select An Organization'"-->
                                             <!--[matchClass]="'match'"-->
                                             <!--formControlName="organizationId"-->
                                             <!--[autofocus]="true"-->
                                             <!--[clearUnselected]="true"-->
                                             <!--[fillHighlighted]="false"-->
                                             <!--[openOnClick]="true"-->
                                             <!--[textSearching]="false"-->
                                             <!--(selected)="onOrganizationSelect($event)"-->
                                              <!--required>-->
                              <!--</ng2-completer>-->
                              <!--<div [hidden]="selectedOrganization.name === organizationId.value || organizationId.pristine" class="alert alert-danger">Select an Access Role Type.</div>-->
                            <!--</div>-->
                          <!--</fieldset>-->
                          <!--<div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to Send Request. Please try again</div>-->

                          <!--<button class="btn btn-primary" [disabled]="selectedOrganization.name !== organizationId.value" type="submit" (click)="onNext()"> Next</button>-->
                        <!--</form>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</ng-template>-->
        <!--</ngb-tab>-->
        <!--<ngb-tab title="Create" [disabled]="requestAccessed">-->
          <!--<ng-template ngbTabContent>-->
          <!--<app-organization-company (organizationCreated)="nextStep($event, 1)" [stepper]="true"></app-organization-company>-->
          <!--</ng-template>-->
        <!--</ngb-tab>-->
      <!--</ngb-tabset>-->

    </mat-step>
    <mat-step [completed]="userCompleted">
      <ng-template matStepLabel> PERSONAL</ng-template>
      <app-user-me (userCreated)="doUserCreated($event)" [stepper]="true"></app-user-me>
    </mat-step>
  </mat-horizontal-stepper>
</div>
