<div class="content-i asset-container">

  <employee-top-menu></employee-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <h5 class="form-header">
              Company Info
            </h5>

            <table align="center">
              <tr>
                <td>First Name</td>
                <td>&nbsp;&nbsp;</td>
                <td>Foo</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>&nbsp;&nbsp;</td>
                <td>Bar</td>
              </tr>
              <tr>
                <td>Job</td>
                <td>&nbsp;&nbsp;</td>
                <td>Something</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>