/*Template styles*/
.desktop-menu {
  display: none;
}

.menu-side-compact-w {
  display: table-cell;
  vertical-align: top;
}

/*
  #2. Side Menu Default
*/
.menu-side-w {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  position: relative;
  width: 300px;
  border-radius: 4px 0px 0px 4px;
  /* Styles for sub menu */
}

.menu-side-w .logged-user-w {
  position: relative;
}

.menu-side-w .logged-user-w .logged-user-i {
  display: inline-block;
}

.menu-side-w .logged-user-w .logged-user-i:hover {
  cursor: pointer;
}

.menu-side-w .logged-user-w .logged-user-i:hover .logged-user-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.menu-side-w .logged-user-menu {
  background: #0061da;
  -webkit-box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  position: absolute;
  top: 0px;
  left: -10px;
  right: -10px;
  overflow: hidden;
  padding: 1rem;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-side-w .logged-user-menu .avatar-w {
  border-color: #fff;
}

.menu-side-w .logged-user-menu .logged-user-info-w {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-w .logged-user-menu .logged-user-info-w .logged-user-name {
  color: #fff;
}

.menu-side-w .logged-user-menu .logged-user-info-w .logged-user-role {
  color: rgba(255, 255, 255, 0.6);
}

.menu-side-w .logged-user-menu ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px 40px;
  padding-bottom: 20px;
}

.menu-side-w .logged-user-menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-side-w .logged-user-menu ul li a {
  display: block;
  padding: 10px;
  color: #fff;
}

.menu-side-w .logged-user-menu ul li a i {
  vertical-align: middle;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-w .logged-user-menu ul li a span {
  vertical-align: middle;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-w .logged-user-menu ul li a:hover {
  text-decoration: none;
}

.menu-side-w .logged-user-menu ul li a:hover i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.menu-side-w .logged-user-menu ul li a:hover span {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.menu-side-w .logged-user-menu ul li:last-child {
  border-bottom: none;
}

.menu-side-w .logged-user-menu .bg-icon {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -40px;
  right: -20px;
}

.menu-side-w .side-menu-magic {
  background-image: linear-gradient(-154deg, #1643A3 8%, #2E1170 90%);
  border-radius: 6px;
  padding: 40px;
  text-align: center;
  margin: 20px;
}

.menu-side-w .side-menu-magic h1, .menu-side-w .side-menu-magic h2, .menu-side-w .side-menu-magic h3, .menu-side-w .side-menu-magic h4, .menu-side-w .side-menu-magic h5 {
  color: #fff;
  margin-bottom: 5px;
}

.menu-side-w .side-menu-magic p {
  color: rgba(255, 255, 255, 0.6);
}

.menu-side-w .side-menu-magic .btn-w {
  margin-top: 15px;
}

.menu-side-w .side-menu-magic .btn-white, .menu-side-w .side-menu-magic .all-wrapper .fc-button, .all-wrapper .menu-side-w .side-menu-magic .fc-button {
  border: none;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.menu-side-w .logo-w {
  text-align: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-w .logo-w a {
  display: inline-block;
}

.menu-side-w .logo-w .logo {
  display: inline-block;
}

.menu-side-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-side-w .logo-w span {
  vertical-align: middle;
  display: inline-block;
  color: #334152;
  margin-left: 1rem;
}

.menu-side-w ul.main-menu {
  list-style: none;
  padding: 2rem;
  margin-bottom: 0px;
}

.menu-side-w ul.main-menu > li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-w ul.main-menu > li:last-child {
  border-bottom: none;
}

.menu-side-w ul.main-menu > li.has-sub-menu > a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e91c";
  font-size: 7px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10px;
}

.menu-side-w ul.main-menu > li.has-sub-menu.active .sub-menu {
  display: block;
}

.menu-side-w ul.main-menu > li > a {
  color: #3E4B5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu-side-w ul.main-menu > li > a:focus {
  text-decoration: none;
}

.menu-side-w ul.main-menu > li > a:hover {
  text-decoration: none;
}

@media (min-width: 1025px) {
  .menu-side-w ul.main-menu > li > a:hover .icon-w {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  .menu-side-w ul.main-menu > li > a:hover span {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.menu-side-w ul.main-menu > li .icon-w {
  color: #0073ff;
  font-size: 27px;
  display: block;
  padding: 1rem;
  width: 80px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-side-w ul.main-menu > li span {
  padding: 1rem;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-side-w ul.main-menu > li .icon-w + span {
  padding-left: 0px;
}

.menu-side-w ul.sub-menu {
  padding: 1rem 0px;
  padding-left: 55px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: none;
  list-style: none;
}

.menu-side-w ul.sub-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-w ul.sub-menu li:last-child {
  border-bottom: none;
}

.menu-side-w ul.sub-menu li a {
  padding: 0.4rem 10px 0.4rem 10px;
  display: block;
  position: relative;
  font-size: 0.81rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-side-w ul.sub-menu li a:before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #047bf8;
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 6px;
}

.menu-side-w ul.sub-menu li a:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.menu-side-w ul.sub-menu li a:hover:before {
  -webkit-transform: translate(-5px, -50%);
  transform: translate(-5px, -50%);
  border-radius: 6px;
  background-color: #047bf8;
  border-color: #047bf8;
}

.menu-side-w.color-scheme-dark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3D4D75), to(#31395B));
  background-image: linear-gradient(to bottom, #3D4D75 0%, #31395B 100%);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c4cc3), to(#0f296a));
  background-image: linear-gradient(to bottom, #1c4cc3 0%, #0f296a 100%);
  background-repeat: repeat-x;
  color: rgba(255, 255, 255, 0.9);
}

.menu-side-w.color-scheme-dark .logged-user-menu {
  background-color: #5e00da;
  -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25);
}

.menu-side-w.color-scheme-dark .side-menu-magic {
  background-image: linear-gradient(-154deg, #6d16a3 8%, #5211e6 90%);
}

.menu-side-w.color-scheme-dark ul.sub-menu li {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-w.color-scheme-dark ul.sub-menu li a {
  color: #fff;
}

.menu-side-w.color-scheme-dark ul.main-menu .icon-w {
  color: #9db2ff;
}

.menu-side-w.color-scheme-dark ul.main-menu > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-side-w.color-scheme-dark ul.main-menu > li > a {
  color: #fff;
}

.menu-side-w.color-scheme-dark ul.main-menu > li > a:before {
  color: #fff;
}

.menu-side-w.color-scheme-dark .sub-menu-w {
  -webkit-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
}

.menu-side-w.color-scheme-dark .logo-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-w.color-scheme-dark .logo-w span {
  color: #fff;
}

.menu-side-w.color-scheme-dark .logged-user-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-w.color-scheme-dark .logged-user-w .avatar-w {
  border-color: #fff;
}

.menu-side-w.color-scheme-dark .logged-user-w .logged-user-role {
  color: rgba(255, 255, 255, 0.4);
}

/* Logged user box in the menu */
.logged-user-w {
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.logged-user-w .avatar-w {
  padding: 5px;
  border: 1px solid #262626;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
}

.logged-user-w .avatar-w img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.logged-user-w .logged-user-role {
  display: block;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

/*
  #3. Side Menu Compact
*/
.menu-side-compact-w {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  position: relative;
  width: 90px;
  border-radius: 4px 0px 0px 4px;
}

.menu-side-compact-w .logo-w {
  text-align: center;
  padding: 19px 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-compact-w .logo-w a {
  display: inline-block;
}

.menu-side-compact-w .logo-w .logo {
  display: inline-block;
}

.menu-side-compact-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-side-compact-w .logo-w span {
  vertical-align: middle;
  display: block;
  color: #334152;
  margin-top: 10px;
}

.menu-side-compact-w a {
  text-decoration: none;
}

.menu-side-compact-w .menu-and-user {
  padding-bottom: 50px;
}

.menu-side-compact-w ul.main-menu {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.menu-side-compact-w ul.main-menu > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}

.menu-side-compact-w ul.main-menu > li > a {
  display: block;
  padding: 15px 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-side-compact-w ul.main-menu > li > a .icon-w {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-side-compact-w ul.main-menu > li:last-child {
  border-bottom: none;
}

.menu-side-compact-w ul.main-menu > li.active > a {
  background-color: #0061da;
}

.menu-side-compact-w ul.main-menu > li.active > a .icon-w {
  color: #fff;
}

.menu-side-compact-w ul.main-menu > li.active .sub-menu-w {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0px) scale(1);
  transform: translateX(0px) scale(1);
}

.menu-side-compact-w ul.main-menu .icon-w {
  font-size: 30px;
  color: #0073ff;
}

.menu-side-compact-w .sub-menu-w {
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(40px) scale(0.95);
  transform: translateX(40px) scale(0.95);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  background-color: #0061da;
  color: #fff;
  left: 100%;
  top: -100px;
  overflow: hidden;
  text-align: left;
  -webkit-box-shadow: 0px 2px 40px 0px rgba(26, 138, 255, 0.5);
  box-shadow: 0px 2px 40px 0px rgba(26, 138, 255, 0.5);
  padding-bottom: 20px;
}

.menu-side-compact-w .sub-menu-w .sub-menu-title {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 5px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.menu-side-compact-w .sub-menu-w .sub-menu-icon {
  position: absolute;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.1);
  bottom: -50px;
  right: -10px;
}

.menu-side-compact-w .sub-menu-w .sub-menu-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-side-compact-w .sub-menu-w .sub-menu-i .sub-menu + .sub-menu {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .sub-menu-w > ul, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul {
  list-style: none;
  padding: 0px;
  min-width: 250px;
}

.menu-side-compact-w .sub-menu-w > ul > li, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .sub-menu-w > ul > li:last-child, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li:last-child {
  border-bottom: none;
}

.menu-side-compact-w .sub-menu-w > ul > li > a, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 50px;
  font-size: 0.99rem;
  position: relative;
  white-space: nowrap;
}

.menu-side-compact-w .sub-menu-w > ul > li > a:before, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #FBB463;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-side-compact-w .sub-menu-w > ul > li > a:hover:before, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a:hover:before {
  opacity: 1;
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.menu-side-compact-w .logged-user-w {
  position: relative;
}

.menu-side-compact-w .logged-user-w .avatar-w img {
  width: 40px;
}

.menu-side-compact-w .logged-user-w .logged-user-i {
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-i:hover {
  cursor: pointer;
}

.menu-side-compact-w .logged-user-w .logged-user-i:hover .logged-user-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu {
  background: #0061da;
  -webkit-box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  position: absolute;
  top: 0px;
  left: -10px;
  overflow: hidden;
  padding: 1rem;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: left;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-avatar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0px 30px 20px 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .logged-user-w .logged-user-menu .avatar-w {
  border-color: #fff;
  vertical-align: middle;
  margin-right: 20px;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w {
  vertical-align: middle;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name {
  color: #fff;
  white-space: nowrap;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role {
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a i {
  vertical-align: middle;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a span {
  vertical-align: middle;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover {
  text-decoration: none;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover span {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li:last-child {
  border-bottom: none;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .bg-icon {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -40px;
  right: -20px;
}

.menu-side-compact-w.color-scheme-dark {
  color: rgba(255, 255, 255, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c4cc3), to(#0f296a));
  background-image: linear-gradient(to bottom, #1c4cc3 0%, #0f296a 100%);
  background-repeat: repeat-x;
}

.menu-side-compact-w.color-scheme-dark ul.main-menu .icon-w {
  color: #9db2ff;
}

.menu-side-compact-w.color-scheme-dark ul.main-menu > li {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .sub-menu-w {
  -webkit-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
}

.menu-side-compact-w.color-scheme-dark .logo-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .logged-user-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .logged-user-w .avatar-w {
  border-color: #fff;
}

/*troumaca overrides etc.*/
.desktop-menu {
  display: block;
  order: 1;
  width: 90px;
  height: 100%;
}

.menu-and-user {
  height: 90px;
}

.menu-side-compact-w {
  display: block;
}

.menu-activated-on-hover {
}

/*Media query*/
@media only screen and (max-width: 750px) {
  .desktop-menu {
    display: none;
  }
}