/* #8.  Tablets and phones  (< 1024px) */
@media (max-width: 1024px) {
  .invoice-w {
    padding: 50px;
  }
  .ae-list-w {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
  }
  .ae-list-w .ae-list .ae-item {
    padding: 15px;
  }
  .table th,
  .table td {
    padding: 0.7rem 0.5rem;
  }
  .content-w {
    border-radius: 0px !important;
  }
  .desktop-menu {
    display: none;
  }
}

.menu-side-compact-w {
  display: table-cell;
  vertical-align: top;
}

/*
  #3. Side Menu Compact
*/
.menu-side-compact-w {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  position: relative;
  width: 90px;
  border-radius: 4px 0px 0px 4px;
}

.menu-side-compact-w .logo-w {
  text-align: center;
  padding: 19px 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.menu-side-compact-w .logo-w a {
  display: inline-block;
}

.menu-side-compact-w .logo-w .logo {
  display: inline-block;
}

.menu-side-compact-w .logo-w img {
  width: 40px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.menu-side-compact-w .logo-w span {
  vertical-align: middle;
  display: block;
  color: #334152;
  margin-top: 10px;
}

.menu-side-compact-w a {
  text-decoration: none;
}

.menu-side-compact-w .menu-and-user {
  padding-bottom: 50px;
}

.menu-side-compact-w ul.main-menu {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.menu-side-compact-w ul.main-menu > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}

.menu-side-compact-w ul.main-menu > li > a {
  display: block;
  padding: 15px 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-side-compact-w ul.main-menu > li > a .icon-w {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-side-compact-w ul.main-menu > li:last-child {
  border-bottom: none;
}

.menu-side-compact-w ul.main-menu > li.active > a {
  background-color: #0061da;
}

.menu-side-compact-w ul.main-menu > li.active > a .icon-w {
  color: #fff;
}

.menu-side-compact-w ul.main-menu > li.active .sub-menu-w {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0px) scale(1);
  transform: translateX(0px) scale(1);
}

.menu-side-compact-w ul.main-menu .icon-w {
  font-size: 30px;
  color: #0073ff;
}

.menu-side-compact-w .sub-menu-w {
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(40px) scale(0.95);
  transform: translateX(40px) scale(0.95);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  background-color: #0061da;
  color: #fff;
  left: 100%;
  top: -100px;
  overflow: hidden;
  text-align: left;
  -webkit-box-shadow: 0px 2px 40px 0px rgba(26, 138, 255, 0.5);
  box-shadow: 0px 2px 40px 0px rgba(26, 138, 255, 0.5);
  padding-bottom: 20px;
}

.menu-side-compact-w .sub-menu-w .sub-menu-title {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 5px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.menu-side-compact-w .sub-menu-w .sub-menu-icon {
  position: absolute;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.1);
  bottom: -50px;
  right: -10px;
}

.menu-side-compact-w .sub-menu-w .sub-menu-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-side-compact-w .sub-menu-w .sub-menu-i .sub-menu + .sub-menu {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .sub-menu-w > ul, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul {
  list-style: none;
  padding: 0px;
  min-width: 250px;
}

.menu-side-compact-w .sub-menu-w > ul > li, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .sub-menu-w > ul > li:last-child, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li:last-child {
  border-bottom: none;
}

.menu-side-compact-w .sub-menu-w > ul > li > a, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 50px;
  font-size: 0.99rem;
  position: relative;
  white-space: nowrap;
}

.menu-side-compact-w .sub-menu-w > ul > li > a:before, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #FBB463;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-side-compact-w .sub-menu-w > ul > li > a:hover:before, .menu-side-compact-w .sub-menu-w .sub-menu-i > ul > li > a:hover:before {
  opacity: 1;
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.menu-side-compact-w .logged-user-w {
  position: relative;
}

.menu-side-compact-w .logged-user-w .avatar-w img {
  width: 40px;
}

.menu-side-compact-w .logged-user-w .logged-user-i {
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-i:hover {
  cursor: pointer;
}

.menu-side-compact-w .logged-user-w .logged-user-i:hover .logged-user-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu {
  background: #0061da;
  -webkit-box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  box-shadow: 0 2px 30px 0 rgba(45, 130, 255, 0.75);
  position: absolute;
  top: 0px;
  left: -10px;
  overflow: hidden;
  padding: 1rem;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: left;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-avatar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0px 30px 20px 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-side-compact-w .logged-user-w .logged-user-menu .avatar-w {
  border-color: #fff;
  vertical-align: middle;
  margin-right: 20px;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w {
  vertical-align: middle;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name {
  color: #fff;
  white-space: nowrap;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role {
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a i {
  vertical-align: middle;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a span {
  vertical-align: middle;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover {
  text-decoration: none;
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li a:hover span {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.menu-side-compact-w .logged-user-w .logged-user-menu ul li:last-child {
  border-bottom: none;
}

.menu-side-compact-w .logged-user-w .logged-user-menu .bg-icon {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -40px;
  right: -20px;
}

.menu-side-compact-w.color-scheme-dark {
  color: rgba(255, 255, 255, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c4cc3), to(#0f296a));
  background-image: linear-gradient(to bottom, #1c4cc3 0%, #0f296a 100%);
  background-repeat: repeat-x;
}

.menu-side-compact-w.color-scheme-dark ul.main-menu .icon-w {
  color: #9db2ff;
}

.menu-side-compact-w.color-scheme-dark ul.main-menu > li {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .sub-menu-w {
  -webkit-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
}

.menu-side-compact-w.color-scheme-dark .logo-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .logged-user-w {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.menu-side-compact-w.color-scheme-dark .logged-user-w .avatar-w {
  border-color: #fff;
}

.menu-mobile .menu-and-user {
  display: none;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-side-compact-w .menu-and-user {
  padding-bottom: 50px;
}

.menu-mobile .menu-and-user {
  display: block;
}