<div class="menu">
  <app-logo class="header" [redirect]="link"></app-logo>
  <nav class="nav">
    <ul class="nav-ul" fxLayout.xs="row" fxLayoutAlign.xs="space-between">

      <li class="nav-ul__items" fxLayout.xs="column" fxLayoutAlign.xs="center">
        <a class="nav__link" [routerLink]="assetsLink" routerLinkActive="active" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
          <fa-icon class="nav__icons"  [icon]="faBox" fxFlexAlign="center"></fa-icon>
          <span class="nav__text" fxFlexAlign="center">ASSETS</span>
        </a>
      </li>

      <li class="nav-ul__items" fxLayout.xs="column" fxLayoutAlign.xs="center">
        <a class="nav__link" [routerLink]="manageLink" routerLinkActive="active" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
          <fa-icon class="nav__icons" [icon]="faList" fxFlexAlign="center"></fa-icon>
          <span class="nav__text" fxFlexAlign="center">MANAGE</span>
        </a>
      </li>

      <li class="nav-ul__items" fxHide.gt-xs fxLayout.xs="column" fxLayoutAlign.xs="center">
        <a fxLayout.xs="column" fxLayoutGap.xs="10px">
          <img class="menu__img" src="../../css/images/profile-img.png" alt="profile image"  fxFlexAlign="center"/>
          <span class="nav__text" fxFlexAlign="center">ACCOUNT</span>
        </a>
      </li>

      <li class="nav-ul__items" fxHide.gt-xs fxLayout.xs="column" fxLayoutAlign.xs="center">
        <a fxLayout.xs="column" fxLayoutGap.xs="15px">
          <fa-icon fxFlexAlign="center" class="nav__icons nav__icons--ellipsis" [icon]="faEllipsisH"></fa-icon>
          <span class="nav__text" fxFlexAlign="center">MORE</span>
        </a>
      </li>

    </ul>
  </nav>
</div>
