<!--<div class="modal-panel">-->
<!--  <div fxLayoutAlign="space-between">-->
<!--    <h2 mat-dialog-title class="title title&#45;&#45;bold">Verification Code</h2>-->
<!--    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>-->
<!--  </div>-->
<!--  <div mat-dialog-content-->
<!--       class="content">-->
<!--    <p class="confirm-desc">-->
<!--      We have sent an {{ this.data['usernameType'] === 'email' ? 'email': 'SMS'}} to <br>-->
<!--      <span class="confirm-desc__username">{{ this.data['username']}}</span><br>-->
<!--      <br>-->
<!--      {{ this.data['usernameType'] === 'email' ? 'You can click the link in the email or input the code from that email below.' : 'Input the code below.'}}-->
<!--    </p>-->
<!--    <form [formGroup]="confirmationForm" class="form">-->

<!--      <mat-form-field class="input-field" floatLabel="always" appearance="fill">-->
<!--        <mat-label>Verification Code</mat-label>-->
<!--        <input matInput [formControl]="confirmationCode" required>-->
<!--        <mat-error *ngIf="confirmationCode.errors && !confirmationCode.hasError('required')">-->
<!--          Must be six characters.-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="confirmationCode.hasError('required')">-->
<!--          Code  is <strong>required</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--      <span class="resend-code">Resend code in 60 sec.</span>-->

<!--    </form>-->
<!--  </div>-->
<!--  <div mat-dialog-actions fxLayoutAlign="flex-end">-->
<!--    <button [disabled]="!confirmationForm.valid" mat-flat-button class="button button&#45;&#45;primary button&#45;&#45;primary&#45;&#45;small" (click)="onSubmit()">Next</button>-->
<!--  </div>-->
<!--  <app-error [hidden]="doNotDisplayFailureMessage" [errorMessage]="message" (onHide)="hideError($event)"></app-error>-->
<!--  <app-success [hidden]="doNotDisplaySuccessMessage" [successMessage]="success"></app-success>-->
<!--</div>-->
