.content-panel-toggler {
  background-color: #047bf8;
  padding: 4px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.72rem;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 4;
}

.content-panel-toggler i {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.content-panel-toggler span {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1150px) {
  .content-panel-toggler {
    display: block;
  }
}

@media (max-width: 767px) {
  .content-panel-toggler {
    display: none;
  }
}

/*.all-wrapper.white-bg-content .content-w {*/
.content-w {
  background-color: #fff;
  background-image: none;
}

/*.menu-side .content-w {*/
.content-w {
  border-radius: 0px 4px 4px 0px;
  display: table-cell;
}

/*.menu-top .content-w {*/
.content-w {
  border-radius: 0px 0px 4px 4px;
}

.content-w {
  background-color: #f2f4f8;
  background-image: url("../../images/bg-pattern.png");
  background-repeat: repeat;
  background-position: 20px 50px;
  vertical-align: top;
}

.element-wrapper {
  padding-bottom: 4rem;
}

/* 9. Styles for all element blocks */
.element-wrapper .element-actions {
  float: right;
  position: relative;
  z-index: 2;
}

.element-wrapper .element-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.element-wrapper .element-header:after {
  content: "";
  background-color: #047bf8;
  width: 22px;
  height: 6px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0px;
}

.content-box {
  padding: 0;
}

.element-box, .invoice-w, .big-error-w {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.element-box, .invoice-w, .big-error-w {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
}

.element-box .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls {
  margin-left: -2rem;
  margin-right: -2rem;
}

.element-box .os-tabs-controls .nav, .invoice-w .os-tabs-controls .nav, .big-error-w .os-tabs-controls .nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.element-box .centered-header, .invoice-w .centered-header, .big-error-w .centered-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

.element-box-content + .form-header {
  margin-top: 2rem;
}

.element-box + .element-box, .invoice-w + .element-box, .big-error-w + .element-box, .element-box + .invoice-w, .invoice-w + .invoice-w, .big-error-w + .invoice-w, .element-box + .big-error-w, .invoice-w + .big-error-w, .big-error-w + .big-error-w {
  margin-top: 2rem;
}

.element-box-tp .input-search-w,
.element-box .input-search-w, .invoice-w .input-search-w, .big-error-w .input-search-w {
  margin-bottom: 1rem;
}

/*
 #2. Tablo Element
*/
.el-tablo {
  padding-right: 5px;
}

.el-tablo .label {
  display: block;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.el-tablo .value {
  font-size: 2.43rem;
  font-weight: 500;
  font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

.el-tablo .trending {
  padding: 3px 10px;
  border-radius: 30px;
  display: inline-block;
  font-size: 0.72rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.el-tablo .trending .os-icon {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 14px;
}

.el-tablo .trending span {
  display: inline-block;
  vertical-align: middle;
}

.el-tablo .trending-up {
  color: #fff;
  background-color: #90be2e;
}

.el-tablo .trending-down {
  color: #fff;
  background-color: #e65252;
}

.el-tablo .trending-up-basic {
  color: #90be2e;
  padding: 0px;
}

.el-tablo .trending-down-basic {
  color: #e65252;
  padding: 0px;
}

.el-tablo.centered {
  text-align: center;
}

.el-tablo.padded {
  padding: 2rem;
}

.el-tablo.bigger .value {
  font-size: 3.33rem;
}

.el-tablo.bigger .label {
  font-size: 0.9rem;
}

.el-tablo.highlight .value {
  color: #047bf8;
}

.el-buttons-list .btn, .el-buttons-list .all-wrapper .fc-button, .all-wrapper .el-buttons-list .fc-button {
  margin-bottom: 0.5rem;
}

.el-buttons-list.full-width .btn, .el-buttons-list.full-width .all-wrapper .fc-button, .all-wrapper .el-buttons-list.full-width .fc-button {
  display: block;
}

.el-tablo + .el-chart-w {
  margin-top: 1rem;
}

.value-pair .value {
  display: inline-block;
  font-size: 0.63rem;
  text-transform: uppercase;
}

/*Troumaca overrides etc. */

.content-w {
  width: 100% !important;
  height: 100% !important;
  border: solid 1px pink;
  display: block;
  min-height: 768px;
}

.content-i {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.content-i .content-box {
  display: block;
  padding: 15px;
}

.content-box {
  padding-top: 0px;
}

:host  {
  width: 100%;
  height: 100% !important;
}


/*.content-box {*/
  /*display: table-cell;*/
/*}*/

/* #1.  Screen size <= 1650px */
/*@media (max-width: 1650px) {*/
  /*.content-box {*/
    /*padding: 2rem;*/
  /*}*/
/*}*/

/*@media (min-width: 1100px) and (max-width: 1350px) {*/
  /*.content-box {*/
    /*padding: 1.5rem;*/
  /*}*/
/*}*/

/*@media (max-width: 1150px) {*/
  /*.content-box:after {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*background: rgba(4, 36, 113, 0.6);*/
    /*content: "";*/
    /*z-index: 10;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*-webkit-transition: all 0.4s ease;*/
    /*transition: all 0.4s ease;*/
  /*}*/

  /*.content-i .content-box, .content-i .content-box {*/
    /*display: block;*/
  /*}*/

  /*.content-box:after {*/
    /*opacity: 1;*/
    /*visibility: visible;*/
  /*}*/
/*}*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/
  /*.content-box {*/
    /*padding: 1.5rem;*/
  /*}*/
/*}*/

/*@media (max-width: 767px) {*/
  /*.content-i .content-box {*/
    /*display: block;*/
    /*padding: 15px;*/
  /*}*/
/*}*/
