<div class="content-w">

  <div class="content-i">
    <div class="content-box">
      <div class="row">
        <div class="col-sm-12">
          <div class="element-wrapper">
            <div class="element-actions">
            </div>
            <h4 class="element-header">
              Troumaca Apps
            </h4>
            <div style="margin-left: 20px; margin-right: 20px;" class="element-content">
              <div class="row">
                <div class="col-sm-4">
                  <a class="element-box el-tablo" href="#">
                    <div class="label">
                      Asset Management
                    </div>
                    <div class="value">
                      57
                    </div>
                    <div class="trending trending-up-basic">
                      <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a class="element-box el-tablo" href="#">
                    <div class="label">
                      User Management
                    </div>
                    <div class="value">
                      25
                    </div>
                    <div class="trending trending-down-basic">
                      <span>12%</span><i class="os-icon os-icon-arrow-down"></i>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4">
                  <a class="element-box el-tablo" href="#">
                    <div class="label">
                      Organization Management
                    </div>
                    <div class="value">
                      12
                    </div>
                    <div class="trending trending-down-basic">
                      <span>9%</span><i class="os-icon os-icon-arrow-down"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!--------------------
  START - Content I
  -------------------->
  <!--Content I-->
  <!--<router-outlet></router-outlet>-->
  <!--------------------
  End - Content I
  -------------------->
</div>
