<div class="content-i">

  <access-role-top-menu></access-role-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Access Role Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right"  href="#" [routerLink]="['/access-roles/create']">New</a></object>
      </h6>
      <div class="element-box">

        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
            <tr>
              <th>name</th>
              <th>Access Role Type</th>
              <th>prohibition indicator</th>
              <th>effective date</th>
              <th>until date</th>
              <th>description</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>name</th>
              <th>Access Role Type</th>
              <th>prohibition indicator</th>
              <th>effective date</th>
              <th>until date</th>
              <th>description</th>
              <th class="text-center">Actions</th>
            </tr>
            </tfoot>
            <tbody>
            <tr role="row" *ngFor="let accessRole of accessRoles.accessRoles; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
              <td>{{accessRole.name}}</td>
              <td>{{accessRole.accessRoleType.name}}</td>
              <td>{{accessRole.prohibitionIndicator}}</td>
              <td>{{accessRole.effectiveDate}}</td>
              <td>{{accessRole.untilDate}}</td>
              <td>{{accessRole.description}}</td>
              <td class="row-actions">
                <a [routerLink]="['/access-roles', accessRole.accessRoleId, 'edit']"><i class="os-icon os-icon-ui-49"></i></a><a data-target="#DeleteModal1" data-toggle="modal" class="danger" (click)="onOpenModal(accessRole.accessRoleId, accessRole.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
              </td>
            </tr>
            <tr *ngIf="accessRoles.accessRoles.length <= 0" class="odd">
              <td valign="top" align="" colspan="7" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
            </tr>
            </tbody>
          </table>
          <app-delete-modal [name]="accessRoleName" (delete)="onDelete($event)"></app-delete-modal>
          <paging [page]="accessRoles.page" (requestPage)="onRequestPage($event)"></paging>
        </div>
      </div>
    </div>
  </div>

</div>
