ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 25px 0;
}

li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}


.search-width {
  width: calc(100% - 30px);
  padding-left: 30px;
}

button[mat-icon-button] {
  margin-top: 10px;
}
