<fieldset [formGroup]="parentForm">

  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" class="search-width">
    <div fxFlex="1 1 auto">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search Characteristics</mat-label>
        <input matInput [formControl]="ids" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let char of chars" [value]="char.name" (onSelectionChange)="onCharSelect(char)">{{char.name}}</mat-option>
        </mat-autocomplete>
        <mat-hint>Select Characteristic</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="0 0 auto">
      <button mat-icon-button
              matTooltip="Create new"
              (click)="panel.emit('char')"
      ><mat-icon color="primary">add_circle_outline</mat-icon></button>
    </div>
  </div>

  <ul>
    <li class="multi-field-list" formArrayName="characteristics"
         *ngFor="let item of parentForm.get('characteristics').controls; let i = index" [ngClass]="{'multi-fields': true, 'no-border-bottom': i === parentForm.get('characteristics').controls.length - 1}">
      <div [formGroupName]="i">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" class="search-width">
          <div fxFlex="1 1 auto">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{item.controls.name.value | titlecase}} Value</mat-label>
              <input matInput formControlName="value">
              <mat-hint>{{item.controls.min.value + " - " + item.controls.max.value + "   " + item.controls.unit.value}}</mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex="0 0 auto">
            <button mat-icon-button
                    matTooltip="Remove Item"
                    color="warn"
                    (click)="onRemove(i)"
            ><mat-icon>cancel</mat-icon></button>
          </div>
        </div>
      </div>
    </li>
  </ul>

</fieldset>
