<div [formGroup]="assetRoleTypeForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix color="primary">add_circle_outline</mat-icon>
    <mat-label>Select Role Types</mat-label>
    <mat-select [formControl]="assetRoleType" multiple>
      <mat-option *ngFor="let assetRoleType of assetRoleTypes" [value]="assetRoleType.assetRoleTypeId">{{assetRoleType.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button mat-stroked-button color="accent" type="button" (click)="onNoClick()">Back</button>
  <button class="right-button-form" mat-flat-button color="primary" [disabled]="!assetRoleTypeForm.valid" type="submit" (click)="onAdd()">Add</button>
</div>
