<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--see https://angular.io/api/common/NgClass-->
      <!--see https://stackoverflow.com/questions/39195742/assign-classes-conditionally-in-angular2-->
      <!--see https://stackoverflow.com/questions/35269179/angular-2-conditional-class-with-ngclass-->
      <!--<li *ngFor="let menuItemtopMenuItemstems" (click)="onSelected(menuItem)" class="nav-item active">-->
      <!--<li class="nav-item active">-->
      <!--<li *ngFor="let menuItemModel of menuModel.menuItemModelList" [ngClass]="{'nav-item', true, 'active', menuItemModel.active}">-->
      <li *ngFor="let menuItemModel of menuModel.menuItemModelList" [ngClass]="{'nav-item', true, 'active', true}">
        <a class="nav-link" href="#">{{menuItemModel.name}} <span *ngIf="selected"> class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>
