<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Phone Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" [routerLink]="routerLinkCreatePhone" href="#">New</a></object>
      </h6>
      <div class="element-box">

        <search></search>

        <!--<div class="table-responsive table-section">-->
          <!--<table class="table table-striped table-lightfont table-full-width">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th class="classification">{{headerNames[0]}}</th>-->
              <!--<th>{{headerNames[1]}}</th>-->
              <!--<th class="description">{{headerNames[2]}}</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tfoot>-->
            <!--<tr>-->
              <!--<th class="classification">{{headerNames[0]}}</th>-->
              <!--<th>{{headerNames[1]}}</th>-->
              <!--<th class="description">{{headerNames[2]}}</th>-->
            <!--</tr>-->
            <!--</tfoot>-->
            <!--<tbody>-->
            <!--<tr role="row" *ngFor="let asset of assets.assets; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">-->
              <!--<td class="classification">{{asset.assetTypeClass.name}}</td>-->
              <!--<td>{{asset.assetType.name}}</td>-->
              <!--<td class="description">{{asset.description}}</td>-->
            <!--</tr>-->
            <!--<tr *ngIf="assets.assets.length <= 0" class="odd">-->
              <!--<td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
          <!--<paging [page]="assets.page" (requestPage)="onRequestPage($event)"></paging>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>