<div class="content-i">

  <site-top-menu></site-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Phone Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" [routerLink]="routerLinkCreatePhone" href="#">New</a></object>
      </h6>
      <div class="element-box">

        <!--
        Todo: Search is a great feature that we will have however we might just hold off doing it for the first
        Todo: release
        -->
        <!--<search></search>-->

        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
              <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Area Code</th>
                <th>Number</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Area Code</th>
                <th>Number</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
              <tr role="row" *ngFor="let phone of phones.phones; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
                <td>{{phone.name}}</td>
                <td>{{phone.countryCode}}</td>
                <td>{{phone.areaCode}}</td>
                <td>{{phone.telephoneNumber}}</td>
                <td>{{phone.description}}</td>
                <td class="row-actions">
                  <a [routerLink]="['/sites/phones', phone.siteId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(phone.siteId, phone.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                </td>
              </tr>
              <tr *ngIf="phones.phones.length <= 0" class="odd">
                <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
              </tr>
            </tbody>
          </table>
          <app-delete-modal [name]="phoneName" (delete)="onDelete($event)"></app-delete-modal>
          <paging [page]="phones.page" (requestPage)="onRequestPage($event)"></paging>
        </div>

      </div>
    </div>
  </div>
</div>
