<!--<div class="auth-wrapper">-->
  <!--<div class="all-wrapper menu-side with-pattern">-->
    <div class="auth-box-w wider centered">
      <div class="logo-w">
        <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
      </div>
      <h5 class="auth-header">
        Reset Your Password
      </h5>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Enter your username</label><input class="form-control" formControlName="username" placeholder="Enter Email or Phone" type="text" required>
          <div class="pre-icon os-icon os-icon-user-male-circle2"></div>
        </div>

        <div *ngIf="errorExists" class="alert alert-danger">
          <strong>Error!</strong> Username does not exit. Please try again.
        </div>

        <div *ngIf="messageSent" class="alert alert-success">
          <strong>Success!</strong> {{type}} has been sent.
          If you didn't get it in 5 minutes, Please try again.
        </div>

        <div class="buttons-w">
          <button class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Send</button>
          <a class="btn btn-link" href="#" routerLink="/authentication/login">Login</a>
        </div>
      </form>

    </div>
  <!--</div>-->
<!--</div>-->
