<div class="auth-box-w wider">
  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>
  <h5 class="auth-header">
    Forget Password
  </h5>

  <form [formGroup]="formType2 ? passwordForm: usernameForm">

    <div *ngIf="errorExists" class="alert alert-danger">
      <strong>Error!</strong> {{message}}
    </div>

    <mat-form-field *ngIf="!formType2" class="example-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <mat-icon matPrefix color="primary">email</mat-icon>
      <input matInput [formControl]="username">
      <mat-error *ngIf="username.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div *ngIf="formType2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-icon matPrefix color="primary">fingerprint</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" type="password">
        <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
          At least eight characters, 1 upper case letter, numeric, and special character.
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-icon matPrefix color="primary">fingerprint</mat-icon>
        <mat-label>Confirm Password</mat-label>
        <input matInput [formControl]="confirmPassword" type="password">
        <mat-error *ngIf="confirmPassword.hasError('confirmPassword') && !confirmPassword.hasError('required')">
          Must match.
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-w">
      <button class="btn btn-primary" [disabled]="formType2 ? !passwordForm.valid : !usernameForm.valid" (click)="formType2 ? onSubmit(): onForgotPassword()">Verify</button>
      <object align="right"><a class="btn btn-link" routerLink="/authentication/login">Login</a></object>
    </div>
  </form>

</div>
