<div class="auth-box-w wider">
  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>
  <h5 class="auth-header">
    Forget Password Form
  </h5>

  <form [formGroup]="forgotPasswordForm">

    <div *ngIf="errorExists" class="alert alert-danger">
      <strong>Error!</strong> {{message}}
    </div>

    <div class="form-group">
      <label for="username">Enter your username</label><input id="username" class="form-control" formControlName="username" placeholder="Enter Email or Phone" type="text" required>
      <div class="pre-icon os-icon os-icon-user-male-circle2"></div>
    </div>

    <div class="form-group">
      <label for="confirmation-code">Enter Confirmation Code</label><input id="confirmation-code" class="form-control" formControlName="confirmationCode" placeholder="Enter the 6-digit code" required type="text">
    </div>

    <div class="form-group">
      <label for="password">Enter New Password</label><input id="password" class="form-control" formControlName="password" placeholder="Enter Password" required type="password">
      <div class="pre-icon os-icon os-icon-fingerprint"></div>
    </div>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must be at least eight characters long, 1 upper case letter, numeric, and special character.</div>

    <div class="buttons-w">
      <button class="btn btn-primary" *ngIf="confirmationCode.status === 'DISABLED'" [disabled]="!username.valid" (click)="onForgotPassword()">Verify Username</button>
      <button class="btn btn-primary" *ngIf="confirmationCode.status !== 'DISABLED' && password.status === 'DISABLED'" [disabled]="!confirmationCode.valid" (click)="onConfirmationCode()">Verify Code</button>
      <button class="btn btn-primary" *ngIf="password.status !== 'DISABLED'" [disabled]="!password.valid" (click)="onSubmit()">Submit</button>
      <object align="right"><a class="btn btn-link" routerLink="/authentication/login">Login</a></object>
    </div>
  </form>

</div>
