.searchPanel {
  padding-bottom: 10px;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[name=search]::placeholder {
  letter-spacing: 2px;
}

/*.menu-top-image-w .top-part-w .element-search {*/
.element-search {
  position: relative;
}

/*.menu-top-image-w .top-part-w .element-search:before {*/
.element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 48%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.4);
}

/*.top-menu-secondary .top-menu-controls .element-search input {*/
.element-search input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  padding: 8px 15px 8px 40px;
  display: block;
  width: 220px;
  outline: none;
  border: none;
  box-shadow: none;
  background: #eee;
}

/*.menu-top-image-w .top-part-w .element-search input::-webkit-input-placeholder {*/
.element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/*.menu-top-image-w .top-part-w .element-search input:-ms-input-placeholder {*/
.element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/*.menu-top-image-w .top-part-w .element-search input::placeholder {*/
.element-search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/*@media (max-width: 1199px) {*/
  /*.hidden-lg-down {*/
    /*display: none !important;*/
  /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
  /*.hidden-xl-up {*/
    /*display: none !important;*/
  /*}*/
/*}*/

/**/


/*.top-menu-secondary .top-icon {*/
.top-icon {
  margin: 0px 1rem;
  color: #047bf8;
  font-size: 26px;
}

/*.top-menu-secondary.color-scheme-dark .messages-notifications, */
/*.top-menu-secondary.color-scheme-dark .top-icon {*/
.top-icon {
  color: #fff;
}

/*@media (max-width: 1199px) {*/
  /*.hidden-lg-down {*/
    /*display: none !important;*/
  /*}*/
/*}*/

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

/*troumaca overrides etc.*/
.element-search input {
  width: 100%;
}
