<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="sitePostOfficeBoxEditForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                Edit Post Office Box Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit site post office box.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid street name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="post office box number">Post Office Box Number</label><input class="form-control" formControlName="postOfficeBoxNumber" required placeholder="Enter Post Office Box Number" type="number">
                  <div [hidden]="postOfficeBoxNumber.valid || postOfficeBoxNumber.pristine" class="alert alert-danger">Invalid post office box number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="city">City</label><input class="form-control" formControlName="city" required placeholder="City">
                  <div [hidden]="city.valid || city.pristine" class="alert alert-danger">The city is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="city">State or Province</label><input class="form-control" formControlName="stateOrProvince" required placeholder="State or Province">
                  <div [hidden]="stateOrProvince.valid || stateOrProvince.pristine" class="alert alert-danger">The state or province is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="postalCode">Postal Code</label><input class="form-control" formControlName="postalCode" required placeholder="Postal Code">
                  <div [hidden]="postalCode.valid || postalCode.pristine" class="alert alert-danger">The postal code  is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="country">Country</label><input class="form-control" formControlName="country" required placeholder="Country">
                  <div [hidden]="country.valid || country.pristine" class="alert alert-danger">The country is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!sitePostOfficeBoxEditForm.valid" type="submit"> Save</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
