<div class="sub-menu-i asset-top-menu">
  <ul class="sub-menu">
    <li>
      <a [routerLink]="['/access-roles']">Access Roles</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/access-role-types/listing']">Access Role Types</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/resource-types/listing']">Resource Types</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/resources/listing']">Resources</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/permissions/listing']">Permissions</a>
    </li>
  </ul>
</div>
