.sub-menu {
  /*position: absolute;*/
  left: 0px;
  right: 0px;
  list-style: none;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*top: 100%;*/
  padding: 15px 20px;
  background-color: #0061da;
  -webkit-box-shadow: 0 2px 40px 0 rgba(26, 138, 255, 0.5);
  box-shadow: 0 2px 40px 0 rgba(26, 138, 255, 0.5);
}

.sub-menu li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sub-menu li a {
  color: #fff;
  display: inline-block;
  padding: 5px 25px;
  position: relative;
}

.sub-menu li a:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #FBB463;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sub-menu li a:hover {
  text-decoration: none;
}

.sub-menu li a:hover:before {
  opacity: 1;
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.sub-menu li:last-child {
  border-right: none;
}


/*
  Troumaca overrides etc.
*/

.asset-top-menu {
  margin-top: 15px;
}

.sub-menu {
  padding-top: 5px;
}

li {
  float: left;
}

ul {
  margin-top: 0;
  height: 40px;
  margin-bottom: 0;
}

@media only screen and (max-width: 898px) {
  ul {
    height: 65px;
  }
}

@media only screen and (max-width: 473px) {
  ul {
    height: auto;
  }
}

.sub-menu li.active a:before{
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  -webkit-transition-property: none;
  transition-property: none;
  opacity: 1;
}
