<div class="sub-menu-i asset-top-menu">
  <ul class="sub-menu">
    <li>
      <a [routerLink]="['/access-roles']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Access Roles</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/access-role-types/listing']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Access Role Types</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/resource-types/listing']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Resource Types</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/resources/listing']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Resources</a>
    </li>
    <li>
      <a [routerLink]="['/access-roles/permissions/listing']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Permissions</a>
    </li>
  </ul>
</div>
