<!--<div class="sub-menu-i asset-top-menu">-->
<!--  <ul class="sub-menu">-->
<!--    <li routerLinkActive="active">-->
<!--      <a [routerLink]="['/access-roles/listing']" >Access Roles</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a [routerLink]="['/access-roles/access-role-types']">Access Role Types</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a [routerLink]="['/access-roles/resource-types']">Resource Types</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a [routerLink]="['/access-roles/resources']">Resources</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a [routerLink]="['/access-roles/permissions']">Permissions</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

