<fieldset class="form-group ng2-completer" [formGroup]="unitOfMeasureForm">
  <div class="form-group">
    <label for="unit-of-measure">Unit Of Measure</label>
    <ng2-completer
                   id="unit-of-measure"
                   [datasource]="unitOfMeasureDataService"
                   [minSearchLength]="0"
                   [maxChars]="4"
                   [inputClass]="'form-control'"
                   [placeholder]="'Select an Unit Of Measure'"
                   [matchClass]="'match'"
                   formControlName="unitOfMeasure"
                   [autofocus]="true"
                   [clearUnselected]="true"
                   [fillHighlighted]="false"
                   [openOnClick]="true"
                   [textSearching]="false"
                   (selected)="onUnitOfMeasureSelect($event)">
    </ng2-completer>
  </div>
</fieldset>
