<div [class]="(isLoggedIn) ? 'all-wrapper menu-side':'all-wrapper menu-side with-pattern'">
  <div [class]="(isLoggedIn) ? 'layout-w':''">
    <!--------------------
    START - Mobile Menu
    -------------------->
    <mobile-menu *ngIf="isLoggedIn"></mobile-menu>
    <!--------------------
    END - Mobile Menu
    -------------------->

    <!--Might be able to move order down to the component-->
    <div [class]="(isLoggedIn) ? 'container-app':''">

      <!--------------------
      START - Menu side compact
      -------------------->
      <side-menu *ngIf="isLoggedIn"></side-menu>
      <!--------------------
      END - Menu side compact
      -------------------->

      <!--Might be able to move order down to the component-->
      <div [class]="(isLoggedIn)? 'container-content2':''">
        <!--------------------
        START - Content W
        -------------------->
        <router-outlet></router-outlet>
      </div>
        <!--------------------
        End - Content W
        -------------------->
    </div>


  </div>
  <!--No idea what this is for-->
  <!--<div class="display-type"></div>-->
</div>
