
<div class="all-wrapper menu-side no-padding-content container-main">

  <div class="layout-w">
      <!--------------------
      START - Mobile Menu
      -------------------->
      <mobile-menu *ngIf="isLoggedIn"></mobile-menu>
      <!--------------------
      END - Mobile Menu
      -------------------->

    <!--Might be able to move order down to the component-->
    <div class="container-app">

      <!--------------------
      START - Menu side compact
      -------------------->
      <side-menu *ngIf="isLoggedIn"></side-menu>
      <!--------------------
      END - Menu side compact
      -------------------->

      <!--Might be able to move order down to the component-->
      <div class="container-content">
        <!--------------------
        START - Content W
        -------------------->
        <router-outlet></router-outlet>
        <!--------------------
        End - Content W
        -------------------->
      </div>

    </div>

  </div>

  <div class="display-type"></div>
</div>
