/*
  Troumaca overrides etc.
*/

.auth-height {
  height: 100vh;
}

/* #1.  Screen size <= 1650px */
@media (max-width: 1650px) {
  .auth-height {
    height: calc(100vh - 80px);
  }
}

/* #2.  Screen size <= 1550px */
@media (max-width: 1550px) {
  .auth-height {
    height: calc(100vh - 40px);
  }
}

/* #6.  Screen size <= 1250px */
@media (max-width: 1250px) {
  .auth-height {
    height: calc(100vh);
  }
}
