<div [formGroup]="assetIdentifierTypeForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-icon matSuffix color="primary">add_circle_outline</mat-icon>
    <mat-label>Select Identifier Types</mat-label>
    <mat-select [formControl]="assetIdentifierType" multiple>
      <mat-option *ngFor="let assetIdentifierType of assetIdentifierTypes" [value]="assetIdentifierType.assetIdentifierTypeId">{{assetIdentifierType.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button mat-stroked-button color="accent" type="button" (click)="onNoClick()">Back</button>
  <button class="right-button-form" mat-flat-button color="primary" [disabled]="!assetIdentifierTypeForm.valid" type="submit" (click)="onAdd()">Add</button>
</div>
