<div class="content-w">
  <div class="content-i">
    <div class="content-box">
      <div class="create-profile">

        <div>
          <div class="user-profile">
            <div class="up-head-w" [style.background-image]="organizationImage">
              <div class="up-social">
                <a data-target="#PhotoModal1" data-toggle="modal"><i class="os-icon os-icon-user-male-circle2 profile-icon"></i></a>
                <a data-target="#PhotoModal2" data-toggle="modal"><i class="os-icon os-icon-documents-07 profile-icon"></i></a>
              </div>
              <div class="up-main-info">
                <div class="user-avatar-w">
                  <div class="user-avatar">
                    <img alt="" [src]="userImage">
                  </div>
                </div>
                <h2 class="up-header">
                  {{user.name}}
                </h2>
                <h6 class="up-sub-header">
                  <!-- what would you put here if the user is personal alone -->
                </h6>
              </div>
              <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>
            </div>
          </div>
        </div>

        <!-- START ORGANIZATION / BOTH / VIEW USER IN ORGANIZATION PROFILE PICTURE -->
        <!--<div *ngIf="accountType.value === 'organization' || accountType.value === 'both'">-->
          <!--<div class="user-profile">-->
            <!--<div class="up-head-w" [style.background-image]="getBackgroundStyle('organization')">-->
              <!--<div class="up-social">-->
                <!--<a data-target="#PhotoModal1" data-toggle="modal"><i class="os-icon os-icon-user-male-circle2 primary"></i></a>-->
                <!--<a data-target="#PhotoModal2" data-toggle="modal"><i class="os-icon os-icon-documents-07 primary"></i></a>-->
              <!--</div>-->
              <!--<div class="up-main-info">-->
                <!--<div class="user-avatar-w">-->
                  <!--<div class="user-avatar">-->
                    <!--<img alt="" [src]="userImage">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<h2 class="up-header">-->
                  <!--{{user.name}}-->
                <!--</h2>-->
                <!--<h6 class="up-sub-header">-->
                  <!--{{organization.purpose}} &lt;!&ndash; what would you put here if the user is personal alone &ndash;&gt;-->
                <!--</h6>-->
              <!--</div>-->
              <!--<svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!-- END ORGANIZATION / BOTH / VIEW USER IN ORGANIZATION PROFILE PICTURE -->

        <!-- START DEFAULT / PERSONAL PROFILE IMAGE -->
        <!--<div *ngIf="accountType.value === 'personal' || accountType.value === ''">-->
          <!--<div class="user-profile">-->
            <!--<div class="up-head-w" [style.background-image]="getBackgroundStyle('user')">-->
              <!--<div class="up-social">-->
                <!--<a data-target="#PhotoModal1" data-toggle="modal"><i class="os-icon os-icon-user-male-circle2 primary"></i></a>-->
              <!--</div>-->
              <!--<div class="up-main-info">-->
                <!--<h2 class="up-header">-->
                  <!--{{user.name}}-->
                <!--</h2>-->
                <!--<h6 class="up-sub-header">-->
                   <!--&lt;!&ndash; what would you put here if the user is personal alone &ndash;&gt;-->
                <!--</h6>-->
              <!--</div>-->
              <!--<svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!-- START DEFAULT / PERSONAL PROFILE IMAGE -->


  <!-- END OF Profile SECTION -->


        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="createProfileForm" (ngSubmit)="onCreate()">
              <div class="element-info">
                <div class="element-info-with-icon">
                  <div class="element-info-icon">
                    <div class="os-icon os-icon-wallet-loaded"></div>
                  </div>
                  <div class="element-info-text">
                    <h5 class="element-inner-header">
                      Create Your Profile
                    </h5>
                  </div>
                </div>
              </div>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed create your profile.</div>
              <div [hidden]="doNotDisplayFailureMessage2" class="alert alert-danger">Failed upload user photo.</div>
              <div [hidden]="doNotDisplayFailureMessage3" class="alert alert-danger">Failed upload background photo.</div>

              <!--<fieldset class="form-group">-->
                <!--<div class="form-group row">-->
                  <!--<label for="account type"class="col-sm-2 col-form-label">Account Type</label>-->
                  <!--<div class="col-sm-10">-->
                    <!--<div class="row">-->
                      <!--<div class="col-sm-4">-->
                        <!--<div class="form-check">-->
                          <!--<label for="organization" class="form-check-label"><input checked="" class="form-check-input" formControlName="accountType" type="radio" value="organization" required> Organization</label>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-4">-->
                        <!--<div class="form-check">-->
                          <!--<label for="personal" class="form-check-label"><input class="form-check-input" formControlName="accountType" type="radio" value="personal"> Personal</label>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-4">-->
                        <!--<div class="form-check">-->
                          <!--<label for="both" class="form-check-label"><input class="form-check-input" formControlName="accountType" type="radio" value="both"> Both</label>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                   <!--</div>-->
                  <!--<div [hidden]="accountType.valid || accountType.pristine" class="alert alert-danger">Please select an account type.</div>-->
                 <!--</div>-->
              <!--</fieldset>-->

              <legend><span>Personal Information</span></legend>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="First Name">First Name</label><input class="form-control" formControlName="firstName" placeholder="Enter First Name" required="required" type="text">
                  <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Invalid First Name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Middle Name">Middle Name</label><input class="form-control" formControlName="middleName" placeholder="Enter Middle Name" required="required" type="text">
                  <div [hidden]="middleName.valid || middleName.pristine" class="alert alert-danger">Invalid Middle Name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Last Name">Last Name</label><input class="form-control" formControlName="lastName" placeholder="Enter Last Name" required="required" type="text">
                  <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Invalid Last Name.</div>
                </div>
              </fieldset>

                <legend><span>Organization Information</span></legend>

                <fieldset class="form-group">
                  <div class="form-group">
                    <label for="organization name">Organization Name</label><input class="form-control" formControlName="organizationName" placeholder="Enter organization name" [required]="requiredState" type="text">
                    <div [hidden]="organizationName.valid || organizationName.pristine" class="alert alert-danger">Enter organization name.</div>
                  </div>
                </fieldset>

                <fieldset class="form-group">
                  <div class="form-group">
                    <label for="purpose">Purpose</label><input class="form-control" formControlName="purpose" placeholder="Enter account purpose" [required]="requiredState" type="text">
                    <div [hidden]="purpose.valid || purpose.pristine" class="alert alert-danger">A purpose is required.</div>
                  </div>
                </fieldset>

                <fieldset class="form-group">
                  <div class="form-group">
                    <label for="description">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                  </div>
                </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary" [disabled]="!createProfileForm.valid" type="submit"> Create</button>
              </div>

            </form>
          </div>
        </div>

        <!-- START PROFILE UPLOAD MODAL -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="PhotoModal1" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Add Personal Photo
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
              </div>
              <div class="modal-body">
                <input #fileid type='file' (change)="fileChangeEvent($event)" hidden/>
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  imageQuality="100"
                  (imageCropped)="imageCropped($event)"
                >
                </image-cropper>
              </div>
              <div class="modal-footer">
                <button class="btn btn-white button1" type="button" (click)="fileid.click()"> Change Photo</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="addImage()"> Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF PROFILE UPLOAD MODAL -->

        <!-- START ORGANIZATION UPLOAD MODAL -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel2" class="modal fade" id="PhotoModal2" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  Add Background {{accountType.value === 'organization' || accountType.value === 'both' ? '/ Organization': ''}} Photo
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
              </div>
              <div class="modal-body">
                <input #fileid2 type='file' (change)="fileChangeEvent2($event)" hidden/>
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent2"
                  imageQuality="100"
                  (imageCropped)="imageCropped2($event)"
                >
                </image-cropper>
              </div>
              <div class="modal-footer">
                <button class="btn btn-white button1" type="button" (click)="fileid2.click()"> Change Photo</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="addImage2()"> Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF ORGANIZATION UPLOAD MODAL -->

      </div>
    </div>
  </div>
</div>
