<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="sitePhoneForm">
              <h5 class="form-header">
                {{phoneExist ? "Edit":"New"}} Phone Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{phoneExist ? "Update":"Create"}} Phone.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Name</label><input class="form-control" formControlName="name" placeholder="Name">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Country Code</label><input class="form-control" formControlName="countryCode" required placeholder="Country Code" type="number">
                  <div [hidden]="countryCode.valid || countryCode.pristine" class="alert alert-danger">Country code required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Area Code</label><input class="form-control" formControlName="areaCode" required placeholder="Area Code" type="number">
                  <div [hidden]="areaCode.valid || areaCode.pristine" class="alert alert-danger">Area code required and must be 3 digits.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Exchange</label><input class="form-control" formControlName="exchange" placeholder="Exchange">
                  <div [hidden]="exchange.valid || exchange.pristine" class="alert alert-danger">Invalid exchange.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Telephone Number</label><input class="form-control" formControlName="telephoneNumber" required placeholder="Telephone Number">
                  <div [hidden]="telephoneNumber.valid || telephoneNumber.pristine" class="alert alert-danger">Telephone Number required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [hidden]="phoneExist" [disabled]="!sitePhoneForm.valid" type="submit" (click)="onCreate()"> Create</button>
                <button class="btn btn-primary button1" [hidden]="!phoneExist" [disabled]="!sitePhoneForm.valid" type="submit" (click)="onUpdate()"> Update</button>
                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
