<div class="element-wrapper">
  <h6 class="element-header">
    Asset Role Types Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right"  href="#" [routerLink]="newLink">New</a></object>
  </h6>
  <div class="element-box">

    <div class="table-responsive table-section">
      <table class="table table-striped table-lightfont table-full-width">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
        </tfoot>
        <tbody>
        <tr role="row" *ngFor="let assetRoleType of assetRoleTypes.assetRoleTypes; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
          <td>{{assetRoleType.name}}</td>
          <td>{{assetRoleType.description}}</td>
          <td class="row-actions">
            <a [routerLink]="[routerLink, assetRoleType.assetRoleTypeId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(assetRoleType.assetRoleTypeId, assetRoleType.role);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
          </td>
        </tr>
        <tr *ngIf="assetRoleTypes.assetRoleTypes.length <= 0" class="odd">
          <td valign="top" align="" colspan="9" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
        </tr>
        </tbody>
      </table>
      <app-delete-modal [name]="assetRoleTypeName" (delete)="onDelete($event)"></app-delete-modal>
      <paging [page]="assetRoleTypes.page" (requestPage)="onRequestPage($event)"></paging>
    </div>

  </div>
</div>

