<div class="input-menu"
     fxLayout="row wrap"
     fxLayoutAlign="start"
     fxLayout.xs="column no-wrap"
     fxLayoutGap.xs="14px"
>

  <div fxLayout="row"
       fxLayoutGap="48px"
       fxLayoutGap.sm="20px"
  >

    <div class="status"
         fxLayout="column"
    >
      <span class="status__figure">0</span>
      <span class="status__text">Total</span>
    </div>

    <div class="status"
         fxLayout="column"
    >
      <span class="status__figure">0</span>
      <span class="status__text">Yours</span>
    </div>

  </div>

  <form class="search-form">
    <div class="sf-div">
      <label class="fc-label--hidden" for="search">Search</label>
      <input class="sf-input sf-input--asset" [formControl]="search" placeholder="Search Assets" id="search">
      <fa-icon  class="sf__icon sf__icon--asset" [icon]="faSearch"></fa-icon>
    </div>

  </form>

  <div class="white-button-div"
       fxLayout="row no-wrap"
       fxLayoutGap="8px"
       fxHide.lt-lg
  >
    <button class="white-button white-button--one" (click)="openAssetCreate()">
      <span class="white-button__circle" fxLayoutAlign="center center" style="background: #CCD8F1;">
        <fa-icon class="white-button__icons" [icon]="faBox" ></fa-icon>
      </span>
      <span class="white-button__text">new assets</span>
    </button>

    <button class="white-button" (click)="openAssetTypeCreate()">
      <span class="white-button__circle" fxLayoutAlign="center center" style="background: #E7CCF1;">
        <fa-icon class="white-button__icons" [icon]="faCheck"></fa-icon>
      </span>
      <span class="white-button__text">new type</span>
    </button>

  </div>

  <button
    class="button-around button-around--blue button-around--blue1"
    fxHide.gt-md
    (click)="showModal($event)"
  >
    +
  </button>

  <div
    [ngClass]="{'button-pop-up': true, show: show}"
    (click)="closeShow()"
  >
    <div class="button-container"
         [ngStyle]="{'top.px': offsetTop, 'left.px': offsetLeft}"
         fxLayout="column"
         fxLayoutGap="30px"
         (click)="$event.stopPropagation()"
    >
      <button class="button-around button-around--blue button-around--blue2" (click)="closeShow()">
        <span class="button-around--blue2__span">+</span>
      </button>
      <button
        class="button-around button-around--assets"
        (click)="handleButtons(1)"
      >
        <fa-icon [icon]="faBox"></fa-icon>
        <span class="button-around__span">new assets</span>
      </button>
      <button
        class="button-around button-around--asset-types"
        (click)="handleButtons(2)"
      >
        <fa-icon [icon]="faCheck"></fa-icon>
        <span class="button-around__span">new type</span>
      </button>
    </div>
  </div>
</div>
