.left-side-modal {
  height: 100%;
  width: 100%;
}
.lsm-white {
  background-color: #FFFFFF;
  padding: 38px 45px 33px 39px;
}

.left-side-modal-header {
  padding-left: 4px;
}

.lsm-header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #2C4948;
  margin-left: 4px;
}

.lsm-header-round {
  width: 50px;
  height: 50px;
  background: #F5F5F5;
  border-radius: 50%;
  margin-left: 40px;
}

.lsm-header-icon {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #23C7EF;
  opacity: 0.8;
}

/* form */
.lsm-form {
  margin-top: 45px;
}

.lsm__des {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #119CB7;
  margin-right: 6px;
}

.lsm-select {
  margin-top: 55px;
  padding-left: 1px;
  padding-right: 1px;
}

.lsm-select-icon-1 {
  color: #26DDDB;
}

.lsm-select-span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-left: 25px;
}

.lsm-select-icon-2 {
  opacity: 0.4;
  margin-left: auto;
}

/* content */
.lsm-add {
  width: 335px;
  height: 105px;
  background: #FFFFFF;
  border-radius: 8px;
}

.lsm-add-icon {
  position: relative;
}

.lsm-tag {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #4DD0F0;
}

.lsm-tag__span {
  position: absolute;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  top: 2px;
  left: 7px;
}

.lsm-add-des {
  margin-left: 29px;
}

.lsm-add-span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #000000;
}

.lsm-add-p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.7;
  max-width: 204px;
}

/* footer */
.lsm-end {
  padding-right: 47px;
}

.button--primary--assets {
  width: 135px;
}

/*override */

.modal__close {
  margin-left: auto;
}

/* modal */
.mat-dialog-content {
  margin: 0;
}

.mat-dialog-actions {
  margin: 0;
}

::ng-deep .backdrop-left {
  left: 418px;
  background: #0A1733;
  opacity: 0.5 !important;
}

::ng-deep .left-panel-2 > .mat-dialog-container {
  background: #F5F5F5;
  padding: 0;
  border: 1px solid #EFEFF8;
  border-radius: 0;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

