<form [formGroup]="assetCharacteristicsForm">
  <h5 class="form-header">
    Asset Characteristics
  </h5>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name">
        <mat-error *ngIf="name.hasError('required')">
          Name Of is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Optional</mat-label>
        <input matInput [formControl]="optional">
        <mat-error *ngIf="optional.hasError('required')">
          Optional is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Value</mat-label>
        <input matInput [formControl]="value">
        <mat-error *ngIf="value.hasError('required')">
          Value is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Effective Date</mat-label>
        <input matInput [matDatepicker]="picker4" [formControl]="effectiveDate">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
        <mat-error *ngIf="effectiveDate.hasError('required')">
          Effective Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Until Date</mat-label>
        <input matInput [matDatepicker]="picker5" [formControl]="untilDate">
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
        <mat-error *ngIf="untilDate.hasError('required')">
          Until Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">{{assetCharacteristicsExist ? 'Update': 'New'}} asset characteristics failed.</span></div>

  <div class="form-buttons-w">
    <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
    <button class="right-button" mat-flat-button color="primary" [disabled]="!assetCharacteristicsForm.valid" type="submit" (click)=" assetCharacteristicsExist ? onUpdate() : onCreate()">Confirm</button>
  </div>

</form>
