/* ##. Dark Color Scheme */
.floated-colors-btn {
  z-index: 9999;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #252A32;
  border-radius: 75px;
  color: #fff;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 1.08rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.floated-colors-btn.second-floated-btn {
  right: 200px;
}

.floated-colors-btn span {
  vertical-align: middle;
  display: inline-block;
  font-weight: 500;
}

.floated-colors-btn span + span {
  margin-left: 5px;
}

.floated-colors-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #0f1115;
}

.box-style-dark, .color-scheme-dark .ae-content-w .aec-full-message-w .aec-full-message, .color-scheme-dark .ae-content-w .aec-reply, body.color-scheme-dark .box-style, body.color-scheme-dark .user-profile, body.color-scheme-dark .element-box, body.color-scheme-dark .invoice-w, body.color-scheme-dark .big-error-w, body.color-scheme-dark .activity-boxes-w .activity-box, .activity-boxes-w body.color-scheme-dark .activity-box, body.color-scheme-dark .projects-list .project-box, .projects-list body.color-scheme-dark .project-box,
body.color-scheme-dark .profile-tile .profile-tile-box {
  background-color: #323c58;
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#323c58), to(#303950));
  background-image: linear-gradient(to bottom, #323c58 0%, #303950 100%);
  background-repeat: repeat-x;
}

body.color-scheme-dark {
  background-color: #293145;
  color: #ccd9e8;
}

body.color-scheme-dark .floated-colors-btn {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .floated-colors-btn span {
  color: #3E4B5B;
}

body.color-scheme-dark:before {
  background: -webkit-gradient(linear, left top, right bottom, from(#633d7d), to(#2867ab));
  background: linear-gradient(to bottom right, #633d7d, #2867ab);
}

body.color-scheme-dark h1, body.color-scheme-dark h2, body.color-scheme-dark h3, body.color-scheme-dark h4, body.color-scheme-dark h5, body.color-scheme-dark h6,
body.color-scheme-dark .h1, body.color-scheme-dark .h2, body.color-scheme-dark .h3, body.color-scheme-dark .h4, body.color-scheme-dark .h5, body.color-scheme-dark .h6 {
  color: #fff;
}

body.color-scheme-dark .text-muted, body.color-scheme-dark .invoice-body .invoice-desc .desc-value, .invoice-body .invoice-desc body.color-scheme-dark .desc-value, body.color-scheme-dark .invoice-body .invoice-desc .desc-value {
  color: rgba(198, 209, 230, 0.4) !important;
}

body.color-scheme-dark .content-w {
  background-color: #293145;
  background-image: none;
}

body.color-scheme-dark .all-wrapper.solid-bg-all {
  background-color: #293145;
}

body.color-scheme-dark code {
  color: #7e9fea;
  background-color: #1c2738;
}

body.color-scheme-dark .demo-icons-list li {
  border-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .demo-icons-list li a {
  color: #b1b8ca;
}

body.color-scheme-dark .content-panel {
  border-left-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .breadcrumb {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .breadcrumb li a {
  color: #b3bcde;
}

body.color-scheme-dark .breadcrumb li span {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .alert {
  border-color: transparent;
}

body.color-scheme-dark .alert h1, body.color-scheme-dark .alert h2, body.color-scheme-dark .alert h3, body.color-scheme-dark .alert h4, body.color-scheme-dark .alert h5 {
  color: #3E4B5B;
}

body.color-scheme-dark .b-r,
body.color-scheme-dark .b-b,
body.color-scheme-dark .b-t,
body.color-scheme-dark .b-l {
  border-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .progress {
  background-color: #252c3f;
}

body.color-scheme-dark .popover {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  color: #3E4B5B;
}

body.color-scheme-dark .example-column {
  background-color: #293145;
  border-color: #090d19;
}

body.color-scheme-dark .menu-side-compact-w, body.color-scheme-dark .top-menu-secondary {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .os-dropdown,
body.color-scheme-dark .top-menu-secondary .logged-user-w .logged-user-menu,
body.color-scheme-dark .menu-side-compact-w .logged-user-w .logged-user-menu {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .menu-mobile {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .modal-content {
  -webkit-box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
  background-color: #323c58;
}

body.color-scheme-dark .onboarding-modal button.close {
  color: #ccd9e8;
}

body.color-scheme-dark .onboarding-modal .onboarding-content.with-gradient {
  background-image: url(../img/onboarding-gradient-hor-dark.png);
}

body.color-scheme-dark .onboarding-modal .onboarding-side-by-side .onboarding-content.with-gradient {
  background-image: url(../img/onboarding-gradient-ver-dark.png);
}

body.color-scheme-dark .onboarding-modal .onboarding-content .onboarding-title {
  color: #fff;
}

body.color-scheme-dark .onboarding-modal .onboarding-content .onboarding-text {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .onboarding-modal .slick-dots li button {
  background-color: #fff;
}

body.color-scheme-dark .onboarding-modal .slick-next:before, body.color-scheme-dark .onboarding-modal .slick-prev:before,
body.color-scheme-dark .onboarding-modal .slick-next, body.color-scheme-dark .onboarding-modal .slick-prev {
  color: #ccd9e8;
}

body.color-scheme-dark .invoice-w:before {
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .invoice-w .infos .info-2 .company-address {
  color: #ccd9e8;
}

body.color-scheme-dark .invoice-w .terms .terms-content {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .invoice-w .infos .info-1 .company-extra {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .invoice-footer {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .invoice-footer .invoice-info span + span {
  border-left-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .timed-activities.compact .timed-activity:before {
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .timed-activity .ta-date {
  color: #ccd9e8;
}

body.color-scheme-dark .timed-activity .ta-date span:after {
  background-color: #293145;
}

body.color-scheme-dark .timed-activity .ta-date:before {
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .timed-activity .ta-timestamp:after {
  color: #ccd9e8;
}

body.color-scheme-dark .timed-activity .ta-timestamp {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .timed-activity .ta-timestamp strong {
  color: #ccd9e8;
}

body.color-scheme-dark .profile-tile {
  color: #ccd9e8;
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .profile-tile .profile-tile-box {
  color: #fff;
}

body.color-scheme-dark .profile-tile .pt-user-name {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .profile-tile .profile-tile-meta ul {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .profile-tile .profile-tile-meta ul strong {
  color: #ccd9e8;
}

body.color-scheme-dark .user-profile .up-head-w .decor .decor-path {
  fill: #333c55;
}

body.color-scheme-dark .value-pair .label {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .box-style legend span, body.color-scheme-dark .user-profile legend span, body.color-scheme-dark .element-box legend span, body.color-scheme-dark .invoice-w legend span, body.color-scheme-dark .big-error-w legend span, body.color-scheme-dark .activity-boxes-w .activity-box legend span, .activity-boxes-w body.color-scheme-dark .activity-box legend span, body.color-scheme-dark .projects-list .project-box legend span, .projects-list body.color-scheme-dark .project-box legend span,
body.color-scheme-dark .user-profile legend span,
body.color-scheme-dark .element-box legend span,
body.color-scheme-dark .invoice-w legend span,
body.color-scheme-dark .big-error-w legend span,
body.color-scheme-dark .invoice-w legend span,
body.color-scheme-dark .big-error-w legend span,
body.color-scheme-dark .activity-boxes-w .activity-box legend span,
body.color-scheme-dark .projects-list .project-box legend span,
body.color-scheme-dark .profile-tile .profile-tile-box legend span {
  background-color: #303950;
  color: #fff;
}

body.color-scheme-dark .box-style legend:before, body.color-scheme-dark .user-profile legend:before, body.color-scheme-dark .element-box legend:before, body.color-scheme-dark .invoice-w legend:before, body.color-scheme-dark .big-error-w legend:before, body.color-scheme-dark .activity-boxes-w .activity-box legend:before, .activity-boxes-w body.color-scheme-dark .activity-box legend:before, body.color-scheme-dark .projects-list .project-box legend:before, .projects-list body.color-scheme-dark .project-box legend:before,
body.color-scheme-dark .user-profile legend:before,
body.color-scheme-dark .element-box legend:before,
body.color-scheme-dark .invoice-w legend:before,
body.color-scheme-dark .big-error-w legend:before,
body.color-scheme-dark .invoice-w legend:before,
body.color-scheme-dark .big-error-w legend:before,
body.color-scheme-dark .activity-boxes-w .activity-box legend:before,
body.color-scheme-dark .projects-list .project-box legend:before,
body.color-scheme-dark .profile-tile .profile-tile-box legend:before {
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .element-wrapper .element-inner-desc {
  color: #ccd9e8;
}

body.color-scheme-dark .element-box .element-box-header, body.color-scheme-dark .invoice-w .element-box-header, body.color-scheme-dark .big-error-w .element-box-header, body.color-scheme-dark .invoice-w .element-box-header, body.color-scheme-dark .big-error-w .element-box-header {
  color: #6a759c;
}

body.color-scheme-dark .element-wrapper .element-header {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .users-list-w .user-w .user-role {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .users-list-w .user-w.with-status .user-avatar-w:before {
  -webkit-box-shadow: 0px 0px 3px #293145;
  box-shadow: 0px 0px 3px #293145;
}

body.color-scheme-dark .projects-list .project-head .project-users .avatar {
  -webkit-box-shadow: 0px 0px 0px 5px #323c58;
  box-shadow: 0px 0px 0px 5px #323c58;
}

body.color-scheme-dark .element-balances .balance-title {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .element-balances .balance-value {
  color: #fff;
}

body.color-scheme-dark .activity-boxes-w .activity-role {
  color: #fff;
}

body.color-scheme-dark .activity-boxes-w .activity-title {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .activity-boxes-w .activity-time {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .activity-boxes-w .activity-box:before {
  background-color: #fff;
  border-color: #293145;
}

body.color-scheme-dark .activity-boxes-w .activity-box-w:before {
  background-color: #1f62e0;
}

body.color-scheme-dark .activity-boxes-w .activity-box-w:after {
  background-color: #38435f;
}

body.color-scheme-dark a.el-tablo {
  color: #fff;
}

body.color-scheme-dark a.el-tablo:hover {
  -webkit-box-shadow: 0px 15px 25px rgba(22, 22, 35, 0.25);
  box-shadow: 0px 15px 25px rgba(22, 22, 35, 0.25);
}

body.color-scheme-dark .el-tablo .label {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .el-tablo .value {
  color: #fff;
}

body.color-scheme-dark .floated-colors-btn,
body.color-scheme-dark .floated-chat-btn {
  -webkit-box-shadow: 0 2px 20px 0 rgba(12, 16, 23, 0.26);
  box-shadow: 0 2px 20px 0 rgba(12, 16, 23, 0.26);
}

body.color-scheme-dark .fc-other-month {
  background-color: #293148;
}

body.color-scheme-dark .fc-event {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

body.color-scheme-dark .fc-unthemed td.fc-today {
  background: #6b385f;
}

body.color-scheme-dark .fc-day-number {
  color: #ccd9e8;
}

body.color-scheme-dark .fc-day-header {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .fc-unthemed .fc-content, body.color-scheme-dark .fc-unthemed .fc-divider, body.color-scheme-dark .fc-unthemed .fc-list-heading td, body.color-scheme-dark .fc-unthemed .fc-list-view, body.color-scheme-dark .fc-unthemed .fc-popover, body.color-scheme-dark .fc-unthemed .fc-row, body.color-scheme-dark .fc-unthemed tbody, body.color-scheme-dark .fc-unthemed td, body.color-scheme-dark .fc-unthemed th, body.color-scheme-dark .fc-unthemed thead {
  border-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .os-progress-bar .bar-label-right span.info {
  color: #7281b7;
}

body.color-scheme-dark .os-progress-bar.blue .bar-level-1,
body.color-scheme-dark .os-progress-bar.primary .bar-level-1,
body.color-scheme-dark .os-progress-bar.warning .bar-level-1,
body.color-scheme-dark .os-progress-bar.info .bar-level-1,
body.color-scheme-dark .os-progress-bar.danger .bar-level-1,
body.color-scheme-dark .os-progress-bar.success .bar-level-1 {
  background-color: #293148;
}

body.color-scheme-dark .os-progress-bar.blue .bar-level-2, body.color-scheme-dark .os-progress-bar.primary .bar-level-2 {
  background-color: #3870ef;
}

body.color-scheme-dark .os-progress-bar.blue .bar-level-3, body.color-scheme-dark .os-progress-bar.primary .bar-level-3 {
  background-color: #c5d3ff;
}

body.color-scheme-dark .el-chart-w .inside-donut-chart-label strong {
  color: #fff;
}

body.color-scheme-dark .el-chart-w .inside-donut-chart-label span {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .el-chart-w + .el-legend {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .big-error-w form {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .form-control {
  background-color: rgba(18, 22, 41, 0.22);
  border-color: rgba(18, 22, 41, 0.34);
  color: #ccd9e8;
}

body.color-scheme-dark .form-control::-webkit-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .form-control:-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .form-control::-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .form-control::placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .form-desc {
  color: #ccd9e8;
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .input-group-addon {
  background-color: rgba(18, 22, 41, 0.22);
  border-color: rgba(18, 22, 41, 0.14);
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .select2-container--default .select2-selection--multiple {
  background-color: rgba(18, 22, 41, 0.22);
  border-color: rgba(18, 22, 41, 0.11);
}

body.color-scheme-dark .select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #fff;
  background-color: #422af5;
  border-color: #422af5;
}

body.color-scheme-dark .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
}

body.color-scheme-dark .form-buttons-w {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .step-triggers {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .step-triggers .step-trigger:hover {
  color: #fff;
}

body.color-scheme-dark .step-triggers .step-trigger.active {
  color: #fff;
}

body.color-scheme-dark .step-triggers .step-trigger {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .dropzone {
  background-color: #252c3f;
  border-color: #030e19;
}

body.color-scheme-dark .cke .cke_top {
  background-color: #323c58;
  border-bottom-color: #202637;
}

body.color-scheme-dark .cke .cke_bottom {
  background-color: #323c58;
}

body.color-scheme-dark .cke iframe .cke_editable {
  background-color: #293148;
}

body.color-scheme-dark .cke .cke_button_icon {
  -webkit-filter: invert(1);
  filter: invert(1);
}

body.color-scheme-dark .cke .cke_toolbar_separator, body.color-scheme-dark .cke .cke_toolgroup a.cke_button:last-child::after, body.color-scheme-dark .cke .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child::after {
  border-color: rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .floated-chat-w .floated-chat-i {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .full-chat-w .full-chat-i {
  background-color: #293145;
}

body.color-scheme-dark .full-chat-w .chat-info-section .ci-header span {
  color: #ccd9e8;
}

body.color-scheme-dark .full-chat-w .user-intro {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .full-chat-w .user-intro .user-intro-info .user-sub {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-info-section + .chat-info-section {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .full-chat-w .full-chat-middle {
  background-color: #333c55;
}

body.color-scheme-dark .full-chat-w .full-chat-middle .chat-content-w .chat-message .chat-message-avatar img {
  -webkit-box-shadow: #333c55 0px 0px 0px 10px;
  box-shadow: #333c55 0px 0px 0px 10px;
}

body.color-scheme-dark .full-chat-w .full-chat-middle .chat-content-w .chat-date-separator:before {
  background-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .full-chat-w .full-chat-middle .chat-content-w .chat-date-separator span {
  background-color: #333c55;
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-middle .chat-content-w .chat-message .chat-message-date {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-content-w .chat-message .chat-message-content {
  background-color: #3c4865;
  color: #ccd9e8;
}

body.color-scheme-dark .full-chat-w .chat-content-w .chat-message.self .chat-message-content {
  background-color: #293145;
}

body.color-scheme-dark .full-chat-w .chat-controls {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .full-chat-w .chat-input input[type="text"]::-webkit-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-input input[type="text"]:-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-input input[type="text"]::-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-input input[type="text"]::placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .chat-input input[type="text"] {
  background-color: #333c55;
  color: #ccd9e8;
}

body.color-scheme-dark .full-chat-w .full-chat-right {
  background-color: #252c3f;
}

body.color-scheme-dark .full-chat-w .full-chat-left {
  background-color: #293145;
}

body.color-scheme-dark .full-chat-w .full-chat-left .nav-link i {
  color: #59647b;
}

body.color-scheme-dark .full-chat-w .full-chat-left .nav-link.active i {
  color: #047bf8;
}

body.color-scheme-dark .full-chat-w .full-chat-left .element-search input {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #161a25;
}

body.color-scheme-dark .full-chat-w .full-chat-left .element-search:before, body.color-scheme-dark .full-chat-w .full-chat-left .element-search input::-webkit-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .element-search:before, body.color-scheme-dark .full-chat-w .full-chat-left .element-search input:-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .element-search:before, body.color-scheme-dark .full-chat-w .full-chat-left .element-search input::-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .element-search:before, body.color-scheme-dark .full-chat-w .full-chat-left .element-search input::placeholder {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .user-list .user-w .last-message {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .user-list .user-w .user-date {
  background-color: #1f2635;
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .full-chat-w .full-chat-left .user-list .user-w {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

body.color-scheme-dark .full-chat-w .full-chat-left .user-list .user-w:hover .user-date {
  background-color: #0362c6;
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .table-bordered th, body.color-scheme-dark .table-bordered td {
  border-color: rgba(159, 172, 199, 0.12);
}

body.color-scheme-dark .table th, body.color-scheme-dark .table td {
  border-color: rgba(159, 172, 199, 0.12);
}

body.color-scheme-dark .table.table-v2 thead tr th, body.color-scheme-dark .table.table-v2 tfoot tr th {
  border-color: rgba(159, 172, 199, 0.12);
}

body.color-scheme-dark .table.table-v2 tbody tr td {
  border-color: rgba(159, 172, 199, 0.12);
}

body.color-scheme-dark .table .cell-image-list .cell-img-more {
  background-color: #2b334b;
}

body.color-scheme-dark .table thead th {
  border-bottom-color: rgba(255, 255, 255, 0.05);
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .table .cell-image-list .cell-img {
  -webkit-box-shadow: 3px 2px 10px rgba(25, 38, 66, 0.8);
  box-shadow: 3px 2px 10px rgba(25, 38, 66, 0.8);
}

body.color-scheme-dark .table .row-actions a {
  color: #bbc9da;
}

body.color-scheme-dark .controls-below-table .table-records-info,
body.color-scheme-dark .controls-below-table .table-records-pages ul li a.current {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .table.table-padded tbody td {
  background-color: #303950;
}

body.color-scheme-dark .table.table-padded tbody tr:hover {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

body.color-scheme-dark .table .lighter {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(16, 27, 33, 0.05);
}

body.color-scheme-dark .dataTables_wrapper .row:first-child {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .dataTables_wrapper .row:last-child {
  border-top-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark div.dataTables_wrapper div.dataTables_info {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .table.table-editable td:hover {
  background-color: #293145;
}

body.color-scheme-dark .table.table-editable + input {
  background-color: #1f2635;
  color: #fff;
}

body.color-scheme-dark .nav-pills .nav-link {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .nav-pills .nav-link.active, body.color-scheme-dark .nav-pills .nav-item.show .nav-link {
  color: #fff;
}

body.color-scheme-dark .nav-tabs, body.color-scheme-dark .nav-pills {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

body.color-scheme-dark .nav-tabs .nav-link {
  color: rgba(218, 226, 243, 0.4);
}

body.color-scheme-dark .nav-tabs .nav-link.active, body.color-scheme-dark .nav-tabs .nav-item.show .nav-link, body.color-scheme-dark .nav-tabs .nav-link:hover, body.color-scheme-dark .nav-tabs .nav-item:hover .nav-link {
  color: #fff;
}

body.color-scheme-dark .page-link {
  background-color: #293145;
  border-color: #293145;
}

body.color-scheme-dark .page-item.disabled .page-link {
  background-color: #293145;
  border-color: #293145;
  color: rgba(218, 226, 243, 0.4);
}
