/* 18. Dropdowns */
.os-dropdown-trigger {
  position: relative;
  cursor: pointer;
}

.os-dropdown-trigger.over .os-dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(99%, 99%);
  transform: translate(99%, 99%);
}

.os-dropdown-trigger.os-dropdown-center .os-dropdown {
  right: 50%;
  -webkit-transform: translate(50%, 115%);
  transform: translate(50%, 115%);
}

.os-dropdown-trigger.os-dropdown-center.over .os-dropdown {
  -webkit-transform: translate(50%, 99%);
  transform: translate(50%, 99%);
}

.os-dropdown {
  background-color: #047bf8;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  z-index: 999;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translate(99%, 115%);
  transform: translate(99%, 115%);
  opacity: 0;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(4, 123, 248, 0.5);
  box-shadow: 0px 5px 25px 0px rgba(4, 123, 248, 0.5);
  overflow: hidden;
  font-size: 0.9rem;
  text-align: left;
}

.os-dropdown > .icon-w {
  position: absolute;
  top: -30px;
  right: -30px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
}

.os-dropdown ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.os-dropdown ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.os-dropdown ul li:last-child {
  border-bottom: none;
}

.os-dropdown ul li a {
  display: block;
  white-space: nowrap;
  padding: 10px 10px 10px 0px;
  line-height: 1;
  color: #fff;
  font-size: 0.9rem;
}

.os-dropdown ul li a:hover {
  text-decoration: none;
}

.os-dropdown ul li a i {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 18px;
}

.os-dropdown ul li a span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 0.9rem;
}

.os-dropdown ul li a:hover i {
  color: #FBB463;
}

.os-dropdown.message-list {
  padding: 10px 0px;
}

.os-dropdown.message-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.os-dropdown.message-list li:last-child {
  border-bottom: none;
}

.os-dropdown.message-list li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 25px;
}

.os-dropdown.message-list li > a:hover {
  background-color: rgba(124, 137, 234, 0.07);
}

.os-dropdown.message-list li > a .user-avatar-w {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  margin-right: 20px;
}

.os-dropdown.message-list li > a .user-avatar-w img {
  width: 45px;
  border-radius: 30px;
  height: auto;
}

.os-dropdown.message-list li > a .message-content .message-from {
  color: #fff;
  margin-bottom: 5px;
}

.os-dropdown.message-list li > a .message-content .message-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.63rem;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 0px;
}

.os-dropdown.light {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
  box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
}

.os-dropdown.light.message-list > .icon-w {
  color: rgba(4, 123, 248, 0.1);
}

.os-dropdown.light.message-list li {
  border-bottom: 1px solid rgba(113, 133, 171, 0.09);
}

.os-dropdown.light.message-list li:last-child {
  border-bottom: none;
}

.os-dropdown.light.message-list li > a .message-content .message-from {
  color: #334152;
}

.os-dropdown.light.message-list li > a .message-content .message-title {
  color: #047bf8;
}
