
/* 9. Styles for all element blocks */
/*

  # -- STYLES NAVIGATION:

  #1. Element Wrapper Styles
  #2. Tablo Element
  #3. Charts & Legends
  #4. Profile Tiles
  #5. Users list element
  #6. Tabs Controls
  #7. Activity Boxes
  #8. Note box
  #9. Steps
  #10. Invoice
  #11. Error Page
  #12. Authorization styles
  #13. Timed Activities Element
  #14. Progress Bar Element
  #15. Balances


*/
/*
 #1. Element Wrapper Styles
*/
.element-wrapper {
  padding-bottom: 4rem;
}

.element-wrapper.compact {
  padding-bottom: 2rem;
}

.element-wrapper .element-info {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.element-wrapper .element-info .element-info-with-icon {
  margin-bottom: 0px;
}

.element-wrapper .element-info-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.element-wrapper .element-info-with-icon .element-info-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  color: #047bf8;
  font-size: 30px;
}

.element-wrapper .element-info-with-icon.smaller .element-info-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  font-size: 20px;
}

.element-wrapper .element-info-with-icon.smaller .element-info-text .element-inner-header {
  margin-bottom: 0px;
}

.element-wrapper .element-actions {
  float: right;
  position: relative;
  z-index: 2;
}

.element-wrapper .element-actions .btn + .btn, .element-wrapper .element-actions .all-wrapper .fc-button + .btn, .all-wrapper .element-wrapper .element-actions .fc-button + .btn, .element-wrapper .element-actions .all-wrapper .btn + .fc-button, .all-wrapper .element-wrapper .element-actions .btn + .fc-button, .element-wrapper .element-actions .all-wrapper .fc-button + .fc-button, .all-wrapper .element-wrapper .element-actions .fc-button + .fc-button {
  margin-left: 10px;
}

.element-wrapper .element-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.element-wrapper .element-header:after {
  content: "";
  background-color: #047bf8;
  width: 18px;
  height: 6px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0px;
}

.element-wrapper .element-inner-header {
  margin-bottom: 0.5rem;
  margin-top: 0px;
  display: block;
}

.element-wrapper .element-inner-desc {
  color: #999;
  font-weight: 300;
  font-size: 0.81rem;
  display: block;
}

.element-wrapper .element-search {
  position: relative;
}

.element-wrapper .element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 48%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.2);
}

.element-wrapper .element-search input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 10px 15px 10px 50px;
  display: block;
  width: 100%;
  outline: none;
}

.element-wrapper .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.element-wrapper .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.element-wrapper .element-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.element-wrapper .element-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.element-box, .invoice-w, .big-error-w {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
}

.element-box .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls {
  margin-left: -2rem;
  margin-right: -2rem;
}

.element-box .os-tabs-controls .nav, .invoice-w .os-tabs-controls .nav, .big-error-w .os-tabs-controls .nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.element-box .centered-header, .invoice-w .centered-header, .big-error-w .centered-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

.element-box .element-box-header, .invoice-w .element-box-header, .big-error-w .element-box-header {
  color: #046fdf;
  margin-bottom: 1rem;
}

.element-box-content + .form-header {
  margin-top: 2rem;
}

.element-box + .element-box, .invoice-w + .element-box, .big-error-w + .element-box, .element-box + .invoice-w, .invoice-w + .invoice-w, .big-error-w + .invoice-w, .element-box + .big-error-w, .invoice-w + .big-error-w, .big-error-w + .big-error-w {
  margin-top: 2rem;
}

.element-box-tp .input-search-w,
.element-box .input-search-w, .invoice-w .input-search-w, .big-error-w .input-search-w {
  margin-bottom: 1rem;
}

/*
 #2. Tablo Element
*/
.el-tablo {
  display: block;
}

.el-tablo:not(.centered) {
  padding-right: 5px;
}

.el-tablo .label {
  display: block;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.el-tablo .value {
  font-size: 2.43rem;
  font-weight: 500;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

.el-tablo .trending {
  padding: 3px 10px;
  border-radius: 30px;
  display: inline-block;
  font-size: 0.81rem;
  vertical-align: middle;
  margin-left: 10px;
}

.el-tablo .trending .os-icon {
  margin-left: 2px;
  vertical-align: middle;
  font-size: 14px;
}

.el-tablo .trending span {
  display: inline-block;
  vertical-align: middle;
}

.el-tablo .trending-up {
  color: #fff;
  background-color: #579D1B;
}

.el-tablo .trending-down {
  color: #fff;
  background-color: #e65252;
}

.el-tablo .trending-up-basic {
  color: #579D1B;
  padding: 0px;
}

.el-tablo .trending-down-basic {
  color: #e65252;
  padding: 0px;
}

.el-tablo.trend-in-corner {
  position: relative;
}

.el-tablo.trend-in-corner .trending {
  position: absolute;
  top: 10px;
  right: 10px;
}

.el-tablo.centered {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.el-tablo.centered.padded {
  padding-left: 10px;
  padding-right: 10px;
}

.el-tablo.padded {
  padding: 2rem;
}

.el-tablo.bigger .value {
  font-size: 3.33rem;
}

.el-tablo.bigger .label {
  font-size: 0.9rem;
}

.el-tablo.highlight .value {
  color: #047bf8;
}

.el-tablo.bold-label .label {
  text-transform: none;
  font-size: 0.99rem;
  letter-spacing: 0px;
}

a.el-tablo {
  text-decoration: none;
  display: block;
  color: #3E4B5B;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a.el-tablo .value {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a.el-tablo .label {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a.el-tablo:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
  box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}

a.el-tablo:hover .value {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #047bf8;
}

a.el-tablo:hover .label {
  color: #3395fc;
}

a.el-tablo:hover.centered .value {
  -webkit-transform: scale(1.1) translateY(-3px);
  transform: scale(1.1) translateY(-3px);
}

a.el-tablo:hover .label {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.el-buttons-list .btn, .el-buttons-list .all-wrapper .fc-button, .all-wrapper .el-buttons-list .fc-button {
  margin-bottom: 0.5rem;
}

.el-buttons-list.full-width .btn, .el-buttons-list.full-width .all-wrapper .fc-button, .all-wrapper .el-buttons-list.full-width .fc-button {
  display: block;
}

.el-tablo + .el-chart-w {
  margin-top: 1rem;
}

/*
 #3. Charts & Legend
*/
.el-chart-w {
  position: relative;
  text-align: center;
}

.el-chart-w .inside-donut-chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.63rem;
  text-transform: uppercase;
  z-index: 1;
}

.el-chart-w .inside-donut-chart-label strong {
  display: block;
  font-size: 1.98rem;
  line-height: 1.1;
}

.el-chart-w .inside-donut-chart-label span {
  display: block;
  color: rgba(0, 0, 0, 0.4);
}

.el-chart-w canvas {
  position: relative;
  z-index: 2;
}

.el-chart-w + .el-legend {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.el-legend .legend-value-w {
  margin-bottom: 0.5rem;
}

.el-legend .legend-pin {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.7rem;
}

.el-legend .legend-value {
  display: inline-block;
  vertical-align: middle;
}

/*
 #4. Profile Tile
*/
.profile-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-tile .profile-tile-box {
  width: 110px;
  text-align: center;
  border-radius: 6px;
  padding: 1.5rem 0.5rem 0.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  text-decoration: none;
  color: #3E4B5B;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
}

.profile-tile .profile-tile-box:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
  box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}

.profile-tile .pt-avatar-w {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
}

.profile-tile .pt-avatar-w img {
  width: 60px;
  height: auto;
}

.profile-tile .pt-user-name {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.63rem;
  text-transform: uppercase;
}

.profile-tile .profile-tile-meta {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 30px;
}

.profile-tile .profile-tile-meta ul {
  list-style: none;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  margin: 0px;
  padding: 0px;
}

.profile-tile .profile-tile-meta ul li {
  margin-bottom: 0.3rem;
}

.profile-tile .profile-tile-meta ul strong {
  color: #3E4B5B;
  margin-left: 5px;
}

.status-pill {
  width: 12px;
  height: 12px;
  border-radius: 30px;
  background-color: #eee;
  display: inline-block;
  vertical-align: middle;
}

.status-pill.yellow {
  background-color: #f8bc34;
}

.status-pill.red {
  background-color: #c21a1a;
}

.status-pill.green {
  background-color: #71c21a;
}

.status-pill.smaller {
  width: 8px;
  height: 8px;
}

.status-pill + span {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

/*
 #5. Users list element
*/
.users-list-w .user-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.users-list-w .user-w .user-avatar-w {
  width: 50px;
}

.users-list-w .user-w .user-avatar-w .user-avatar {
  border-radius: 40px;
  overflow: hidden;
}

.users-list-w .user-w .user-avatar-w .user-avatar img {
  max-width: 100%;
  height: auto;
}

.users-list-w .user-w.with-status .user-avatar-w {
  position: relative;
}

.users-list-w .user-w.with-status .user-avatar-w:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 3px #fff;
  box-shadow: 0px 0px 0px 3px #fff;
}

.users-list-w .user-w.with-status.status-green .user-avatar-w:before {
  background-color: #579D1B;
}

.users-list-w .user-w.with-status.status-red .user-avatar-w:before {
  background-color: #e65252;
}

.users-list-w .user-w .user-name {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.users-list-w .user-w .user-title {
  margin-bottom: 4px;
}

.users-list-w .user-w .user-role {
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.users-list-w .user-w .user-action {
  width: 50px;
  color: #047bf8;
  font-size: 18px;
}

/*
 #6. Tabs Controls
*/
.os-tabs-controls {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.os-tabs-controls .nav-pills {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.os-tabs-controls .nav-tabs {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*
 #7. Activity Boxes
*/
.activity-boxes-w .activity-box-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.8rem 0px;
  position: relative;
}

.activity-boxes-w .activity-box-w:before {
  content: "";
  display: block;
  width: 3px;
  background-color: #c0cadd;
  top: 0px;
  bottom: 0px;
  left: 75px;
  position: absolute;
}

.activity-boxes-w .activity-box-w:after {
  content: "";
  display: block;
  width: 20px;
  background-color: #c0cadd;
  top: 50%;
  height: 1px;
  left: 80px;
  position: absolute;
  z-index: 1;
}

.activity-boxes-w .activity-box-w:first-child:before {
  top: 50%;
}

.activity-boxes-w .activity-box-w:last-child:before {
  bottom: 50%;
}

.activity-boxes-w .activity-time {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding-right: 40px;
}

.activity-boxes-w .activity-box {
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.activity-boxes-w .activity-box:before {
  position: absolute;
  top: 50%;
  left: -30px;
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #60769f;
  background-color: #f2f4f8;
  border-radius: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.activity-boxes-w .activity-avatar {
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
}

.activity-boxes-w .activity-avatar img {
  max-width: 100%;
  height: auto;
}

.activity-boxes-w .activity-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.activity-boxes-w .activity-role {
  font-size: 0.63rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.2rem;
}

.activity-boxes-w .activity-title {
  font-size: 0.63rem;
  text-transform: uppercase;
  display: block;
}

/*
 #8. Note box
*/
.note-box {
  padding: 15%;
  background-color: #F8ECC7;
  margin-bottom: 2rem;
}

.note-box .note-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.note-box .note-content {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.81rem;
}

/*
 #9. Steps
*/
.step-contents .step-content {
  padding: 0px 5%;
  display: none;
}

.step-contents .step-content.active {
  display: block;
}

.step-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.step-triggers .step-trigger {
  padding-bottom: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 1.08rem;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.step-triggers .step-trigger:focus {
  text-decoration: none;
}

.step-triggers .step-trigger:hover {
  text-decoration: none;
  color: #3E4B5B;
  cursor: pointer;
}

.step-triggers .step-trigger:before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #047bf8;
  left: 0px;
  right: 100%;
  bottom: -2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.step-triggers .step-trigger.complete:before {
  right: 0px;
}

.step-triggers .step-trigger.active {
  color: #3E4B5B;
}

.step-triggers .step-trigger.active:before {
  right: 0px;
}

/*
 #10. Invoice
*/
.invoice-w {
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  padding: 100px;
  padding-bottom: 20px;
}

.invoice-w:before {
  width: 140%;
  height: 450px;
  background-color: #faf9f3;
  position: absolute;
  top: -15%;
  left: -24%;
  -webkit-transform: rotate(-27deg);
  transform: rotate(-27deg);
  content: "";
  z-index: 1;
}

.invoice-w .infos {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.invoice-w .infos .info-1 {
  font-size: 1.08rem;
}

.invoice-w .infos .info-1 .company-name {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  margin-top: 10px;
}

.invoice-w .infos .info-1 .company-extra {
  font-size: 0.81rem;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
}

.invoice-w .infos .info-2 {
  padding-top: 140px;
  text-align: right;
}

.invoice-w .infos .info-2 .company-name {
  margin-bottom: 1rem;
  font-size: 1.26rem;
}

.invoice-w .infos .info-2 .company-address {
  color: rgba(0, 0, 0, 0.6);
}

.invoice-w .terms {
  font-size: 0.81rem;
  margin-top: 2.5rem;
}

.invoice-w .terms .terms-header {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.invoice-w .terms .terms-content {
  color: rgba(0, 0, 0, 0.4);
}

.invoice-table thead th {
  border-bottom: 2px solid #333;
}

.invoice-table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.invoice-table tbody tr:last-child td {
  padding-bottom: 40px;
}

.invoice-table tfoot tr td {
  border-top: 3px solid #333;
  font-size: 1.26rem;
}

.invoice-heading {
  margin-bottom: 4rem;
  margin-top: 7rem;
  position: relative;
  z-index: 2;
}

.invoice-heading h3 {
  margin-bottom: 0px;
}

.invoice-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6rem;
}

.invoice-footer .invoice-logo img {
  vertical-align: middle;
  height: 20px;
  width: auto;
  display: inline-block;
}

.invoice-footer .invoice-logo span {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}

.invoice-footer .invoice-info span {
  display: inline-block;
}

.invoice-footer .invoice-info span + span {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.invoice-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoice-body .invoice-desc {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 250px;
  flex: 0 1 250px;
  font-size: 1.17rem;
}

/*
 #11. Error Page
*/
.big-error-w {
  width: 450px;
  text-align: center;
  padding: 50px;
  margin: 0px auto;
  margin-top: 100px;
}

.big-error-w h1 {
  font-size: 4.75rem;
  margin-bottom: 0px;
}

.big-error-w h5 {
  color: #047bf8;
  margin-bottom: 3rem;
}

.big-error-w h4 {
  margin-bottom: 0px;
}

.big-error-w form {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

/*
 #12. Authorization styles
*/
.auth-box-w {
  max-width: 450px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.auth-box-w.wider {
  max-width: 500px;
}

.auth-box-w .logged-user-w {
  padding-top: 0px;
  padding-bottom: 10px;
}

.auth-box-w .logo-w {
  text-align: center;
  padding: 20%;
}

.auth-box-w .auth-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  padding-left: 80px;
}

.auth-box-w .auth-header:after {
  content: "";
  background-color: #047bf8;
  width: 32px;
  height: 7px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 80px;
}

.auth-box-w form {
  padding: 20px 80px;
  padding-bottom: 60px;
}

.auth-box-w form .form-check-inline {
  margin-left: 1rem;
}

.auth-box-w form .form-group {
  position: relative;
}

.auth-box-w form .form-group .pre-icon {
  position: absolute;
  bottom: 5px;
  font-size: 24px;
  color: #047bf8;
  left: -38px;
}

.auth-box-w .buttons-w {
  padding-top: 1rem;
  margin-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.auth-box-w.centered {
  text-align: center;
}

.auth-box-w.centered .auth-header {
  padding-left: 0px;
}

.auth-box-w.centered .auth-header:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

/*
 #13. Timed Activities Element
*/
.timed-activities {
  margin-bottom: 1rem;
}

.timed-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.08rem;
}

.timed-activity .ta-date {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
}

.timed-activity .ta-date span {
  position: relative;
  display: inline-block;
}

.timed-activity .ta-date span:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
  width: 16px;
  height: 16px;
  border: 3px solid #C76DC8;
  border-radius: 8px;
  background-color: #fff;
}

.timed-activity .ta-date:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -20px;
  width: 1px;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.1);
}

.timed-activity .ta-record-w {
  padding-left: 40px;
}

.timed-activity .ta-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.timed-activity .ta-timestamp {
  position: relative;
  padding-right: 40px;
  color: rgba(0, 0, 0, 0.4);
  width: 110px;
  white-space: nowrap;
}

.timed-activity .ta-timestamp strong {
  color: #3E4B5B;
}

.timed-activity .ta-timestamp:after {
  content: '\e910';
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  display: block;
}

.timed-activity .ta-activity a {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid #3b75e3;
}

.timed-activity .ta-activity a:hover {
  text-decoration: none;
  color: #1747a1;
  border-bottom-color: #1747a1;
}

.timed-activities.compact .timed-activity {
  display: block;
  padding-left: 30px;
  position: relative;
}

.timed-activities.compact .timed-activity:before {
  position: absolute;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0px;
  top: 45px;
  content: "";
  left: 8px;
}

.timed-activities.compact .timed-activity .ta-date {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  text-align: left;
  margin-bottom: 1.5rem;
}

.timed-activities.compact .timed-activity .ta-date:before {
  display: none;
}

.timed-activities.compact .timed-activity .ta-date span:after {
  left: -30px;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.timed-activities.compact .timed-activity .ta-record-w {
  padding-left: 20px;
}

.timed-activities.compact .timed-activity .ta-record {
  display: block;
}

.timed-activities.compact .timed-activity .ta-timestamp {
  font-size: 0.81rem;
  margin-bottom: 5px;
}

.timed-activities.compact .timed-activity .ta-timestamp:after {
  right: auto;
  left: -20px;
  font-size: 8px;
}

.timed-activities.compact .timed-activity .ta-activity {
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*
 #14. Progress Bar Element
*/
.os-progress-bar {
  margin-bottom: 1rem;
}

.os-progress-bar .bar-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.os-progress-bar .bar-labels span {
  font-size: 0.72rem;
}

.os-progress-bar .bar-labels span.bigger {
  font-size: 0.99rem;
}

.os-progress-bar .bar-label-left span {
  margin-right: 5px;
}

.os-progress-bar .bar-label-left span.positive {
  color: #619B2E;
}

.os-progress-bar .bar-label-left span.negative {
  color: #D83536;
}

.os-progress-bar .bar-label-right span {
  margin-left: 5px;
}

.os-progress-bar .bar-label-right span.info {
  color: #456CF9;
}

.os-progress-bar .bar-level-1,
.os-progress-bar .bar-level-2,
.os-progress-bar .bar-level-3 {
  border-radius: 12px;
  height: 6px;
}

.os-progress-bar.blue .bar-level-1, .os-progress-bar.primary .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.blue .bar-level-2, .os-progress-bar.primary .bar-level-2 {
  background-color: #65affd;
}

.os-progress-bar.blue .bar-level-3, .os-progress-bar.primary .bar-level-3 {
  background-color: #0362c6;
}

.os-progress-bar.warning .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.warning .bar-level-2 {
  background-color: #fcebb8;
}

.os-progress-bar.warning .bar-level-3 {
  background-color: #f9d66f;
}

.os-progress-bar.danger .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.danger .bar-level-2 {
  background-color: #f7acac;
}

.os-progress-bar.danger .bar-level-3 {
  background-color: #f16666;
}

.os-progress-bar.success .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.success .bar-level-2 {
  background-color: #c2f2ae;
}

.os-progress-bar.success .bar-level-3 {
  background-color: #90e86c;
}

.os-progress-bar.info .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.info .bar-level-2 {
  background-color: #9fd9f7;
}

.os-progress-bar.info .bar-level-3 {
  background-color: #58bef1;
}

.os-progress-bar.floated {
  float: right;
  width: 220px;
}

/*
  #15. Balances
*/
.element-balances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.element-balances .balance {
  padding: 10px 20px;
}

.element-balances .balance + .balance {
  border-left: 1px solid rgba(0, 0, 0, 0.03);
}

.element-balances .balance-title {
  color: rgba(90, 99, 126, 0.49);
  font-size: 1.08rem;
}

.element-balances .balance-value {
  font-size: 2.07rem;
  font-weight: 500;
  color: #303a46;
  white-space: nowrap;
}

.element-balances .balance-value.danger {
  color: #b71b1b;
}

.element-balances .balance-value span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
}

.element-balances .balance-value i {
  line-height: 1.1;
}

.element-balances .balance-value .balance-value-success {
  color: #579D1B;
}

.element-balances span.trending {
  padding: 3px 10px;
  border-radius: 30px;
  display: inline-block;
  font-size: 0.99rem;
  vertical-align: middle;
  margin-left: 10px;
}

.element-balances span.trending .os-icon {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 14px;
}

.element-balances span.trending span {
  display: inline-block;
  vertical-align: middle;
}

.element-balances span.trending-up {
  color: #fff;
  background-color: #579D1B;
}

.element-balances span.trending-down {
  color: #fff;
  background-color: #e65252;
}

.element-balances span.trending-up-basic {
  color: #579D1B;
  padding: 0px;
}

.element-balances span.trending-down-basic {
  color: #e65252;
  padding: 0px;
}
