/* 5. Handy Animations  */
@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes jumpUp {
  0% {
    -webkit-transform: scale(0.5) translate(70px, 70px);
    transform: scale(0.5) translate(70px, 70px);
  }
  80% {
    -webkit-transform: scale(1.1) translate(-10px, -10px);
    transform: scale(1.1) translate(-10px, -10px);
  }
  100% {
    -webkit-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
}

@keyframes jumpUp {
  0% {
    -webkit-transform: scale(0.5) translate(70px, 70px);
    transform: scale(0.5) translate(70px, 70px);
  }
  80% {
    -webkit-transform: scale(1.1) translate(-10px, -10px);
    transform: scale(1.1) translate(-10px, -10px);
  }
  100% {
    -webkit-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
}

.floated-chat-btn {
  -webkit-animation-name: jumpUp;
  animation-name: jumpUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.element-box, .invoice-w, .big-error-w {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.element-balances .balance {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.element-balances .balance:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.element-balances .balance:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.element-balances .balance:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.element-balances .balance:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.element-balances .balance:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.pipeline {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.project-box {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.aec-full-message-w {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.user-profile {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.content-panel {
  -webkit-animation-name: fadeLeft;
  animation-name: fadeLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
