/* 3i. Override bootstrap alerts styles */
.alert {
  font-weight: 300;
}

.alert p:last-child {
  margin-bottom: 0px;
}

.alert.alert-warning .alert-heading {
  color: #3E3221;
}

.alert.borderless {
  border: none;
}

.alert.compact {
  padding: 15px 20px;
  font-size: 0.72rem;
}

/* 3i. Override bootstrap badges styles */
.badge {
  font-size: 0.81rem;
}

.badge-default-inverted {
  background-color: #d6dde1;
  border: 1px solid #4b5257;
  color: #3f4549;
  font-weight: 300;
}

.badge-default-inverted[href]:focus, .badge-default-inverted[href]:hover {
  background-color: #b8c4cb;
  border: 1px solid #34383b;
  color: #3f4549;
  font-weight: 300;
}

.badge-primary-inverted {
  background-color: #cce4ff;
  border: 1px solid #0362c6;
  color: #0356ad;
  font-weight: 300;
}

.badge-primary-inverted[href]:focus, .badge-primary-inverted[href]:hover {
  background-color: #99caff;
  border: 1px solid #024994;
  color: #0356ad;
  font-weight: 300;
}

.badge-success-inverted {
  background-color: #d2e9be;
  border: 1px solid #3f7114;
  color: #335c10;
  font-weight: 300;
}

.badge-success-inverted[href]:focus, .badge-success-inverted[href]:hover {
  background-color: #b8dd98;
  border: 1px solid #27460c;
  color: #335c10;
  font-weight: 300;
}

.badge-info-inverted {
  background-color: #ecf9fd;
  border: 1px solid #31b0d5;
  color: #28a1c5;
  font-weight: 300;
}

.badge-info-inverted[href]:focus, .badge-info-inverted[href]:hover {
  background-color: #bfeaf7;
  border: 1px solid #2390b0;
  color: #28a1c5;
  font-weight: 300;
}

.badge-warning-inverted {
  background-color: #fdf7ee;
  border: 1px solid #d89a31;
  color: #c98d26;
  font-weight: 300;
}

.badge-warning-inverted[href]:focus, .badge-warning-inverted[href]:hover {
  background-color: #f8e2c0;
  border: 1px solid #b47e22;
  color: #c98d26;
  font-weight: 300;
}

.badge-danger-inverted {
  background-color: #fdebeb;
  border: 1px solid #e02525;
  color: #ce1e1e;
  font-weight: 300;
}

.badge-danger-inverted[href]:focus, .badge-danger-inverted[href]:hover {
  background-color: #fabcbc;
  border: 1px solid #b71b1b;
  color: #ce1e1e;
  font-weight: 300;
}
