/*
  Troumaca overrides etc.
*/

.login-register-container {
  padding-top: 1rem;
  margin: 20px 100px 100px;
}

/*for phones*/
@media (max-width: 350px) {
  .login-register-container {
    margin: 20px 20% 100px;
  }
}

