<!--<div class="auth-wrapper">-->
  <!--<div class="all-wrapper menu-side with-pattern">-->
    <div class="auth-box-w wider centered">
      <div class="logo-w">
        <a href="index.html"><img alt="" src="/images/logo-big.png"></a>
      </div>
      <h4 class="auth-header">
        Welcome To Troumaca
      </h4>
      <div class="logged-user-w">
       <div class="login-register-container">
          <object align="left"><a routerLink="/authentication/login">Login</a></object><object align="right"><a routerLink="/authentication/register">Register</a></object>
       </div>
      </div>
    </div>
  <!--</div>-->
<!--</div>-->
