<div class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w wider centered">
      <div class="logo-w">
        <a href="index.html"><img alt="" src="/images/logo-big.png"></a>
      </div>
      <h5 class="auth-header">
        Welcome To
      </h5>
      <div class="logged-user-w">
        <h5>
          Troumaca
        </h5>
        <div class="login-register-container">
          <object align="left"><a routerLink="/authentication/login">Login</a></object><object align="right"><a routerLink="/authentication/register">Register</a></object>
        </div>
        <!--<div class="avatar-w">-->
          <!--<img alt="" src="/images/avatar1.jpg">-->
        <!--</div>-->
        <!--<div class="logged-user-name">-->
          <!--Maria Gomez-->
        <!--</div>-->
        <!--<div class="logged-user-role">-->
          <!--Administrator-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>