<div class="content-i asset-container">

<!--  <asset-type-top-menu></asset-type-top-menu> -->

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="assetTypeForm" id="formValidate">
              <h5 class="form-header">
                New Asset Type Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to create asset type class.</div>
              <div [hidden]="doNotDisplayFailureMessage2" class="alert alert-danger">Failed to create value {{errorCount + 1}}</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Asset Type Class</label>
                  <ng2-completer [datasource]="assetTypeClassIdDataService"
                                 [inputClass]="'form-control form-control-inline'"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Asset Type Class'"
                                 [matchClass]="'match'"
                                 formControlName="assetTypeClassId"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onAssetTypeClassIdSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required="required" type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Model Number">Model Number</label><input class="form-control" formControlName="modelNumber" placeholder="Model Number" type="text">
                  <div [hidden]="modelNumber.valid || modelNumber.pristine" class="alert alert-danger">Invalid model number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Material Code">Material Code</label><input class="form-control" formControlName="materialCode" placeholder="Material Code" type="text">
                  <div [hidden]="materialCode.valid || materialCode.pristine" class="alert alert-danger">Invalid material code.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="">Unit Of Measurement</label>
                  <ng2-completer [datasource]="unitOfMeasureIdDataService"
                                 [inputClass]="'form-control form-control-inline'"
                                 [minSearchLength]="0"
                                 [maxChars]="4"
                                 [inputClass]="'form-control'"
                                 [placeholder]="'Search for Unit of Measurement'"
                                 [matchClass]="'match'"
                                 formControlName="unitOfMeasureId"
                                 [autofocus]="true"
                                 [textSearching]="false"
                                 (selected)="onUnitOfMeasureIdSelect($event)">
                  </ng2-completer>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><input class="form-control" formControlName="description" placeholder="Description" type="text">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

            </form>

            <form [formGroup]="attributeForm" >
              <fieldset *ngFor="let attribute of assignedAttributes.attributes" class="form-group">
                <div *ngIf="attribute.dataType.name == 'Boolean'" class="form-check">
                  <label class="form-check-label"><input class="form-check-input" formControlName="{{attribute.attributeId}}"type="checkbox" [required]="getRequired(attribute.attributeId)">{{attribute.name}}</label>
                </div>

                <!--<ng-template #normalInput> -->
                  <div *ngIf="attribute.dataType.name != 'Boolean'" class="form-group">
                    <label for="{{attribute.name}}">{{attribute.name}}</label><input class="form-control" formControlName="{{attribute.attributeId}}" placeholder="Enter Value" [type]="onType(attribute.dataType.name)" [required]="getRequired(attribute.attributeId)">
                    <div [hidden]="attribute.attributeId +'.valid' || attribute.attributeId +'.pristine'" class="alert alert-danger">Invalid {{attribute.name}}.</div>
                  </div>
                <!--</ng-template> -->
              </fieldset>
            </form>

            <div class="form-buttons-w">
              <button class="btn btn-primary button1" [disabled]="!assetTypeForm.valid || !attributeForm.valid" (click)="onCreate()" type="button"> Submit</button>
              <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
