.parent-slider {
  height: 100%;
  width: 200%;
  display: flex;
}

.parent-slider2 {
  height: 100%;
  width: 200%;
  display: flex;
}

.parent-slider .child-slider {
  flex: 1;
}

.slider-container {
  display: block;
  overflow: hidden;
}

.card-front-elements {
  border-bottom: 1px solid #dadce0;
  padding: 20px 0;
}

.front-card-header {
  letter-spacing: .07272727em;
  text-transform: uppercase;
  font-size: .6875rem;
  font-weight: bold;
  line-height: 1rem;
  color: #5f6368;
}

.front-card-text {
  letter-spacing: .00625em;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
}

.blue-icon {
  color: #047bf8;
}

.multi-fields:not(:last-child) {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
}

.no-border-bottom {
  border-bottom: none;
}

.right-button {
  float: right;
}

.error-box-text {
  height: 15px;
  line-height: 1.2em;
  font-size: 75%;
  width: 100%;
  margin-top: .25em;
}

.example-full-width {
  width: 100%;
  margin-bottom: 0.8rem;
}

.card {
  background-color: white;
  border-bottom: 1px solid #047bf8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding-bottom: 25px;
  margin-top: 25px;
}

.no-bottom-border {
  border-bottom: none;
}

.form-header {
  margin-bottom: 1.5rem;
}

/* normal form flow */
.form-wrapper {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
