tbody tr:nth-child(odd) {
  /*background: #FFF*/
  background-color: rgba(94, 130, 152, 0.05);
}

tbody tr {
  height: 50px;
  border-bottom: 1px solid #999;
}

tfoot tr {
  border-top: 1px solid #999;
}

.no-data-center {
  text-align: center;
}

.paging-section {
  margin-top: 30px;
}

.table-section {
  margin-top: 30px;
}
