.lsm2 {
  height: 100%;
}

.lsm-white-d {
  margin-top: 24px;
}

.lsm-white-d__span {
  margin-left: 3px;
  margin-right: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #AEB3B3;
}

.lsm-white-d__icon {
  width: 21px;
  height: 21px;
  background: rgba(44,73,72, 0.2);
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #000000;
  border-radius: 50%;
}

/* reuse */
.lsm2-white {
  background: #FFFFFF;
  padding: 32px 30px 36px 39px;
}

.attribute-type {
  width: 292px;
  height: 100%;
  overflow: hidden;
}

.attribute-form {
  width: calc(100% - 292px);
  height: 100%;
  background: #E7E5E5;
  padding: 20px 44px 39px;
}

::ng-deep .mat-dialog-content {
  padding: 0;
  margin: 0;
}

.attribute-type-list {
  height: 100%;
  padding: 22px 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
}

.attribute-type-item {
  width: 111px;
  height: 116px;
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 31px;
  padding-bottom: 6px;
}

.attribute-type-item__icon {
  font-weight: 900;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2C4948;
  opacity: 0.8;
}

.attribute-type-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.attribute-type-item.selected {
  background: #004777;
}

.attribute-type-item__icon.selected {
  color: #FFFFFF;
  opacity: 1;
}

.attribute-type-item__text.selected {
  color: #FFFFFF;
  opacity: 1;
}


/* FORM */
.save-attribute {
  height: 100%;
  width: 100%;
  position: relative;
}


.sa-label-div {
  margin-bottom: 25px;
}

/*.save-attribute-check-fields {*/
/*  border-bottom: 1px solid rgba(0,0,0, 0.1);*/
/*  line-height: 0.1em;*/
/*  !*margin: 10px 0 20px;*!*/
/*}*/

.sa-cf-span {
  background: #E7E5E5;
  font-size: 13px;
  /*line-height: 14px;*/
  letter-spacing: 0.01em;
  color: #000000;
  padding-right: 13px;
}

.sa-cf-checkbox {
  background:  #E7E5E5;
  padding-left: 18px;
}

/*::ng-deep .mat-checkbox-frame {*/
/*  border: 1px solid #23C7EF !important;*/
/*  border-radius: 6px;*/
/*}*/

/* buttons */
.sa-action-button {
  position: absolute;
  bottom: 0;
}
.sa-ab-span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #2C4948;
}
