<div class="lsm2"
     gdRows="153px auto"
>
  <div class="lsm2-white">
    <div fxLayoutAlign="space-between center">
      <span class="lsm-header-text">New Attribute</span>
      <button mat-dialog-close class="modal__close">+</button>
    </div>
    <div class="lsm-white-d" fxLayoutAlign="start center">
      <span class="lsm-white-d__span">Select Attribute type</span>
      <div class="lsm-white-d__icon"
           fxLayoutAlign="center center">
        <span>i</span>
      </div>
    </div>
  </div>
  <div mat-dialog-content
       fxLayout="row"
  >
    <div class="attribute-type">
      <ul class="attribute-type-list"
          gdColumns="111px 111px"
          gdGap="8px 8px"
          gdAlignRows="center"
          >
        <li class="attribute-type-item" *ngFor="let type of types"
            fxLayout="column"
            fxLayoutGap="22px"
            (click)="onSelect(type.text)"
            [class.selected]="selected === type.text"
        >
          <fa-icon [icon]="type.icon" class="attribute-type-item__icon" [class.selected]="selected === type.text"></fa-icon>
          <div class="attribute-type-item__text" [class.selected]="selected === type.text"><span>{{type.text}}</span></div>
        </li>
      </ul>
    </div>
    <div class="attribute-form">
      <form class="save-attribute" *ngIf="selected">
        <div clas="sa-label-div">
          <label class="input-label" for="label">Label</label>
          <mat-form-field class="input-field input-field--white" appearance="outline">
            <input matInput [formControl]="label" id="label" required>
<!--            <mat-error *ngIf="label.hasError('required')">-->
<!--              label is <strong>required</strong>-->
<!--            </mat-error>-->
          </mat-form-field>
        </div>
        <div class="save-attribute-check-fields" fxLayoutAlign="space-between">
          <span class="sa-cf-span">Mandatory</span>
          <mat-checkbox class="sa-cf-checkbox"></mat-checkbox>
        </div>
        <div fxLayoutAlign="center center" class="sa-action-button" fxLayoutGap="21px">
          <span class="sa-ab-span">Learn more ...</span>
          <button mat-flat-button class="button button--primary button--primary--sa">Save Attribute</button>
        </div>
      </form >
    </div>
  </div>
</div>
