<div class="lsm2"
     gdColumns="292px calc(100% - 292px)"
     gdRows="86px calc(100%- 86px)"
>

  <div class="lsm2-white"
       gdRow="1/2"
       gdColumn="1/3"
  >

    <div fxLayoutAlign="space-between center">
      <span class="lsm-header-text">New Characteristic</span>
      <button mat-dialog-close class="modal__close">+</button>
    </div>

    <div class="lsm-white-d" fxLayoutAlign="start center">
      <span class="lsm-white-d__span">Select Characteristic type</span>
      <div class="lsm-white-d__icon"
           fxLayoutAlign="center center">
        <span>i</span>
      </div>
    </div>

  </div>

  <div class="attribute-type"
       gdRow="2/3"
       gdColumn="1/2"
  >
    <ul class="attribute-type-list"
        gdColumns="111px 111px"
        gdGap="8px 8px"
        gdAlignRows="center"
    >
      <li class="attribute-type-item" *ngFor="let type of types"
          fxLayout="column"
          fxLayoutGap="22px"
          (click)="onSelect(type)"
          [class.selected]="selected === type.name"
      >
        <fa-icon [icon]="getIcon(type.assetCharacteristicTypeId)" class="attribute-type-item__icon" [class.selected]="selected === type.name"></fa-icon>
        <div class="attribute-type-item__text" [class.selected]="selected === type.name"><span>{{type.name}}</span></div>
      </li>
    </ul>
  </div>

  <div class="attribute-form"
       gdRow="2/3"
       gdColumn="2/3"
  >
    <form class="save-attribute" *ngIf="selected" [formGroup]="attributeForm">

      <div class="form-control">
        <label class="fc-label" for="label">Label</label>
        <input class="fc-input" [formControl]="label" id="label" placeholder="Name your attribute" required>
        <div class="fc-error" *ngIf="label.hasError('required') && !label.pristine">
          <fa-icon class="fc-error__icon" [icon]="faExclamationTriangle"></fa-icon>Label is <strong>required</strong>
        </div>
      </div>

      <div class="list"
           *ngIf="selected === 'Select' || selected === 'Multi Select'"
           formArrayName="list"
      >
        <div class="list-items"
             *ngFor="let arrayItem of arrayItems; let i=index"
        >
          <label class="fc-label" for="{{'item' + (i +1)}}">{{'Item #' + (i +1)}}</label>
          <div class="input-icon">
            <input class="fc-input fc-input-items"  id="{{'item' + (i +1)}}"  [formControl]="list.controls[i]" placeholder="Type to add new item" >
            <fa-icon class="input-trash" [icon]="faTrashAlt" (click)="removeItem(i)" *ngIf="i > 1"></fa-icon>
          </div>
        </div>
        <button class="list-item-button" (click)="addItem()" >Click to add Item +</button>
      </div>

      <div class="behavior">
        <h4 class="behavior-title">Behavior</h4>
        <ul class="behavior-list">

          <li>

            <label class="blue-checkbox-label" for="pre-filled">Pre-filled
              <input class="blue-checkbox" type="checkbox" id="pre-filled" [formControl]="preFilled"/>
              <span class="blue-checkbox__shadow"></span>
            </label>

            <ng-container *ngIf="preFilled.value && selected !== 'Checkbox'">
              <div
                [ngSwitch]="selected"
                class="pre-filled-popup"
              >
                <div class="f-c-no-padding f-c-no-padding-content"  *ngSwitchCase="'Text'">
                  <label class="fc-label--hidden" for="text">Text</label>
                  <input class="fc-input" id="text" [formControl]="preFilledValue" placeholder="Pre-Filled Content">
                </div>
                <div class="f-c-no-padding f-c-no-padding-content" *ngIf="preFilled.value && selected === 'Number'">
                  <label class="fc-label--hidden" for="number">Text</label>
                  <input class="fc-input" id="number" [formControl]="preFilledValue" placeholder="Pre-Filled Content" type="number">
                </div>
              </div>
            </ng-container>

          </li>

          <li>
            <label class="blue-checkbox-label" for="required">Required
              <input class="blue-checkbox" type="checkbox" [formControl]="required" id="required"/>
              <span class="blue-checkbox__shadow"></span>
            </label>
          </li>

        </ul>

      </div>

      <div class="additional-info">

        <div fxLayout="row no-wrap" class="additional-info-collapsible" (click)="expandPanel()">
          <div class="additional-info-title">
            <span class="additional-info-title__span">Additional options</span>
          </div>
          <fa-icon  *ngIf="!panelActive" class="additional-info-title__icon" [icon]="faChevronDown"></fa-icon>
          <fa-icon  *ngIf="panelActive"  class="additional-info-title__icon" [icon]="faChevronUp"></fa-icon>
        </div>

        <div [ngClass]="{'additional-info-content': true, 'active': panelActive}">
          <div class="form-control f-c-no-padding-content fc-tool-tip">
            <div fxLayoutAlign="space-between center" class="fc-tool-tip-bar">
              <label class="fc-label fc-label-tool-tip" for="tool-tip">Tool Tip Information</label>
              <div class="lsm-white-d__icon" fxLayoutAlign="center center"><span>i</span></div>
            </div>
            <textarea class="fc-input fc-input-tool-tip" [formControl]="additionalInfo" id="tool-tip"
                      placeholder="Add info for information about the attributes"
            ></textarea>
          </div>
        </div>

      </div>

      <div class="sa-action-button">
        <button class="button button--primary button--primary--sa" [disabled]="!attributeForm.valid" (click)="onSubmit()">Save Characteristic</button>
      </div>

    </form>

  </div>

</div>
