<div class="content-i">

  <!--<asset-top-menu></asset-top-menu> -->

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Assets Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right"  href="#" [routerLink]="routerLinkCreateAsset" >New</a></object>
      </h6>
      <div class="element-box">

      <!--  <search></search> -->

        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
              <tr>
                <th>Classification</th>
                <th>Asset Type</th>
                <th>Serial Number</th>
                <th>Quantity</th>
                <th>Unit Of Measure</th>
                <th>Assignee</th>
                <th>Site</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Classification</th>
                <th>Asset Type</th>
                <th>Serial Number</th>
                <th>Quantity</th>
                <th>Unit Of Measure</th>
                <th>Assignee</th>
                <th>Site</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
              <tr role="row" *ngFor="let asset of assets.assets; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
                <td>{{asset.assetKind.name}}</td>
                <td>{{asset.assetType.name}}</td>
                <td>{{asset.serialNumber}}</td>
                <td>{{asset.quantity}}</td>
                <td>{{asset.unitOfMeasure.name}}</td>
                <td>{{asset.person.name}}</td>
                <td>{{asset.site.name}}</td>
                <td>{{asset.description}}</td>
                <td class="row-actions">
                  <a [routerLink]="['/assets', asset.assetId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(asset.assetId, asset.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                </td>
              </tr>
              <tr *ngIf="assets.assets.length <= 0" class="odd">
                <td valign="top" align="" colspan="9" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
              </tr>
            </tbody>
          </table>
          <div aria-labelledby="DeleteModalLabel" class="modal fade bd-example-modal-sm" id="DeleteModal1" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
           <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
             <div class="modal-header">
              <h5 class="modal-title" id="DeleteModalLabel">
               Delete {{assetName}}
              </h5>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
             </div>
             <div class="modal-body">
             <p>Are you sure you want to delete {{assetName}}?</p>
             </div>
                <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="onDelete()"> Delete</button>
               </div>
              </div>
             </div>
           </div>
          <paging [page]="assets.page" (requestPage)="onRequestPage($event)"></paging>
        </div>

      </div>
    </div>
  </div>
</div>
