:host {
  display: block;
  overflow: hidden;
}
/* list */
.asset-list {
  height: 100%;
  width: 100%;
}

.al-list {
  padding-top: 39px;
}

.al-rows-items {
  padding-left: 9px;
  padding-right: 7px;
  width: 100%;
  height: 62px;
  background: #FFFFFF;
  border-radius: 8px;
}

.al-ri-circle {
  width: 50px;
  height: 50px;
  background: #F8F8FF;
  border-radius: 50%;
}

.al-ri-circle-img {
  width: 27px;
  height: 28px;
}

.al-ri-span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #000000;
}

.al-ri-type {
  height: 23px;
  background: rgba(38,224,124,0.2);
  border-radius: 20px;
  margin-right: 15px;
  padding: 0 15px;
}

.al-ri-type-span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #000000;
}

.al-ri-edit-icons {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #23C7EF;
  margin-right: 17px;
}

.al-ri-edit-ellipsis {
  font-size: 14px;
  color: #80A3BB;
  opacity: 0.4;
  margin-left: 13px;
  margin-top: 8px;
}

/* grid */
.asset-grid {
  padding: 49px 20px 0 29px;
}

.al-grid-items {
  width: 111px;
  height: 116px;
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 7px;
  padding-right: 9px;
}

.al-gi-info {
  margin-top: 7px;
  max-width: 89px;
}

.al-ri-ee--g {
  margin: 0;
}

@media only screen and (max-width: 599px) {
  /* list */
  .al-list {
    padding: 21px 12px 0 14px;
  }

  .asset-grid {
    padding: 18px 12px 0 14px;
  }
}
