<div class="content-i asset-container">

  <attribute-top-menu></attribute-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Attribute Listing
      </h6>
      <!--<div class="element-box">-->

        <!--<search></search>-->

        <!--<div class="table-responsive table-section">-->
          <!--<table class="table table-striped table-lightfont table-full-width">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th class="classification">{{headerNames[0]}}</th>-->
              <!--<th>{{headerNames[1]}}</th>-->
              <!--<th class="description">{{headerNames[2]}}</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tfoot>-->
            <!--<tr>-->
              <!--<th class="classification">{{headerNames[0]}}</th>-->
              <!--<th>{{headerNames[1]}}</th>-->
              <!--<th class="description">{{headerNames[2]}}</th>-->
            <!--</tr>-->
            <!--</tfoot>-->
            <!--<tbody>-->
            <!--<tr role="row" *ngFor="let attribute of attributes.attributes; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">-->
              <!--<td class="classification">{{attribute.name}}</td>-->
              <!--<td>{{attributes.description}}</td>-->
              <!--<td class="description">{{attribute.dataType}}</td>-->
            <!--</tr>-->
            <!--<tr *ngIf="attributes.attributes.length <= 0" class="odd">-->
              <!--<td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
          <!--<paging [page]="attributes.page" (requestPage)="onRequestPage($event)"></paging>-->
        <!--</div>-->

      <!--</div>-->
    </div>
  </div>
</div>