<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Post Office Box Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" [routerLink]="routerLinkCreatePostOfficeBox" href="#">New</a></object>
      </h6>
      <div class="element-box">

      <!--  <search></search> -->

      <div class="table-responsive table-section">
        <table class="table table-striped table-lightfont table-full-width">
          <thead>
          <tr>
            <th>Post Office Box Name</th>
            <th>Description</th>
            <th>Post Office Box Number</th>
            <th>City</th>
            <th>State or Province</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Post Office Box Name</th>
            <th>Description</th>
            <th>Post Office Box Number</th>
            <th>City</th>
            <th>State or Province</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Actions</th>
          </tr>
          </tfoot>
          <tbody>
          <tr role="row" *ngFor="let postOfficeBox of postOfficeBoxes.postOfficeBoxes; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
            <td>{{postOfficeBox.name}}</td>
            <td>{{postOfficeBox.description}}</td>
            <td>{{postOfficeBox.postOfficeBoxNumber}}</td>
            <td>{{postOfficeBox.city}}</td>
            <td>{{postOfficeBox.stateOrProvince}}</td>
            <td>{{postOfficeBox.postalCode}}</td>
            <td>{{postOfficeBox.country}}</td>
            <td class="row-actions">
              <a [routerLink]="['/sites/post-office-boxes', postOfficeBox.siteId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(postOfficeBox.siteId, postOfficeBox.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
            </td>
          </tr>
          <tr *ngIf="postOfficeBoxes.postOfficeBoxes.length <= 0" class="odd">
            <td valign="top" align="" colspan="8" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
          </tr>
          </tbody>
        </table>
        <div aria-labelledby="DeleteModalLabel" class="modal fade bd-example-modal-sm" id="DeleteModal1" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
         <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
           <div class="modal-header">
            <h5 class="modal-title" id="DeleteModalLabel">
             Delete {{postOfficeBoxName}}
            </h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
           </div>
           <div class="modal-body">
           <p>Are you sure you want to delete {{postOfficeBoxName}}?</p>
           </div>
              <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
              <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="onDelete()"> Delete</button>
             </div>
            </div>
           </div>
         </div>
        <paging [page]="postOfficeBoxes.page" (requestPage)="onRequestPage($event)"></paging>
      </div>

    </div>
  </div>
</div>
</div>
