<div class="content-i">

  <!--<customer-top-menu></customer-top-menu>-->

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Customer Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right" [routerLink]="routerLinkCreateShipment" href="#">New</a></object>
      </h6>
      <div class="element-box">

        <!--
        Todo: Search is a great feature that we will have however we might just hold off doing it for the first
        Todo: release
        -->

        <!--<search></search>-->

        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            <tr role="row" *ngFor="let shipment of shipments.shipments; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
              <!--<td>{{party.name}}</td>-->
              <!--<td>{{party.partyId}}</td>-->
              <!--<td>{{party.createdOn}}</td>-->
              <td class="row-actions">
                <a [routerLink]="['/parties/customers', shipment.shipmentId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" (click)="onDelete();false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
              </td>
            </tr>
            <tr *ngIf="shipments.shipments.length <= 0" class="odd">
              <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
            </tr>
            </tbody>
          </table>
          <paging [page]="shipments.page" (requestPage)="onRequestPage($event)"></paging>
        </div>

      </div>
    </div>
  </div>
</div>
