:root {
  --body-background-color: #F5F5F5;
  --text-color: #000000;
  --font-family: 'Comfortaa', sans-serif;
  --main-background-color: #FFFFFF;
  --button-clr-white: #FFFFFF;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  /*height: 100%;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family, 'Comfortaa');
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
}

.body {
  background: var(--body-background-color, #F5F5F5);
  color: var(--text-color, #000000);
}
