html, body {
  height: 100%;
}

.menu-side {
  height: 100%;
}

.menu-side .layout-w {
  height: 100%;
  width: 100%;
  display: table;
}

.menu-side-compact-w {
  vertical-align: top;
  display: table-cell;
}

/*.content-w {*/
  /*display: table-cell;*/
/*}*/

