/*Michael W Changes*/
.menu-side .layout-w {
  /*height: 100%;*/
  /*width: 100%;*/
  display: flex;
}

body::before {
  background: none !important;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}

body {
  /*display: table;*/
  /*table-layout: fixed;*/
  /*height: 100%;*/
  /*min-height: 100%;*/
  /*border: solid 0px yellow;*/
  /*background-color: #65A8F1;*/
  background-color: #D7BBEA;
}

/*.all-wrapper {*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*border: solid 0px green;*/
  /*display: table;*/
/*}*/

/*.content-box {*/
  /*order: 1;*/
/*}*/

.menu-side .layout-w {
  /*display: flex;*/
  table-layout: auto;
  /*height: 100%;*/
  /*min-height: 100%;*/
}

/*.layout-w {*/
  /*display: table-row;*/
  /*table-layout: fixed;*/
  /*height: 100%;*/
  /*border: solid 1px red;*/
/*}*/

/*.content-panel {*/
  /*order: 1;*/
/*}*/

/*.menu-side-compact-w {*/
  /*display: table-cell;*/
  /*display: flex !important;*/
  /*height: 100%;*/
  /*order: 1;*/
/*}*/

/*.menu-side .content-w {*/
  /*display: flex;*/
  /*height: 100%;*/
/*}*/

.content-w  {
  /*order: 1;*/
  display:block !important;
  height: 100%;
  /*width: 100%;*/
  width: 1510px;
  /*background-size: 100% 100%;*/
  /*border: solid 1px deeppink;*/
}

/*.desktop-menu {*/
  /*display: none;*/
/*}*/

/*.content-i {*/
  /*height: 100%;*/
/*}*/

/*.with-side-panel .content-i {*/
  /*table-layout: auto;*/
/*}*/

/* #1.  Screen size <= 1650px */
@media (max-width: 1650px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
    /*height: 100% !important;*/
  /*}*/

  /*.content-panel {*/
    /*order: 1;*/
  /*}*/

  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .content-w  {
    order: 1;
    width: 1480px;
  }
}

/* #2.  Screen size <= 1550px */
@media (max-width: 1550px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .content-w  {
    order: 1;
    width: 1420px;
  }

  /*.all-wrapper {*/
    /*height: 100%;*/
  /*}*/

}

/* #5.  Screen size <= 1400px */
@media (max-width: 1400px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
  /*display: flex;*/
  /*}*/

  /*.content-panel {*/
  /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
  /*order: 1;*/
  /*}*/

  .content-w  {
    order: 1;
    width: 1270px;
  }
}

/* #3.  Screen size <= 1350px */
@media (max-width: 1350px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/

  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .content-w  {
    order: 1;
    width: 1220px;
  }

  /*.all-wrapper {*/
    /*height: 100%;*/
  /*}*/
}

/* #4.  Screen size between 1100px - 1350px */
/*@media (min-width: 1100px) and (max-width: 1350px) {*/
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
    /*height: 100%;*/
  /*}*/

  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  /*.content-w  {*/
    /*order: 1;*/
    /*width: 1050px;*/
  /*}*/
/*}*/

/* #7.  Screen size <= 1250px */
@media (max-width: 1250px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
  /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
  /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
  /*order: 1;*/
  /*}*/

  .all-wrapper {
    width: 1195px;
  }

  .content-w  {
    order: 1;
    width: 1120px;
  }

}

/* #6.  Screen size <= 1150px */
@media (max-width: 1150px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/

  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .all-wrapper {
    width: 1095px;
  }

  .content-w  {
    order: 1;
    width: 1020px;
  }
}

/* #8.  Tablets and phones  (< 1024px) */
@media (max-width: 1024px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .all-wrapper {
    width: 969px;
  }

  .content-w  {
    order: 1;
    width: 894px;
  }

}

/* #9.  Tablets (768px - 1024px) */
/*@media (min-width: 768px) and (max-width: 1024px) {*/
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  /*.content-w  {*/
    /*order: 1;*/
    /*width: 974px;*/
  /*}*/
/*}*/

/* #10. Phones & Vertical Tablets (<= 768px) */
@media (max-width: 768px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .all-wrapper {
    width: 713px;
  }

  .content-box {
    width: 711px;
  }

  .content-w  {
    order: 1;
    height: 100%;
    width: 693px;
  }
}

/* #11. Phones (< 767px) */
@media (max-width: 767px) {
  /*Michael W. Changes*/

  /*.menu-side .layout-w {*/
    /*display: flex;*/
  /*}*/
  /**/
  /*.content-panel {*/
    /*order: 1;*/
  /*}*/
  /**/
  /*.menu-side-compact-w {*/
    /*order: 1;*/
  /*}*/

  .all-wrapper {
    width: 712px;
  }

  .content-box {
    width: 711px;
  }

  .content-w  {
    order: 1;
    height: 100%;
    width: 711px;
  }
}
