/* 1 START OF AUTHENTICATION */
/* auth box */
.title {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

/* spinner */
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FFFFFF !important;
}

/* container */
.form-container {
  position: relative;
  overflow-x: hidden;
}

.form-sec {
  width: 270px;
  margin: 35px auto 35px;
}

.img-sec {
  width: 414px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: auto;
  background-size: cover;
}

/* or */
.or {
  text-align: center;
  font-size: 13px;
  line-height: 14px;
}

/* modal */
.modal-panel {
  padding: 25px 30px 40px 47px;
  position: relative;
}

.modal__close {
  font-size: 36px;
  line-height: 40px;
  color: #2C4948;
  transform: rotate(-45deg);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.modal__close:focus {
  outline: none;
}

.panel__back {
  border: none;
  background: none;
  /*font-weight: 900;*/
  font-size: 24px;
  /*line-height: 28px;*/
  color: #1CADD7;
}

/* title */
.title--bold {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 !important;
}

/* ending */
.ending {
  margin-top: 24px;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.ending__link {
  color: #24CCEA;
  text-decoration: none;
  display: inline;
}

/* form */
.form {
  width: 270px;
  margin: 0 auto;
}

.form__control {
  display: block;
  width: 100%;
}

.input-label {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 3px;
  margin-left: 6px;
}

.input-field {
  display: block;
  width: 100%;
}

/* END OF AUTHENTICATION */

@media only screen and (max-width: 599px) {
  .form-container {
    position: static;
    overflow-x: hidden;
  }
  .form-sec {
    margin-top: 39px;
    margin-bottom: 62px;
    padding-top: 0;
  }
  .modal-panel {
    padding: 55px 24px 40px;
  }

  .form {
    width: 100%;
    margin: 0 auto;
  }
}
