button[mat-flat-button] {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.01em;
  border-radius: 28px;
  font-size: 18px;
}

button[mat-flat-button].button--primary[disabled] {
  background: #004777;
  opacity: 0.3;
  color: #FFFFFF;
  cursor: not-allowed;
}

button[mat-flat-button].button--primary {
  background: #004777;
}

button[mat-flat-button].button--primary--medium {
  width: 243px;
}

button[mat-flat-button].button--primary--small {
  width: 145px;
}

button[mat-flat-button].button--big {
  width: 100%;
  line-height: 20px;
}

button[mat-flat-button].button--big--google {
  font-weight: normal;
  background: #DB4437;
}

.icon--google {
  margin-right: 14px;
  width: 16px;
  height: 21px;
}

@media only screen and (max-width: 599px) {
  button[mat-flat-button].button--primary--medium {
    width: 270px;
  }
}
