<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
    <a class="mm-logo" href="#" routerLink="/lobby"><img src="images/logo.png"></a>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger" (click)="mobileMenuTrigger()">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>
  <div class="menu-and-user" [@mobileMenuAnimation]="state">
    <div class="logged-user-w">
      <div class="user-tab-div" [class.active]="popUpState === 'show'? true:false" (click)="popUpTrigger()">
        <div class="avatar-w">
          <img alt="" [src]="photo.userImage">
        </div>
        <div class="logged-user-info-w">
          <div class="logged-user-name">
            {{name}}
          </div>
          <div class="logged-user-role">
          </div>
        </div>
        <!-- START OF POP UP -->
        <div class="logged-user-menu">
          <div class="logged-user-avatar-info">
            <div class="avatar-w">
              <img alt="" [src]="photo.userImage">
            </div>
            <div class="logged-user-info-w">
              <div class="logged-user-name">
                {{name}}
              </div>
              <div class="logged-user-role">
              </div>
            </div>
          </div>
          <div class="bg-icon">
            <i class="os-icon os-icon-wallet-loaded"></i>
          </div>
          <ul>
            <li>
              <a ><i class="os-icon os-icon-mail-01"></i><span>Incoming mail</span></a>
            </li>
            <li (click)="mobileMenuTrigger()">
              <a routerLink="/parties/user-profile"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
            </li>
            <li>
              <a routerLink="/billing-details"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
            </li>
            <li>
              <a ><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
            </li>
            <li>
              <a><i class="os-icon os-icon-others-43"></i><span>Session History</span></a>
            </li>
            <li (click)="logOutEvent();false">
              <a ><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
            </li>
          </ul>
        </div>
        <!-- END OF POP UP -->
      </div>
    </div>

    <ul class="main-menu">
      <li class="has-sub-menu">
        <a routerLink="/assets" routerLinkActive="active" (click)="mobileMenuTrigger()">
          <div class="icon-w">
            <i class="os-icon os-icon-delivery-box-2"></i>
          </div>
        </a>
      </li>
      <li class="has-sub-menu">
        <a routerLink="/parties/users/listing" (click)="mobileMenuTrigger()">
          <div class="icon-w">
            <i class="os-icon os-icon-user-male-circle"></i>
          </div>
        </a>
      </li>
      <li class="has-sub-menu">
        <a routerLink="/parties/organizations/listing" routerLinkActive="active" (click)="mobileMenuTrigger()">
          <div class="icon-w">
            <i class="os-icon os-icon-hierarchy-structure-2"></i>
          </div>
        </a>
      </li>
      <li class="has-sub-menu">
        <a routerLink="/depreciation" routerLinkActive="active" (click)="mobileMenuTrigger()">
          <div class="icon-w">
            <i class="os-icon os-icon-graph-down"></i>
          </div>
        </a>
      </li>
      <!--<li class="has-sub-menu">-->
        <!--<a routerLink="/contracts" routerLinkActive="active" (click)="mobileMenuTrigger()">-->
          <!--<div class="icon-w">-->
            <!--<i class="icon-social-dropbox" title="Orders"></i>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="has-sub-menu">-->
        <!--<a routerLink="/shipments" routerLinkActive="active" (click)="mobileMenuTrigger()">-->
          <!--<div class="icon-w">-->
            <!--<i class="os-icon os-icon-ui-92" title="Shipping"></i>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="has-sub-menu">-->
        <!--<a routerLink="/quotes" routerLinkActive="active" (click)="mobileMenuTrigger()">-->
          <!--<div class="icon-w">-->
            <!--<i class="batch-icon-speech-bubble-center-2" title="Receiving"></i>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>

