<div class="content-i asset-container">


  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="siteStreetAddressEditForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
               Street Address Edit Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit site street address.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid street name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="street number">Street Number</label><input class="form-control" formControlName="streetNumber" placeholder="Street number" type="number">
                  <div [hidden]="streetNumber.valid || streetNumber.pristine" class="alert alert-danger">Invalid street number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="street">Street</label><input class="form-control" formControlName="street" required placeholder="Street">
                  <div [hidden]="street.valid || street.pristine" class="alert alert-danger">The street is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="city">City</label><input class="form-control" formControlName="city" required placeholder="City">
                  <div [hidden]="city.valid || city.pristine" class="alert alert-danger">The city is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="city">State or Province</label><input class="form-control" formControlName="stateOrProvince" required placeholder="State or Province">
                  <div [hidden]="stateOrProvince.valid || stateOrProvince.pristine" class="alert alert-danger">The state or province is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="postalCode">Postal Code</label><input class="form-control" formControlName="postalCode" required placeholder="Postal Code">
                  <div [hidden]="postalCode.valid || postalCode.pristine" class="alert alert-danger">The postal code  is required.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="country">Country</label><input class="form-control" formControlName="country" required placeholder="Country">
                  <div [hidden]="country.valid || country.pristine" class="alert alert-danger">The country is required.</div>
                </div>
              </fieldset>
              
              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!siteStreetAddressEditForm.valid" type="submit"> Save</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
