<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="siteWebSiteEditForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                Edit Web Site Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit web site.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="name">Name</label><input class="form-control" formControlName="name" placeholder="Name" required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid web site name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="uniformResourceIdentifer">Uniform Resource Identifer</label><input class="form-control" formControlName="uniformResourceIdentifer" placeholder="Uniform Resource Identifer" required type="text">
                  <div [hidden]="uniformResourceIdentifer.valid || uniformResourceIdentifer.pristine" class="alert alert-danger">Invalid Uniform Resource Identifer.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="description">Description</label><textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!siteWebSiteEditForm.valid" type="submit"> Save</button>
                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
