- purchase_url = 'https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin'
- demo_url = 'http://light.pinsupreme.com/'
- fonts_url = 'https://fonts.googleapis.com/css?family=Rubik:300,400,500'
- google_analytics_id = 'UA-XXXXXXXX-X'
- template_version = '3.5.1'

- unless defined? template_vars
  - template_vars = []


// MENU ITEMS ARRAY
- menu_arr = [[ 'href' => 'index.html', 
              'icon' => 'os-icon os-icon-window-content', 
              'label' => 'Dashboard', 
              'items' => [[ 'href' => 'index.html', 'icon' => '', 'label' => 'Dashboard 1', 'items' => [] ],
                          [ 'href' => 'apps_projects.html', 'icon' => '', 'label' => 'Dashboard 2', 'items' => [] ],
                          [ 'href' => 'layouts_menu_top_image.html', 'icon' => '', 'label' => 'Dashboard 3', 'items' => [] ]]],

            [ 'href' => '#' , 
              'icon' => 'os-icon os-icon-hierarchy-structure-2', 
              'label' => 'Menu Styles', 
              'items' => [[ 'href' => 'layouts_menu_side.html', 'icon' => '', 'label' => 'Side Menu Light', 'items' => [] ],
                          [ 'href' => 'layouts_menu_side_dark.html', 'icon' => '', 'label' => 'Side Menu Dark', 'items' => [] ],
                          [ 'href' => 'apps_pipeline.html', 'icon' => '', 'label' => 'Side &amp; Top Dark <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'apps_projects.html', 'icon' => '', 'label' => 'Side &amp; Top <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'layouts_menu_side_compact.html', 'icon' => '', 'label' => 'Compact Side Menu', 'items' => [] ],
                          [ 'href' => 'layouts_menu_side_compact_dark.html', 'icon' => '', 'label' => 'Compact Menu Dark', 'items' => [] ],
                          [ 'href' => 'layouts_menu_top.html', 'icon' => '', 'label' => 'Top Menu Light', 'items' => [] ],
                          [ 'href' => 'layouts_menu_top_dark.html', 'icon' => '', 'label' => 'Top Menu Dark', 'items' => [] ],
                          [ 'href' => 'layouts_menu_top_image.html', 'icon' => '', 'label' => 'Top Menu Image', 'items' => [] ] ]],

            [ 'href' => '#', 
              'icon' => 'os-icon os-icon-delivery-box-2', 
              'label' => 'Applications', 
              'items' => [[ 'href' => 'apps_email.html', 'icon' => '', 'label' => 'Email Application', 'items' => [] ],
                          [ 'href' => 'apps_projects.html', 'icon' => '', 'label' => 'Projects List', 'items' => [] ],
                          [ 'href' => 'apps_full_chat.html', 'icon' => '', 'label' => 'Chat Application', 'items' => [] ],
                          [ 'href' => 'apps_todo.html', 'icon' => '', 'label' => 'To Do Application <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'misc_chat.html', 'icon' => '', 'label' => 'Popup Chat', 'items' => [] ],
                          [ 'href' => 'apps_pipeline.html', 'icon' => '', 'label' => 'CRM Pipeline <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'rentals_index_grid.html', 'icon' => '', 'label' => 'Property Listing <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'misc_calendar.html', 'icon' => '', 'label' => 'Calendar', 'items' => [] ]]],

            [ 'href' => '#', 
              'icon' => 'os-icon os-icon-newspaper', 
              'label' => 'Pages', 
              'items' => [[ 'href' => 'misc_invoice.html', 'icon' => '', 'label' => 'Invoice', 'items' => [] ],
                          [ 'href' => 'rentals_index_grid.html', 'icon' => '', 'label' => 'Property Listing <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'misc_charts.html', 'icon' => '', 'label' => 'Charts', 'items' => [] ],
                          [ 'href' => 'front_home.html', 'icon' => '', 'label' => 'Front Site <strong class="badge badge-danger">New</strong>', 'items' => [] ],
                          [ 'href' => 'auth_login.html', 'icon' => '', 'label' => 'Login', 'items' => [] ],
                          [ 'href' => 'auth_register.html', 'icon' => '', 'label' => 'Register', 'items' => [] ],
                          [ 'href' => 'auth_lock.html', 'icon' => '', 'label' => 'Lock Screen', 'items' => [] ],
                          [ 'href' => 'misc_pricing_plans.html', 'icon' => '', 'label' => 'Pricing Plans', 'items' => [] ],
                          [ 'href' => 'misc_error_404.html', 'icon' => '', 'label' => 'Error 404', 'items' => [] ],
                          [ 'href' => 'misc_error_500.html', 'icon' => '', 'label' => 'Error 500', 'items' => [ ] ] ]],

            [ 'href' => '#' , 
              'icon' => 'os-icon os-icon-pencil-12', 
              'label' => 'UI Kit', 
              'items' => [[ 'href' => 'uikit_modals.html', 'icon' => '', 'label' => 'Modals', 'items' => [] ],
                          [ 'href' => 'uikit_alerts.html', 'icon' => '', 'label' => 'Alerts', 'items' => [] ],
                          [ 'href' => 'uikit_grid.html', 'icon' => '', 'label' => 'Grid', 'items' => [] ],
                          [ 'href' => 'uikit_progress.html', 'icon' => '', 'label' => 'Progress', 'items' => [] ],
                          [ 'href' => 'uikit_popovers.html', 'icon' => '', 'label' => 'Popover', 'items' => [] ],
                          [ 'href' => 'uikit_tooltips.html', 'icon' => '', 'label' => 'Tooltips', 'items' => [] ],
                          [ 'href' => 'uikit_buttons.html', 'icon' => '', 'label' => 'Buttons', 'items' => [] ],
                          [ 'href' => 'uikit_dropdowns.html', 'icon' => '', 'label' => 'Dropdowns', 'items' => [] ],
                          [ 'href' => 'uikit_typography.html', 'icon' => '', 'label' => 'Typography', 'items' => [] ]]],

            [ 'href' => '#' , 
              'icon' => 'os-icon os-icon-user-male-circle', 
              'label' => 'Users', 
              'items' => [[ 'href' => 'users_profile_big.html', 'icon' => '', 'label' => 'Big Profile', 'items' => [] ],
                          [ 'href' => 'users_profile_small.html', 'icon' => '', 'label' => 'Compact Profile', 'items' => [] ]]],

            [ 'href' => '#', 
              'icon' => 'os-icon os-icon-tasks-checked', 
              'label' => 'Forms', 
              'items' => [[ 'href' => 'forms_regular.html', 'icon' => '', 'label' => 'Regular Forms', 'items' => [] ],
                          [ 'href' => 'forms_validation.html', 'icon' => '', 'label' => 'Form Validation', 'items' => [] ],
                          [ 'href' => 'forms_wizard.html', 'icon' => '', 'label' => 'Form Wizard', 'items' => [] ],
                          [ 'href' => 'forms_uploads.html', 'icon' => '', 'label' => 'File Uploads', 'items' => [] ],
                          [ 'href' => 'forms_wisiwig.html', 'icon' => '', 'label' => 'Wisiwig Editor', 'items' => [ ] ] ]],
            
            [ 'href' => '#' , 
              'icon' => 'os-icon os-icon-grid-squares', 
              'label' => 'Tables', 
              'items' => [[ 'href' => 'tables_regular.html', 'icon' => '', 'label' => 'Regular Tables', 'items' => [] ],
                          [ 'href' => 'tables_datatables.html', 'icon' => '', 'label' => 'Data Tables', 'items' => [] ],
                          [ 'href' => 'tables_editable.html', 'icon' => '', 'label' => 'Editable Tables', 'items' => [ ] ] ]],

            [ 'href' => '#' , 
              'icon' => 'os-icon os-icon-robot-1', 
              'label' => 'Icons', 
              'items' => [[ 'href' => 'icon_fonts_simple_line_icons.html',    'icon' => '', 'label' => 'Simple Line Icons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_themefy.html',              'icon' => '', 'label' => 'Themefy Icons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_picons_thin.html',          'icon' => '', 'label' => 'Picons Thin', 'items' => [] ],
                          [ 'href' => 'icon_fonts_dripicons.html',            'icon' => '', 'label' => 'Dripicons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_eightyshades.html',         'icon' => '', 'label' => 'Eightyshades', 'items' => [] ],
                          [ 'href' => 'icon_fonts_entypo.html',               'icon' => '', 'label' => 'Entypo', 'items' => [] ],
                          [ 'href' => 'icon_fonts_font_awesome.html',         'icon' => '', 'label' => 'Font Awesome', 'items' => [] ],
                          [ 'href' => 'icon_fonts_foundation_icon_font.html', 'icon' => '', 'label' => 'Foundation Icon Font', 'items' => [] ],
                          [ 'href' => 'icon_fonts_metrize_icons.html',        'icon' => '', 'label' => 'Metrize Icons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_picons_social.html',        'icon' => '', 'label' => 'Picons Social', 'items' => [] ],
                          [ 'href' => 'icon_fonts_batch_icons.html',          'icon' => '', 'label' => 'Batch Icons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_dashicons.html',            'icon' => '', 'label' => 'Dashicons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_typicons.html',             'icon' => '', 'label' => 'Typicons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_weather_icons.html',        'icon' => '', 'label' => 'Weather Icons', 'items' => [] ],
                          [ 'href' => 'icon_fonts_light_admin.html',          'icon' => '', 'label' => 'Light Admin', 'items' => [] ] ]] ]