<!--<div class="content-i asset-container">-->

<!--  <access-role-top-menu></access-role-top-menu>-->

<!--  <div class="content-box">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12">-->
<!--        <div class="element-wrapper">-->
<!--          <div class="element-box">-->
<!--            <form [formGroup]="accessRoleForm" id="formValidate">-->
<!--              <h5 class="form-header">-->
<!--                {{accessRoleExist ? "Edit":"New"}} Access Role Form-->
<!--              </h5>-->

<!--              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{accessRoleExist ? "update":"create"}} access role.</div>-->

<!--              <div class="form-group">-->
<!--                <label for="name">Name</label><input id="name" class="form-control" formControlName="name" placeholder="Name" required="required" type="text">-->
<!--                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>-->
<!--              </div>-->

<!--              &lt;!&ndash;<div class="form-group" [class]="(accessRoleTypeId.valid) ? 'ng2-completer-valid':'ng2-completer-invalid'">&ndash;&gt;-->
<!--                &lt;!&ndash;<label for="access-role-type">Access Role Type</label>&ndash;&gt;-->
<!--                &lt;!&ndash;<ng2-completer [datasource]="accessRoleTypeDataService"&ndash;&gt;-->
<!--                               &lt;!&ndash;[inputClass]="'form-control form-control-inline'"&ndash;&gt;-->
<!--                               &lt;!&ndash;[minSearchLength]="0"&ndash;&gt;-->
<!--                               &lt;!&ndash;[maxChars]="4"&ndash;&gt;-->
<!--                               &lt;!&ndash;[inputClass]="'form-control'"&ndash;&gt;-->
<!--                               &lt;!&ndash;[placeholder]="'Select An Access Role Type'"&ndash;&gt;-->
<!--                               &lt;!&ndash;[matchClass]="'match'"&ndash;&gt;-->
<!--                               &lt;!&ndash;formControlName="accessRoleTypeId"&ndash;&gt;-->
<!--                               &lt;!&ndash;[autofocus]="true"&ndash;&gt;-->
<!--                               &lt;!&ndash;[clearUnselected]="true"&ndash;&gt;-->
<!--                               &lt;!&ndash;[fillHighlighted]="false"&ndash;&gt;-->
<!--                               &lt;!&ndash;[openOnClick]="true"&ndash;&gt;-->
<!--                               &lt;!&ndash;[textSearching]="false"&ndash;&gt;-->
<!--                               &lt;!&ndash;(selected)="onAccessRoleTypeSelect($event)"&ndash;&gt;-->
<!--                               &lt;!&ndash;id="access-role-type"&ndash;&gt;-->
<!--                               &lt;!&ndash;required>&ndash;&gt;-->
<!--                &lt;!&ndash;</ng2-completer>&ndash;&gt;-->
<!--                &lt;!&ndash;<div [hidden]="accessRoleTypeId.valid || accessRoleTypeId.pristine" class="alert alert-danger">Select an access role type.</div>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->

<!--              <div class="form-check">-->
<!--                <label for="prohibition-indicator" class="form-check-label"><input id="prohibition-indicator" class="form-check-input" formControlName="prohibitionIndicator" type="checkbox">Prohibition Indicator</label>-->
<!--              </div>-->

<!--              <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                  <div class="form-group">-->
<!--                    <label for="effective-date"> Effective Date</label>-->
<!--                    <div class="date-input">-->
<!--                      <input id="effective-date" class="form-control" formControlName="effectiveDate" type="date" required>-->
<!--                    </div>-->
<!--                    <div [hidden]="effectiveDate.valid || effectiveDate.pristine" class="alert alert-danger">Invalid effective date.</div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-sm-6">-->
<!--                  <div class="form-group">-->
<!--                    <label for="until-date">Until Date</label>-->
<!--                    <div class="date-input">-->
<!--                      <input id="until-date" class="form-control"  formControlName="untilDate" type="date" required>-->
<!--                    </div>-->
<!--                    <div [hidden]="untilDate.valid || untilDate.pristine" class="alert alert-danger">Invalid until date.</div>-->

<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--                &lt;!&ndash; start of  assigned Resources & Permissions &ndash;&gt;-->
<!--              <h6 class="text-center">-->
<!--                Resources-->
<!--              </h6>-->
<!--              <div class="table-responsive table-section">-->
<!--                <table class="table table-striped table-lightfont table-full-width">-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th>name</th>-->
<!--                    <th>Type</th>-->
<!--                    <th>Permissions</th>-->
<!--                  </tr>-->
<!--                  </thead>-->
<!--                  <tfoot>-->
<!--                  <tr>-->
<!--                    <th>name</th>-->
<!--                    <th>Type</th>-->
<!--                    <th>Permissions</th>-->
<!--                  </tr>-->
<!--                  </tfoot>-->
<!--                  <tbody>-->
<!--                  <tr role="row" *ngFor="let resource of resources.resources; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">-->
<!--                    <td>{{resource.name}}</td>-->
<!--                    <td>{{resource.resourceType?.name}}</td>-->
<!--                    <td>-->
<!--                      <ul id="resourceMenu">-->
<!--                        <li *ngFor="let resourcePermission of resource.resourcePermissions">-->
<!--                          <label class="form-check-label"><input class="form-check-input" type="checkbox" (change)="onPermissionsChange($event,resourcePermission.resourcePermissionId)" [checked]="isChecked(resourcePermission.resourcePermissionId)">{{resourcePermission.permission?.name}}</label>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr *ngIf="resources.resources.length <= 0" class="odd">-->
<!--                    <td valign="top" align="" colspan="7" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--                <paging [page]="resources.page" (requestPage)="onRequestPage($event)"></paging>-->
<!--              </div>-->
<!--              &lt;!&ndash; end of Assigned Resources & Permissions&ndash;&gt;-->

<!--              <div class="form-group">-->
<!--                <label for="description">Description</label><input id="description" class="form-control" formControlName="description" placeholder="Description" type="text">-->
<!--                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>-->
<!--              </div>-->

<!--              <div class="form-buttons-w">-->
<!--                <button class="btn btn-primary" [disabled]="!accessRoleForm.valid" type="submit" (click)="accessRoleExist ? onUpdate() : onCreate()">{{accessRoleExist ? "Update":"Create"}}</button>-->
<!--                <button class="btn btn-outline-danger right-button" type="cancel" (click)="cancel()">Cancel</button>-->
<!--              </div>-->

<!--            </form>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
