.controls-below-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.81rem;
}

.controls-below-table .table-records-info {
  color: rgba(0, 0, 0, 0.5);
}

.controls-below-table .table-records-pages ul {
  list-style: none;
}

.controls-below-table .table-records-pages ul li {
  display: inline-block;
  margin: 0px 10px;
}

.controls-below-table .table-records-pages ul li a.current {
  color: #3E4B5B;
}


/*
  Troumaca overrides etc.
*/

.paging-section {
  margin-top: 30px;
}