<div *ngIf="pagingDisplayOn" class="controls-below-table paging-section">
  <div class="table-records-info">
    Showing records {{recordsStart}} - {{recordsEnd}}
  </div>
  <div class="table-records-pages">
    <ul>
      <li>
        <a *ngIf="hasPreviousPage" (click)="onPreviousPage();false" href="#">Previous</a>
      </li>
      <li *ngFor="let p of pages;">
        <a [ngClass]="{'current':isCurrent(p)}" (click)="onRequestPage(p);false" href="#">{{p}}</a>
      </li>
      <li>
        <a *ngIf="hasNextPage" (click)="onNextPage();false" href="#">Next</a>
      </li>
    </ul>
  </div>
</div>