.assets {

  padding: 0 224px 10px 115px;
  height: 100%;
  max-width: calc(1440px - 216px);
}

.input-menu {
  padding-top: 51px ;
}

.search-form {
  margin-left: 58px;
}
.status__figure {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #2C4948;
  opacity: 0.2;
}

.status__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.5;
}

.white-button-div {
  margin-left: 5px;
}

/* no-assets
 */

.no-assets {
  padding-top: 20px;
}

.no-assets-img {
  width: 125px;
  height: 179px;
  background: url("../css/images/new-asset.svg");
}

.no-assets-p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.7;
}

.button--primary--new-asset {
  width: 234px;
  height: 51px;
  border: 1px solid #EFEFF8;
  border-radius: 28px;
}


/* LEFT MODAL */

::ng-deep .backdrop {
  background: #0A1733;
  opacity: 0.5 !important;
}

::ng-deep .left-panel > .mat-dialog-container {
  background: #F5F5F5;
  border: 1px solid #EFEFF8;
  border-radius: 0;
  padding: 0;
}



