<div class="content-w">
  <top-menu menuName="assets-menu"></top-menu>
  <div class="content-i asset-container">

    <div class="content-box">

      <div class="element-wrapper">
        <h6 class="element-header">
          Assets Listing
        </h6>
        <div class="element-box">

          <search></search>

          <div class="table-responsive">
            <!--<table id="dataTable1" width="100%" class="table table-striped table-lightfont">-->
            <table width="100%" class="table table-striped table-lightfont">
              <thead>
              <tr>
                <th *ngFor="let headerName of headerNames">{{headerName}}</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th *ngFor="let headerName of headerNames">{{headerName}}</th>
              </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let dataValue of dataValues">
                  <td>{{dataValue.classification}}</td>
                  <td>{{dataValue.name}}</td>
                  <td>{{dataValue.description}}</td>
                </tr>
                <tr *ngIf="dataValues.length <= 0" class="odd">
                  <td valign="top" align="" colspan="6" class="dataTables_empty no-table-data-td">No data available in table</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
