.assets {
  padding: 0 224px 0 115px;
  height: 100%;
  width: 100%;
  max-width: calc(1440px - 216px);
}

/* LEFT MODAL */
::ng-deep .backdrop {
  background: #0A1733;
  opacity: 0.5 !important;
}

::ng-deep .left-panel > .mat-dialog-container {
  background: #F5F5F5;
  border: 1px solid #EFEFF8;
  border-radius: 0;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .assets {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px){
  .assets {
    padding-right: 62px;
    padding-left: 80px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 959px) {
  .assets {
    padding-right: 12px;
    padding-left: 14px;
  }
}
