.assets {
  /*padding: 0 224px 0 115px;*/
  margin-left: 115px;
  height: 100%;
  width: 100%;
  max-width: 885px;
}

/* LEFT MODAL */
::ng-deep .backdrop {
  background: #0A1733;
  opacity: 0.5 !important;
}

::ng-deep .left-panel > .mat-dialog-container {
  background: #F5F5F5;
  border: 1px solid #EFEFF8;
  border-radius: 0;
  width: 423px;
  padding: 0;
}

::ng-deep .fc-ellipse-v-icon {
  font-size: 13px;
  color: #919F9F;
}

@media only screen and (max-width: 599px) {
  .assets {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  ::ng-deep .left-panel > .mat-dialog-container {
    width: 100vw;
  }

  ::ng-deep .right-panel > .mat-dialog-container {
    width: 100vw;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px){
  .assets {
    margin: 0 auto;
    padding: 15px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 959px) {
  .assets {
    margin: 0 auto;
    padding: 15px;
  }
}
