<div class="modal-panel">
  <div fxLayoutAlign="space-between">
    <div fxFlexAlign="center" fxLayout="row no-wrap" fxLayoutGap="13px">
      <button class="panel__back" (click)="onPrevious.emit(data['accountType'])" fxFlexAlign="center"><fa-icon [icon]="faArrowLeft" ></fa-icon></button>
      <h2 mat-dialog-title class="title title--bold" fxFlexAlign="center">Sign Up</h2>
    </div>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       class="content">
    <button class="button button--big button--big--google"><fa-icon [icon]="faGoogle" class="icon--google"></fa-icon>Sign Up with Google</button>
    <div class="or">or use</div>
    <div fxLayout="row no-wrap" fxLayoutAlign="space-between">
      <button class="button button--username" (click)="onSelect('email')" [class.selected]="selectedType === 'email'"><fa-icon [icon]="faEnvelope" class="username__icon"></fa-icon>Email</button>
      <button class="button button--username" (click)="onSelect('mobile')" [class.selected]="selectedType === 'mobile'"><fa-icon [icon]="faMobileAlt" class="username__icon"></fa-icon>Mobile</button>
    </div>
  </div>
</div>
