- content_box_file = '../users/_content_profile_small.slim'
- content_panel_file = '../_partials/_content_panel_2.slim'
- menu_file = '../_partials/_menu_side_compact.slim'

include ../_partials/_template.slim