<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">

    <div class="element-wrapper">
      <h6 class="element-header">
        Street Address Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right"  href="#" [routerLink]="routerLinkCreateStreetAddress" >New</a></object>
      </h6>
      <div class="element-box">

    <!--    <search></search> -->


        <div class="table-responsive table-section">
          <table class="table table-striped table-lightfont table-full-width">
            <thead>
            <tr>
              <th>Name</th>
              <th>Suite Or Apartment</th>
              <th>floor</th>
              <th>Suite Or Apartment Number</th>
              <th>Street Number</th>
              <th>Street</th>
              <th>City</th>
              <th>State or Province</th>
              <th>Postal Code</th>
              <th>Country</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Suite Or Apartment</th>
              <th>floor</th>
              <th>Suite Or Apartment Number</th>
              <th>Street Number</th>
              <th>Street</th>
              <th>City</th>
              <th>State or Province</th>
              <th>Postal Code</th>
              <th>Country</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            <tr role="row" *ngFor="let streetAddress of streetAddresses.streetAddresses; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
              <td>{{streetAddress.name}}</td>
              <td>{{streetAddress.suiteOrApartment}}</td>
              <td>{{streetAddress.floor}}</td>
              <td>{{streetAddress.suiteOrApartmentNumber}}</td>
              <td>{{streetAddress.streetNumber}}</td>
              <td>{{streetAddress.street}}</td>
              <td>{{streetAddress.city}}</td>
              <td>{{streetAddress.stateOrProvince}}</td>
              <td>{{streetAddress.postalCode}}</td>
              <td>{{streetAddress.country}}</td>
              <td>{{streetAddress.description}}</td>
              <td class="row-actions">
                <a [routerLink]="['/sites/street-addresses', streetAddress.siteId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(streetAddress.siteId, streetAddress.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
              </td>
            </tr>
            <tr *ngIf="streetAddresses.streetAddresses.length <= 0" class="odd">
              <td valign="top" align="" colspan="12" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
            </tr>
            </tbody>
          </table>
          <app-delete-modal [name]="streetAddressName" (delete)="onDelete($event)"></app-delete-modal>
          <paging [page]="streetAddresses.page" (requestPage)="onRequestPage($event)"></paging>
        </div>

      </div>
    </div>
  </div>
</div>
