<!--<div>-->
<!--  &lt;!&ndash;<table>&ndash;&gt;-->
<!--    &lt;!&ndash;<caption>People</caption>&ndash;&gt;-->
<!--    &lt;!&ndash;<thead>&ndash;&gt;-->
<!--      &lt;!&ndash;<tr>&ndash;&gt;-->
<!--        &lt;!&ndash;<th>First Name</th>&ndash;&gt;-->
<!--        &lt;!&ndash;<th>Middle Name</th>&ndash;&gt;-->
<!--        &lt;!&ndash;<th>Last Name</th>&ndash;&gt;-->
<!--        &lt;!&ndash;<th>D of B</th>&ndash;&gt;-->
<!--      &lt;!&ndash;</tr>&ndash;&gt;-->
<!--    &lt;!&ndash;</thead>&ndash;&gt;-->
<!--    &lt;!&ndash;<tbody>&ndash;&gt;-->
<!--    &lt;!&ndash;<tr *ngFor="let person of persons">&ndash;&gt;-->
<!--      &lt;!&ndash;<td>{{person.firstName}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;<td>{{person.middleName}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;<td>{{person.lastName}}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;<td>{{person.dateOfBirth | date}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;</tr>&ndash;&gt;-->
<!--    &lt;!&ndash;</tbody>&ndash;&gt;-->
<!--  &lt;!&ndash;</table>&ndash;&gt;-->
<!--</div>-->
