<div class="content-i asset-container">

  <access-role-top-menu></access-role-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="resourceForm" id="formValidate">
              <h5 class="form-header">
                {{resourceExist ? "Edit":"New"}} Resource Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to {{resourceExist ? "Update":"Create"}} Resource.</div>

              <div class="form-group">
                <label for="name">Name</label><input id="name" class="form-control" formControlName="name" placeholder=" Enter Name" required="required" type="text">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name.</div>
              </div>

              <!--<div class="form-group" [class]="(resourceTypeId.valid) ? 'ng2-completer-valid':'ng2-completer-invalid'">-->
                <!--<label for="resource-type">Resource Type</label>-->
                <!--<ng2-completer [datasource]="resourceTypeIdDataService"-->
                               <!--[inputClass]="'form-control form-control-inline'"-->
                               <!--[minSearchLength]="0"-->
                               <!--[maxChars]="4"-->
                               <!--[inputClass]="'form-control'"-->
                               <!--[placeholder]="'Select a Resource Type'"-->
                               <!--[matchClass]="'match'"-->
                               <!--formControlName="resourceTypeId"-->
                               <!--[autofocus]="true"-->
                               <!--[clearUnselected]="true"-->
                               <!--[fillHighlighted]="false"-->
                               <!--[openOnClick]="true"-->
                               <!--[textSearching]="false"-->
                               <!--(selected)="onResourceTypeIdSelect($event)"-->
                               <!--id="resource-type"-->
                               <!--required>-->
                <!--</ng2-completer>-->
                <!--<div [hidden]="resourceTypeId.valid || resourceTypeId.pristine" class="alert alert-danger">Select a Resource Type.</div>-->
              <!--</div>-->

              <!-- start of permissions -->
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="text-center">
                    Available Permissions
                  </h6>
                  <div class="table-responsive table-section">
                    <table class="table table-striped table-lightfont table-full-width">
                      <thead>
                      <tr>
                        <th>name</th>
                        <th>description</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                        <th>name</th>
                        <th>description</th>
                      </tr>
                      </tfoot>
                      <tbody>
                      <tr  class="clickable-tr" role="row" *ngFor="let permission of permissions.permissions; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven" (dblclick)="onPermissionDoubleClick(permission.permissionId)">
                        <td>{{permission.name}}</td>
                        <td>{{permission.description}}</td>
                      </tr>
                      <tr *ngIf="permissions.permissions.length <= 0" class="odd">
                        <td valign="top" align="" colspan="7" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
                      </tr>
                      </tbody>
                    </table>
                    <paging [page]="permissions.page" (requestPage)="onRequestPage($event)"></paging>
                  </div>
                </div>
                <!-- end of permissions -->

                <!-- start of  resource permissions -->
                <div class="col-sm-6">
                  <h6 class="text-center">
                    Assigned Permissions
                  </h6>
                  <div class="table-responsive table-section">
                    <table class="table table-striped table-lightfont table-full-width">
                      <thead>
                      <tr>
                        <th>name</th>
                        <th>description</th>
                      </tr>
                      </thead>
                      <tfoot>
                      <tr>
                        <th>name</th>
                        <th>description</th>
                      </tr>
                      </tfoot>
                      <tbody>
                      <tr class="clickable-tr" role="row" *ngFor="let permission of assignablePermissions.permissions; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven"(dblclick)="onResourceDoubleClick(permission.permissionId)" >
                        <td>{{permission.name}}</td>
                        <td>{{permission.description}}</td>
                      </tr>
                      <tr *ngIf="assignablePermissions.permissions.length <= 0" class="odd">
                        <td valign="top" align="" colspan="7" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
                      </tr>
                      </tbody>
                    </table>
                    <paging [page]="assignablePermissions.page" (requestPage)="onAssignedRequestPage($event)"></paging>
                  </div>
                </div>
              </div>
              <!-- end of permissions -->

              <div class="form-group">
                <label for="description">Description</label><input id="description" class="form-control" formControlName="description" placeholder="Description" type="text">
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Invalid description.</div>
              </div>

              <div class="form-buttons-w">
                <button class="btn btn-primary" [disabled]="!resourceForm.valid" type="submit" (click)="resourceExist ? onUpdate() : onCreate()">{{ resourceExist ? "Update":"Create"}}</button>
                <button class="btn btn-outline-danger right-button" type="cancel" (click)="cancel()">Cancel</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
