- content_box_file = '../misc/_content_pricing_plans.slim'
- menu_file = '../_partials/_menu_side.slim'
- no_padding = true
- menu_dark = true
- white_bg = true
- no_breadcrumbs = true

include ../_partials/_template.slim