<div class="content-i">

  <!-- <asset-top-menu></asset-top-menu> -->

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="userEditForm" (ngSubmit)="onCreate()" id="formValidate">
              <h5 class="form-header">
                Edit User Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to edit new user.</div>
              <div [hidden]="doNotDisplayFailureMessage2" class="alert alert-danger">Failed to edit new user credential.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="First Name">First Name</label><input class="form-control" formControlName="firstName" placeholder="Enter First Name" required="required" type="text">
                  <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Invalid First Name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Middle Name">Middle Name</label><input class="form-control" formControlName="middleName" placeholder="Enter Middle Name" required="required" type="text">
                  <div [hidden]="middleName.valid || middleName.pristine" class="alert alert-danger">Invalid Middle Name.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Last Name">Last Name</label><input class="form-control" formControlName="lastName" placeholder="Enter Last Name" required="required" type="text">
                  <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Invalid Last Name.</div>
                </div>
              </fieldset>

              <!--<fieldset class="form-group">-->
                <!--<div class="form-group">-->
                  <!--<label for="Username">Username</label><input class="form-control" formControlName="username" placeholder="Enter Email or Phone Number" required="required" type="text">-->
                  <!--<div [hidden]="username.valid || username.pristine" class="alert alert-danger">Invalid Email or Phone Number.</div>-->
                <!--</div>-->
              <!--</fieldset>-->

              <fieldset class="form-group">
                <div class="form-group" [class]="(accessRole.valid) ? 'select2-valid':'select2-invalid'">
                  <label for="Enter Access Role">Access Role</label>
                  <select2 [data]="accessRoleData"
                           [options]="options"
                           [value]="value"
                           (valueChanged)="changed($event)"
                  ></select2>
                  <div [hidden]="accessRole.valid || accessRole.pristine" class="alert alert-danger">Select Access Roles from the dropdown.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!userEditForm.valid" type="submit"> Update</button>
                <button class="btn btn-outline-danger" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
