:root {
  --body-background-color: #E5E5E5;;
  --text-color: #000000;
  --font-family: 'Comfortaa', cursive;
}

/* BODY */
body {
  background: var(--body-background-color, #F5F5F5);
  color: var(--text-color, #000000);
}
/* STYLE INHERITANCE */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family, 'Comfortaa') !important;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
}

/* set all elements to inherit box sizing */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  font-family: 'Comfortaa', cursive;
  width: 100%;
  border: 1px solid #EFEFF8;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 19px;
  font-size: 13px;
  line-height: 14px;
  outline: none;
}

input:focus {
  border: 0.75px solid #004777;
}


.fc-error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.01em;
  color: #F54430;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.fc-error__icon {
  margin-right: 7px;
}

/* BUTTON */
.button {
  font-family: 'Comfortaa', cursive;
  height: 51px;
  border: 1px solid #EFEFF8;
  border-radius: 28px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  /*outline: none;*/
}

.button--primary {
  background: #004777;
}

.button--primary[disabled] {
  background: #004777;
  opacity: 0.3;
  cursor: not-allowed;
}
/* SPINNER */
.spinner {
  animation: rotate 2s linear infinite;
  width: 20px;
  height: 20px;
}

.spinner .path {
  stroke: #FFFFFF;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

