<div class="content-i asset-container">

  <site-top-menu></site-top-menu>

  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="siteStreetAddressForm" (ngSubmit)="onCreate()">
              <h5 class="form-header">
                New Street Address Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to create site street address.</div>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="street number">Street Number</label><input class="form-control" formControlName="streetNumber" placeholder="Street number" type="number">
                  <div [hidden]="streetNumber.valid || streetNumber.pristine" class="alert alert-danger">Invalid street number.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="street">Street</label><input class="form-control" formControlName="street" required placeholder="Street">
                  <div [hidden]="street.valid || street.pristine" class="alert alert-danger">The street is required.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!siteStreetAddressForm.valid" type="submit"> Create</button>
                <button class="btn btn-white" type="cancel" (click)="cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
