<!--<div class="auth-wrapper">-->
  <!--<div class="all-wrapper menu-side with-pattern">-->
    <div class="auth-box-w">
      <div class="logo-w">
        <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
      </div>
      <h4 class="auth-header">
        Email Verification
      </h4>

        <form>
          <h6 id="heading-message">
         {{message}}
          </h6>
          <div *ngIf="newUser">
            <p>Thank you for signing up to Troumaca!<br />
             An e-mail Confirmation link has been sent to your email address.<br />
             In that e-mail is a link.<br />
             Please click on that link to verify your account.
            </p>

             <p>
             The e-mail may have ended up in your junk mail or spam folder.<br />
             Please check there if you don’t see it in your inbox<br />
             </p>

             <div *ngIf="emailMessageSuccess" class="alert alert-success">
               <strong>Success!</strong> Please check your e-mail for verification link.<br />
               If you don't see the e-mail in 5 minutes, Please try again.
             </div>

             <div *ngIf="emailMessageFailure" class="alert alert-danger">
               <strong>Error!</strong> Sorry this session has expired.<br />
               Please check your email for a new one.
             </div>

            <div *ngIf="sendConfirmationCodeConfirmed" class="alert alert-info">
              <strong>Confirmed!</strong> This account is confirmed.
              Please login.
            </div>

             <div class="alert alert-info">
               <a href="#" (click)="sendConfirmationCode();false"><strong>Click here!</strong> If you didn't get the email within 5 minutes.</a>
             </div>
             <div class="alert alert-info">
             <a routerLink="/authentication/register"><strong>Click here!</strong> to Change E-mail</a>
            </div>
          </div>

          <div *ngIf="verifiedPass">
            <p>Your email has been confirmed. <br />
               We really appreciate your time and doing business with you.<br />
               You will now be redirected to the login.<br />
               If redirect failed.
            </p>
            <div class="alert alert-success">
               <a routerLink="/authentication/login"><strong>Click here!</strong></a>
            </div>
          </div>

          <div *ngIf="verifiedFailed">
            <p>Verification has Failed.</p>

            <div class="alert alert-danger">
              <strong>Error!</strong> Sorry this session has expired.<br />
              <a href="#" (click)="sendConfirmationCode();false">Click here!</a> for a new one.
            </div>

            <div class="alert alert-info">
              <a routerLink="/authentication/login"><strong>Click here!</strong> to login</a>
            </div>

            <div class="alert alert-info">
              <a routerLink="/authentication/register"><strong>Click here!</strong> to Change E-mail</a>
            </div>
          </div>

          <div *ngIf="sendConfirmationCodeConfirmed" class="alert alert-info">
            <strong>Confirmed!</strong> This account is confirmed.
            Please login.
          </div>

        </form>
    </div>
  <!--</div>-->
<!--</div>-->
