<div class="element-wrapper">
  <h6 class="element-header">
    Characteristics Listing <object align="right" style="align:right;"><a class="btn btn-sm btn-primary pull-right"  href="#" [routerLink]="newRoute" >New</a></object>
  </h6>
  <div class="element-box">

    <div class="table-responsive table-section">
      <table class="table table-striped table-lightfont table-full-width">
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Unit Of Measure</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default Value</th>
          <th>Unit Of Measure</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
        </tfoot>
        <tbody>
        <tr role="row" *ngFor="let assetCharacteristic of assetCharacteristics.assetCharacteristics; let index = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
          <td>{{assetCharacteristic.name}}</td>
          <th>{{assetCharacteristic.type?.name}}</th>
          <th>{{assetCharacteristic.defaultValue}}</th>
          <th>{{assetCharacteristic.unitOfMeasure?.name}}</th>
          <td>{{assetCharacteristic.description}}</td>
          <td class="row-actions">
            <a [routerLink]="['/assetCharacteristics', assetCharacteristic.assetCharacteristicId, 'edit']" href="#"><i class="os-icon os-icon-ui-49"></i></a><a class="danger" data-target="#DeleteModal1" data-toggle="modal" (click)="onOpenModal(assetCharacteristic.assetCharacteristicId, assetCharacteristic.name);false;" href="#"><i class="os-icon os-icon-ui-15"></i></a>
          </td>
        </tr>
        <tr *ngIf="assetCharacteristics.assetCharacteristics.length <= 0" class="odd">
          <td valign="top" align="" colspan="9" class="dataTables_empty no-table-data-td no-data-center">No data available in table</td>
        </tr>
        </tbody>
      </table>
      <app-delete-modal [name]="assetCharacteristicName" (delete)="onDelete($event)"></app-delete-modal>
      <paging [page]="assetCharacteristics.page" (requestPage)="onRequestPage($event)"></paging>
    </div>

  </div>
</div>
