<div class="content-i">

  <!-- <asset-top-menu></asset-top-menu> -->


  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <form [formGroup]="organizationForm" (ngSubmit)="onCreate()" id="formValidate">
              <h5 class="form-header">
                New Organization Form
              </h5>

              <div [hidden]="doNotDisplayFailureMessage" class="alert alert-danger">Failed to create new organization.</div>
              <!--<div [hidden]="doNotDisplayFailureMessage2" class="alert alert-danger">Failed to create new organization credential.</div> -->

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Organization Purpose">Organization Purpose</label><input class="form-control" formControlName="purpose" placeholder="Enter Organization Purpose" required="required" type="text">
                  <div [hidden]="purpose.valid || purpose.pristine" class="alert alert-danger">Please Enter Organization Purpose.</div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="form-group">
                  <label for="Organization Name">Organization Name</label><input class="form-control" formControlName="name" placeholder="Enter Organization Name" required="required" type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Please Enter Organization Name.</div>
                </div>
              </fieldset>

              <div class="form-buttons-w">
                <button class="btn btn-primary button1" [disabled]="!organizationForm.valid" type="submit"> Create</button>
                <button class="btn btn-white" type="cancel" (click)="Cancel()"> Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
