<div class="auth-box-w wider">

  <div class="logo-w">
    <a routerLink="/home"><img alt="" src="/images/logo-big.png"></a>
  </div>

  <h4 class="auth-header">
    Create Organization
  </h4>

  <form [formGroup]="organizationForm" id="formValidate">

    <p class="form-desc">
      Enter your organization information.
    </p>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name">
      <mat-error *ngIf="name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Purpose</mat-label>
      <textarea matInput  [formControl]="purpose"></textarea>
    </mat-form-field>

    <div class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">Failed to create organization.</span></div>

    <div class="buttons-w">
      <button class="right-button" mat-flat-button color="primary" [disabled]="!organizationForm.valid" type="submit" (click)="onCreate()">Confirm</button>
    </div>

  </form>


</div>
