<div class="content-i" fxLayout="row wrap" fxLayoutAlign="space-between">

  <div class="content-box compact">
    <div class="element-wrapper">
      <h6 class="element-header">
        Asset Settings
      </h6>
      <div class="element-box-tp">
        <div class="el-buttons-list full-width">
          <a mat-raised-button [routerLink]="brandLink" routerLinkActive="mat-primary" href="#"><span>Brands</span></a>
          <a mat-raised-button [routerLink]="unitLink" routerLinkActive="mat-primary" href="#"><span>Unit Of Measure</span></a>
          <a mat-raised-button [routerLink]="identifierLink" routerLinkActive="mat-primary" href="#"><span>Identifier Types</span></a>
          <a mat-raised-button [routerLink]="nameLink" routerLinkActive="mat-primary" href="#"><span>Name Types</span></a>
          <a mat-raised-button [routerLink]="roleLink" routerLinkActive="mat-primary" href="#"><span>Role Types</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box" fxFlex="1 1 auto">
    <router-outlet></router-outlet>
  </div>

</div>

