<div class="modal-panel">
  <div fxLayoutAlign="space-between" class="account-type-header">
    <h2 mat-dialog-title class="title title--account" fxFlexAlign="center">Choose your Account type.</h2>
    <button mat-dialog-close fxFlexAlign="flex-start" class="modal__close">+</button>
  </div>
  <div mat-dialog-content
       fxLayout.xs="column no-wrap"
       fxLayout.gt-xs="row no-wrap"
       fxLayoutAlign="end"
       fxLayoutGap.xs="42px"
       class="content">
    <div fxFlex="1 0 auto" class="img">
    </div>
    <ul fxLayout="row no-wrap" fxLayoutGap="6px" fxFlexAlign.xs="center">
      <li class="card" (click)="onSelect('personal')" [class.selected]="selectedType === 'personal'">
        <div class="card__content">
          <div fxLayoutAlign="flex-end" class="check-sign" ><fa-icon *ngIf="selectedType === 'personal'" [icon]="faCheck" class="card__icon--check"></fa-icon></div>
          <div><fa-icon [icon]="faUser" class="card__icon"></fa-icon></div>
          <h3 class="card__header">Personal</h3>
          <p class="card__desc">Use Troumaka as a personal asset manager.</p>
        </div>
      </li>
      <li class="card" (click)="onSelect('corporate')" [class.selected]="selectedType === 'corporate'">
        <div class="card__content">
          <div fxLayoutAlign="flex-end" class="check-sign" ><fa-icon *ngIf="selectedType === 'corporate'" [icon]="faCheck" class="card__icon--check"></fa-icon></div>
          <div><fa-icon [icon]="faUsers" class="card__icon"></fa-icon></div>
          <h3 class="card__header">Corporate</h3>
          <p class="card__desc">Create or join corporate account for more amazing features.</p>
        </div>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions fxLayoutAlign="flex-end">
    <button mat-flat-button class="button button--primary button--primary--small" (click)="onNext.emit(selectedType)">Next</button>
  </div>
</div>
