.modal-panel {
  padding: 30px 30px 40px 47px;
}

.account-type-header {
  margin-bottom: 51px;
}

.title--account {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;

  color: #2C4948;
  margin: 1px 0 0 0;
}

.mat-dialog-content {
  padding: 0;
  max-height: none;
  height: auto;
  overflow: hidden;
}

.content {
  margin: 0 0 20px;
  padding-right: 1px;
}

.img {
  height: 180px;
  background-image: url("../../css/images/account-type.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* ul card */

ul {
  padding: 0;
}

.card {
  width: 160px;
  height: 144px;
  background: #FFFFFF;
  border-radius: 8px;
  list-style: none;
}

.card__content {
  margin: 11px 13px 0 17px;
}
.card.selected {
  background: #004777;
  color: #FFFFFF;
}

.check-sign {
  height: 17px;
}

.card__icon--check {
  display: block;
  font-size: 17px;
  color: #23C7EF;
  opacity: 0.8;
}

.card__icon {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #004777;
}

.card.selected .card__icon {
  color: #FFFFFF;
}

.card__header {
  font-size: 14px;
  line-height: 16px;
  color: #004777;
}

.card.selected .card__header {
  color: #FFFFFF;
}

.card__desc {
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  opacity: 0.7;
}

/* media queries */
@media only screen and (max-width: 599px) {
  .account-type-header {
    margin-bottom: 43px;
  }

  .img {
    width: 100%;
  }

  .title--account {
    width: 177px;
  }

  .content {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 52px;
    padding-right: 0;
  }
  .modal-panel {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title--account {
    margin-left: 15px;
  }
}
