<!--<div class="row">-->
<!--  <div class="col-sm-5">-->

<!--    <div class="user-profile compact">-->
<!--      <app-photo [type]="'user'" [firstName]="user.firstName" [lastName]="user.lastName"></app-photo>-->
<!--      <div class="up-controls">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6">-->
<!--            <div class="value-pair">-->
<!--              <div class="label">-->
<!--                Status:-->
<!--              </div>-->
<!--              <div class="value badge badge-pill badge-success">-->
<!--                {{ user.status || "Unknown"}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="up-contents">-->
<!--        <div class="m-b">-->
<!--          <div class="row m-b">-->
<!--            <div class="col-sm-6 b-r b-b">-->
<!--              <div class="el-tablo centered padded-v">-->
<!--                <div class="value">-->
<!--                  {{ userMe.assignedAssets}}-->
<!--                </div>-->
<!--                <div class="label">-->
<!--                  Assigned Assets-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 b-b">-->
<!--              <div class="el-tablo centered padded-v">-->
<!--                <div class="value">-->
<!--                  {{ userMe.work }}-->
<!--                </div>-->
<!--                <div class="label">-->
<!--                  Work-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--    &lt;!&ndash; START OF USER ACTIVITY &ndash;&gt;-->
<!--    <div class="element-wrapper">-->
<!--      <div class="element-box">-->
<!--        <h6 class="element-header">-->
<!--          User Activities-->
<!--        </h6>-->
<!--        <div class="timed-activities compact">-->
<!--          <div class="timed-activity" *ngFor="let act of userMe.activities">-->
<!--            <div class="ta-date">-->
<!--              <span>{{act.date | date:'mediumDate'}}</span>-->
<!--            </div>-->
<!--            <div class="ta-record-w">-->
<!--              <div class="ta-record" *ngFor="let acts of act.acts">-->
<!--                <div class="ta-timestamp">-->
<!--                  <strong>{{ acts.date | date:'shortTime' }}</strong>-->
<!--                </div>-->
<!--                <div class="ta-activity">-->
<!--                  {{ acts.description }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; END OF USER ACTIVITY &ndash;&gt;-->
<!--  </div>-->

<!--  &lt;!&ndash; END OF Profile SECTION &ndash;&gt;-->


<!--  <div class="col-sm-7">-->
<!--    <div class="element-wrapper">-->
<!--      <div class="element-box">-->
<!--        <form [formGroup]="userMeForm">-->
<!--          <h5 class="form-header">Personal<i *ngIf="activePane === 'left'" class="os-icon os-icon-pencil-2 float-right blue-icon" (click)="setActivePane('right')"></i></h5>-->

<!--          <div class="slider-container">-->
<!--            <div class="parent-slider" [@slide]="activePane">-->
<!--              <div class="child-slider">-->
<!--                <div class="card-front-elements">-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-3">-->
<!--                      <span class="front-card-header">First Name</span>-->
<!--                    </div>-->
<!--                    <div class="col-sm-9">-->
<!--                      <span class="front-card-text">{{user.firstName}}</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card-front-elements">-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-3">-->
<!--                      <span class="front-card-header">Middle Name</span>-->
<!--                    </div>-->
<!--                    <div class="col-sm-9">-->
<!--                      <span class="front-card-text">{{user.middleName}}</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card-front-elements">-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-3">-->
<!--                      <span class="front-card-header">Last Name</span>-->
<!--                    </div>-->
<!--                    <div class="col-sm-9">-->
<!--                      <span class="front-card-text">{{user.lastName}}</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card-front-elements">-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-3">-->
<!--                      <span class="front-card-header">Password</span>-->
<!--                    </div>-->
<!--                    <div class="col-sm-9">-->
<!--                      <span class="front-card-text">••••••••</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="child-slider">-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-12 col-md-4">-->
<!--                    <mat-form-field class="example-full-width" appearance="outline">-->
<!--                      <mat-label>First Name</mat-label>-->
<!--                      <input matInput [formControl]="firstName">-->
<!--                      <mat-error *ngIf="firstName.hasError('required')">-->
<!--                        First name is <strong>required</strong>-->
<!--                      </mat-error>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->

<!--                  <div class="col-sm-12 col-md-4">-->
<!--                    <mat-form-field class="example-full-width" appearance="outline">-->
<!--                      <mat-label>Middle Name</mat-label>-->
<!--                      <input matInput [formControl]="middleName">-->
<!--                    </mat-form-field>-->
<!--                  </div>-->

<!--                  <div class="col-sm-12 col-md-4">-->
<!--                    <mat-form-field class="example-full-width" appearance="outline">-->
<!--                      <mat-label>Last Name</mat-label>-->
<!--                      <input matInput [formControl]="lastName">-->
<!--                      <mat-error *ngIf="lastName.hasError('required')">-->
<!--                        Last name is <strong>required</strong>-->
<!--                      </mat-error>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <mat-form-field class="example-full-width" appearance="outline">-->
<!--                  <mat-label>Username</mat-label>-->
<!--                  <mat-icon matPrefix color="primary">email</mat-icon>-->
<!--                  <input matInput [formControl]="username">-->
<!--                  <mat-error *ngIf="username.hasError('validateEmail') && !username.hasError('required')">-->
<!--                    Must be a phone number or email address and not be taken.-->
<!--                  </mat-error>-->
<!--                  <mat-error *ngIf="username.hasError('required')">-->
<!--                    Username is <strong>required</strong>-->
<!--                  </mat-error>-->
<!--                </mat-form-field>-->

<!--                <div class="row">-->
<!--                  <div class="col-6">-->
<!--                    <mat-form-field class="example-full-width" appearance="outline">-->
<!--                      <mat-label>Password</mat-label>-->
<!--                      <mat-icon matPrefix color="primary">fingerprint</mat-icon>-->
<!--                      <input matInput [formControl]="password" type="password">-->
<!--                      <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">-->
<!--                        At least eight characters: 1 upper case letter, numeric, and special character.-->
<!--                      </mat-error>-->
<!--                      <mat-error *ngIf="password.hasError('required')">-->
<!--                        Password is <strong>required</strong>-->
<!--                      </mat-error>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->

<!--                  <div class="col-6">-->
<!--                    <mat-form-field class="example-full-width" appearance="outline">-->
<!--                      <mat-label>Confirm Password</mat-label>-->
<!--                      <mat-icon matPrefix color="primary">fingerprint</mat-icon>-->
<!--                      <input matInput [formControl]="password" type="password">-->
<!--                      <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">-->
<!--                        Must match your new password.-->
<!--                      </mat-error>-->
<!--                      <mat-error *ngIf="password.hasError('required')">-->
<!--                        Confirm password is <strong>required</strong>-->
<!--                      </mat-error>-->
<!--                    </mat-form-field>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div  class="error-box-text"><span [hidden]="doNotDisplayFailureMessage" class="text-danger">{{errorMessage}}</span></div>-->

<!--                <div class="form-buttons-w">-->
<!--                  <button mat-flat-button color="primary" [disabled]="!userMeForm.valid" type="submit" (click)="onUpdate()">Update</button>-->
<!--                  <button class="right-button-form" mat-stroked-button color="warn"  type="button" (click)="cancel()">Cancel</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </form>-->
<!--      </div>-->

<!--      <div class="element-box">-->
<!--        <app-contact-info type="user" [contactInfo]="userMe.user.contactInfo"></app-contact-info>-->
<!--      </div>-->

<!--      <div class="element-box">-->
<!--        <app-address type="user" [address]="userMe.user.address"></app-address>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--</div>-->

