/* BUTTON */
.button {
  height: 51px;
  border: 1px solid #EFEFF8;
  border-radius: 28px;
  line-height: 20px;
  color: #FFFFFF;
}

.button--primary {
  background: #004777;
}

.button--primary[disabled] {
  background: #004777;
  opacity: 0.3;
  cursor: not-allowed;
}
