input {
  width: 100%;
  border: 1px solid #EFEFF8;
  border-radius: 8px;
  padding-left: 18px;
  line-height: 14px;
  outline: none;
}

input:focus {
  border: 0.75px solid #004777;
}

/* input */
.form-control {
  min-height: 93px;
}

.fc-label {
  display: block;
  line-height: 14px;
  margin-bottom: 7px;
  margin-left: 6px;
}

.fc-label--hidden {
  display: none;
}

.fc-input {
  height: 51px;
}

/* end of input */

.fc-error {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.01em;
  color: #F54430;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.fc-error__icon {
  margin-right: 7px;
}


/* number edit */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* search-with-label */
.search-with-label {
  position: relative;
}

.fc-input-icon--left {
  padding-left: 71px;
}

.icon-left {
  position: absolute;
  left: 33px;
  line-height: 51px;
}

.icon-left .mat-icon-button {
  margin-top: 5px;
}

.icon-left--blue--others {
  position: absolute;
  left: 33px;
  line-height: 51px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #23C7EF;
  opacity: 0.8;
}

.icon-left--blue {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #23C7EF;
  opacity: 0.8;
}

/* dropdown */
.fc-dropdown {
  position: relative;
}

.input-dropdown {
  position: absolute;
  top: 61px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  z-index: 3;
  height: 150px;
}

.input-dropdown-list {
  max-height: 150px;
  padding: 20px 0 10px 0;
  overflow-y: auto;
}

.input-dropdown-list__item {
  display: block;
  width: 100%;
  height: 37px;
  font-size: 13px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
  padding-left: 19px;
}

.input-dropdown-list__item:hover {
  background: #f5faff;
}
